[2015-09-30 17:24] Dean151 opened #1 "Text is duplicated with TextAreaRow"
I've found a graphic bug that occurs with TextAreaRow ;

I want to use that row to display non editable disclaimer text.
But when I do using the value property, a label is present with a duplicated version of the text.

I tried to force to an empty string the title and the placeholder with the same result.
Here is a screenshot of what happens. I've scrolled a little to be sure that the text is vis

[2015-09-30 17:27] Dean151 commented on #1
This problem does not occurs if I set my text in placeholder instead of value, but this row does not allow to change the placeholderColor, so it results with the disabled state with a very bright gray.

[2015-09-30 18:43] ageorgios opened #2 "Multi row text input"
Is there a way to have multi-line text input?

[2015-09-30 18:44] ageorgios opened #3 "Button row as a button"
How to use a button row as a button without going into a segue?

[2015-09-30 18:46] #2 closed

[2015-09-30 18:46] ageorgios commented on #2
TextAreaRow is the answer

[2015-09-30 19:09] mtnbarreto commented on #3
@ageorgios very good question..
This is pretty simple using on cell selection callback

[code]

Regards

[2015-09-30 20:54] 3cooper opened #4 "Customize row after creation (cellUpdate)"
I have a field that I would like to highlight after a validation error. From looking at the documentation I'm not sure where I would customize it after the field has already been initialized.  For example, I'd like to change the color of the label when there is an error.

[2015-10-01 04:10] xinwo commented on #1
any solution?

[2015-10-01 05:04] #1 closed

[2015-10-01 05:05] mtnbarreto commented on #1
@Dean151 It was a small issue in my end.
Now it should work.
Thanks

[2015-10-01 05:06] #3 closed

[2015-10-01 05:13] AtharvaVaidya opened #6 "Change row value after an unwind segue"
I have a row that when pushed segues to another view controller. How do I change the value of the row in prepareForSegue when I'm unwinding back to my original view controller?

[2015-10-01 12:42] mats-claassen commented on #4
There is still no direct means to do validation but you could use the `onChange` callback on the row you want to validate and if there is an error with the new value set to that row then you can change the cell.
Do not forget to call `row.cellUpdate()` after customizing your cell.

[2015-10-01 12:55] 3cooper commented on #4
Thanks for the info.  My question was more about the appropriate way to update the row.  Like if I wanted to change the label color, should I drill down to the label with row.cell.label and set it's tint color?  I'm trying to look things up in the code but I'm new to swift and this is the first project I've tried to navigate through.

[2015-10-01 18:45] AtharvaVaidya commented on #6
I got it by calling updateCell on the row.

[2015-10-01 18:45] #6 closed

[2015-10-01 20:45] btripp opened #9 "Would love to see a currency field / row added. (Formatters)"

[2015-10-01 22:35] phiberjenz opened #10 "Evaluate hidden/disabled at onCellSelection callback"
Maybe I'm doing it wrong, but is it possible to evaluate if a row/section should be hidden based on if another row is selected?

I can get it to work when the value of the other row changes, but not when it is selected.

EDIT:
Is there no possibility to set the hidden status of a row from another function? I'm trying to set one rows hidden status from another rows onCellSelection handler, but it d

[2015-10-02 05:42] dwightwatson opened #11 "Disable selected cell title highlighting"
Is it possible to disable the highlighting of the title of the currently selected cell? I don't see it in the documentation, and a quick browse through the code seems to indicate you'd need to manually set the highlight colour to be the same as the default text colour. It would be great if there was a way you could disable it completely.

[2015-10-02 11:48] prine opened #12 "TextAreaRow does not hide placeholder when value is setted"
First of all thanks for this awesome library!

I am not 100% sure if I am doing it right. But when I set a value on a TextAreaRow the placeholder is still beeing shown and a strange overlay with the value is also displayed.

![screen shot 2015-10-02 at 13 45 48](https://cloud.githubusercontent.com/assets/265674/10245861/07619762-690c-11e5-8f40-3ab9227dbfe9.png)

Here is the code I use to set the v

[2015-10-02 13:42] mtnbarreto commented on #10
@phiberjenz I have never tried but i think this may work:
I'm not sure what row selection means for you...

[code]

if it doesn't work you can also play with `onCellHighlight` callback that was added to master branch (not available on 1.0.0).

[2015-10-02 13:51] mtnbarreto commented on #9
@btripp
What do you mean by currency field?
We have added support for `NSFormatter`s, look at the example project which contains a field that shows a currency value.
Eureka gives the ability to set up any custom formatter to a field cell or create a completely new row type.

[2015-10-02 15:27] mtnbarreto commented on #12
@prine
We have already fixed the issue, take a look here #1

[2015-10-02 15:27] #12 closed

[2015-10-02 18:20] mbopp opened #13 "Popover Selection Field"
Is there a way to replicate the `XLFormRowDescriptorTypeSelectorPopover` field type using eureka?  Does this need to be done as a custom field, are there examples?

Thanks so much.

[2015-10-02 20:37] ylecuyer opened #14 "Fix Usage in readme"
The Usage part in the readme is wrong.

It should explain that you must create a ViewController with a tableview inside (style grouped) and a referencing outlet to the FormViewController owned by the UIViewController.

Moreover, example rows (WeekdayRow, FloatLabelRow) are non standard rows, the should be replaced by IntRow and TextRow for instance.

[2015-10-02 21:12] mtnbarreto commented on #11
@dwightwatson
The easiest way to do that is making use of default row initializers.

The following code disable `NameRow` highlighting.

[code]

You should do the same to each row type you want to disable.
Cheers

[2015-10-02 22:23] mtnbarreto commented on #4
@3cooper

From inside `onChange` you can access to the associated cell `row.cell` and change any property.

If you want to persist your change in the time for this specific row i would recommend to change the cell look and feel from inside `row.updateCell` clousure that will be executed each time the cell is displayed and any invocation to row.cellUpdate() will not override your `cellUpdate` custo

[2015-10-03 04:02] dwightwatson commented on #11
Awesome, nice solution. Thank you!

[2015-10-03 04:02] #11 closed

[2015-10-03 14:56] douglasd3 opened #15 "Custom datePicker ( picker view )"
Hello, is there any way to the datePicker shows only year? This is a constraint in UIDatePicker class and maybe would be a great functionality for Eureka.

[2015-10-03 21:28] phiberjenz opened #16 "Supply values dictionary for form"
There is a function to pull all values from the form in a dictionary by calling form.values(includeHidden: Bool).

Is there a simple way to submit values by using a modified dictionary?

EDIT: This would serve as a means to save a form and reload them as they were left.

[2015-10-04 13:16] thiagoross commented on #9
That would be nice.

I think I know what he is talking about. I made a component to format a NSNumber given a currencyCode, for example.

What would be great is a field where you set a value (NSNumber), and a currencyCode (BRL, USD, etc..) and it formats the number for you like R$ 1.234,00 or US$ 1,234.00. A price field.

If you want to take a look at my component:
https://github.com/thiagoross/TR

[2015-10-04 18:43] mathmatrix828 opened #17 "Adding Reorder/Delete functions to sections (multivalued section)"
In XLForm this functionality was defined by XLFormSectionDescriptor(tag: sectionOptions:), but this feature seems to be missing in Eureka

[2015-10-04 20:38] 3cooper commented on #4
I don't understand what is happening with the following.  I am calling this code from within viewDidLoad.  When the form appears, the text in the label is Phone Number foo.  But when I debug, I can see that it goes inside the cellUpdate method before showing the form.  If I add a call to updateCell() in viewWillAppear, then the label will say Phone Number bar.  Just trying to understand what is ha

[2015-10-05 00:41] RafaelGadret opened #18 "Changing the value of an ActionSheetRow from another row ( rowByTag )"
Hello!
I’m Trying to change a value of a ActionSheetRow based on the value of a DateTimeRow from inside the OnChange() function.
When I try to create a constant “mycell” using the rowByTag function the compiler throws: 'Cannot convert value of type 'BaseRow?' to specified type 'ActionSheetRow!’
But if I change the type to DateTimeRow it compiles fine. See example below.
How can I make it work?
Tha

[2015-10-05 08:21] prine commented on #12
Ah sorry, didnt see that there was already an issue about that. Would be nice to have these fixes integrated in the Cocoapods version.

[2015-10-05 17:04] mtnbarreto commented on #15
@douglasd3 As you said there is a datePicker constraint that don't allow us to make use of DateRow or similar row.

It seems to me that this is a specific case of a picker view selector that we want to implement shortly.
Picker view selector row will allow us to set a collection of dates and configure the displayValueFor in order to show only the year of the NSDate.
Alternatively we can set up the

[2015-10-05 18:50] SpacyRicochet commented on #14
None of this should be necessary, right? After creating a new Single View App, the only change I introduced was installing Eureka as a CocoaPod and adding some lines of code to the `viewDidLoad()` (see code below). The `Main.storyboard` hasn't been changed.

[code]

[2015-10-05 19:18] mtnbarreto commented on #17
@mathmatrix828
This feature was not implemented yet but we have plans to do it.

Regards

[2015-10-05 19:43] ylecuyer commented on #14
It works like that but you can't manage the view from the storyboard. I
extracted the steps I explained before from the example app that is bundled
into the repo

On Mon, 5 Oct 2015 20:50 Bruno Scheele <notifications@github.com> wrote:

[2015-10-05 20:14] RafaelGadret commented on #18
After a little struggle, The correct answer is:
 let mycell: ActionSheetRow<String>! = self?.form.rowByTag("mytag”)

[2015-10-05 20:14] #18 closed

[2015-10-05 20:17] mtnbarreto commented on #18
@RafaelGadret `ActionSheetRow` is a generic type so the proper way to get the row is `let mycell: ActionSheetRow<String>! = self?.form.rowByTag("myth”)` considering the row value type is String.

If you are using another row value type you should replace String by this type.

[2015-10-05 20:29] SpacyRicochet commented on #4
When the form is loaded, the tableview is created and the cells will be displayed. This calls the UITableViewDelegate's `willDisplayCell:` of the FormViewController, which calls for `updateCell`. That's why the cellUpdate block is called after `viewDidLoad`.

As for why you initially see "Phone number foo", _even though_ the cellUpdate has been called once, the cellUpdate method is only called **a

[2015-10-05 20:39] SpacyRicochet commented on #14
Noted. Still, the README isn't so much wrong as that it could use an extra section explaining how to initialise a proper FormViewController from a Storyboard. You're probably welcome to write one :)

I'm actually wondering why you would want to manage the FormViewController's at all from a Storyboard. Seems like a FormViewController is rather specifically tied to being its own delegate and dataSou

[2015-10-05 21:50] mtnbarreto commented on #16
@phiberjenz done

[2015-10-05 21:50] #16 closed

[2015-10-05 21:55] phiberjenz commented on #16
Wonderful!

[2015-10-05 22:00] phiberjenz commented on #10
Thanks, evaluateHidden() did the trick. Works like a charm.

[2015-10-05 22:00] #10 closed

[2015-10-06 01:23] 3cooper commented on #4
@SpacyRicochet - thanks for the explanation.  So I guess my issue is that in cellUpdate I am changing the label via `row.value` rather than using `cell.detailTextLabel.text`.  Thanks again for the explanation.  I'm trying to find my way through the codebase but having some difficulty tracing through all the layers. Still learning...

[2015-10-07 02:39] rajeshmani27 opened #19 "is there adaptive layout enabled or way to enable it in Eureka form?"
I wanted to check if there is a way to enable a selection of options via push viewcontroller to show up as a detail view controller in UISplitViewcontroller in iPad using Size class.

Thanks in advance

[2015-10-07 03:15] dwightwatson opened #20 "Automatically assign first responder when view is displayed"
Is it possible to automatically assign the first responder when the form is created/displayed? For example, the first enabled input should open the keyboard and be open to input from the user.

I'm coming across from [XLForm](https://github.com/xmartlabs/XLForm) (which I just found out was also created by you guys, great work!) which has the `assignFirstResponderOnShow` property.

[2015-10-08 18:25] sureshjoshi opened #22 "How do I add margin/padding directly to an existing cell?"
Hi, I have a custom form style, which looks like this:
![comments](https://cloud.githubusercontent.com/assets/3823045/10375750/38e5c5d6-6dc8-11e5-9061-23e9206d6442.png)

I'd like all of my forms to have a similar look, so I'm not sure if this should be a custom Xib, or whether I can just override a cell format.

My thought was just to alter the text color, background color, and margins of existing

[2015-10-08 18:26] sureshjoshi opened #23 "Multiple check forms in a 'row' (custom row, custom cell)"
I want to have multiple check boxes in the same 'row' or same 'UI control'. I think this is similar to the Weekdays checkbox in the examples, but is there a default control which will sit several checkboxes next to each other?

![multchoice](https://cloud.githubusercontent.com/assets/3823045/10375828/9099955a-6dc8-11e5-97ac-dc6b4d5d7886.png)

[2015-10-09 18:22] ageorgios opened #24 "Cannot reference TextAreaRow"
form +++ Section("URL")
                <<< TextAreaRow("URL") {
                    $0.tag = "theURL"
                    $0.value = self.entry.url
                    }.onChange{ [weak self] row in
                        //do something
                }

            let urltextrow: TextAreaRow = self.form.rowByTag("theURL")!
            urltextrow.value = url.absoluteString

the value of the Te

[2015-10-09 18:24] ageorgios opened #25 "TextAreaRow placeholder"
when entering a value to TextAreaRow the placeholder also appears on screen

[2015-10-09 18:25] #25 closed

[2015-10-09 21:16] mtnbarreto commented on #24
@ageorgios
I the table view was already displayed you should invoke
[code]
to update the cell.

Taking a look at the code you posted, it doesn't make sense to initialize a row using `URL` as row tag and then change it to `theURL `.

[2015-10-09 21:40] mtnbarreto commented on #23
@sureshjoshi
Eureka doesn't provide such multiple checkbox control by default. However you can easily create it by following this guide: https://github.com/xmartlabs/Eureka#how-to-create-custom-rows-and-cells--

Eureka example project could also be helpful, in particular `WeekDayRow` that is created using a xib file.

Let me know if you get stuck at some point.

[2015-10-09 22:27] mtnbarreto commented on #22
@sureshjoshi

It seems to me the easiest way to add padding/margin is changing the `contentView.layoutMargins` as is shown below.

Eureka allows you to customize the look a feel of a particular row type by just setting up `defaultCellSetup` or/and `defaultCellUpdate` properties.

let's say you want to change how TextRow looks like:

[code]

Even though `cell`, `row` parameters are strongly typed,

[2015-10-09 22:38] mtnbarreto commented on #20
@dwightwatson We will not add this functionality to Eureka.

However you can easily set the first responder by...

[code]

[2015-10-09 22:53] #20 closed

[2015-10-09 23:01] #23 closed

[2015-10-09 23:01] #22 closed

[2015-10-10 06:31] dwightwatson commented on #20
Awesome, thanks for that!

Out of curiousity, is there a reason that feature won't come to Eureka?

[2015-10-10 08:34] ageorgios commented on #24
thanks for the answer, it needed the updateCell()
as for theURL just a typo

[2015-10-10 08:34] #24 closed

[2015-10-10 16:16] sureshjoshi commented on #22
@mtnbarreto Thanks Martin! That helps alot!

Is there a way to set similar visual defaults for a Section?

[2015-10-10 23:34] mathmatrix828 opened #26 "Custom Class for PushRow"
PushRow does not seem to have the .action attribute found in XLForm. I'm guessing this is a feature that's in the works?

[2015-10-11 22:54] mtnbarreto commented on #20
@dwightwatson
Is not as used as we initially thought and at the same time is pretty easy to get it work.
More features means more to maintain ;)

[2015-10-12 06:25] RafaelGadret opened #27 "How do I change the height of a SegmentedRow<String>() controller?"
Hello: maybe a silly question, but how do I change the height of a SegmentedRow<String>() controller? I try a lot of things, like:
...
<<< SegmentedRow\<String\>() {
$0.options = ["Cancel Edit", "Skip", "Done"]
let frame = UIScreen.mainScreen().bounds
$0.cell.segmentedControl.frame = CGRectMake(frame.minX + 10, frame.minY + 50,frame.width - 20, frame.height*0.5)
}
...
Can you help me? Thanks!

[2015-10-12 08:22] browndev opened #28 "Issue when Eureka rows come into view"
I am experiencing an issue at runtime.
Which is throwing:
[code]
I have experienced this issue even with forms only containing a single standard section and row.
This is most likely an issue with external setup but if you could give me any pointers it would be a great help.

[2015-10-12 12:48] orkunbaba opened #29 "FloatLabelRow onChange event not triggered"
.....
<<< FloatLabelRow() {
                $0.title = "My Title"
                }.onChange {  row in
                   print(row.value)
            }
......
in this code onChange is not triggered. When i use TextRow its triggered. is there any solution for this?

regards

[2015-10-12 13:17] tomasKa opened #30 "How to use the ButtonCell"
There are some samples for other rows but ButtonRow is not well explained in the sample project. Would be super nice to have a bit betted documentation for use cases. E.g how I call an action on a button row.

[2015-10-12 16:56] SpacyRicochet opened #31 "Unnecessary abstraction in _XRow and XRow classes?"
I'm confused on why there is a extra layer of abstraction between the _actual_ Row classes and their `final` versions. For example:

[code]

[code]

It seems to me that having `_DateInlineRow` is superfluous to `DateInlineRow`, **especially** since the `DateInlineRow` overrides the initialiser with something that apparently could have been put in `_DateInlineRow` instead.

And most of the other ve

[2015-10-12 17:46] #29 closed

[2015-10-12 17:50] mtnbarreto commented on #29
@orkunbaba Thank for reporting the issue!

 `FloatLabelRow ` was added as an example and is not provided by default in Eureka. Anyway the issue is fixed now.

[2015-10-12 19:11] mtnbarreto commented on #28
@browndev Could you please post the code that causes the exception?

[2015-10-12 19:14] mtnbarreto commented on #28
I've tested it with

[code]

and

[code]

and it works as expected.

[2015-10-12 19:53] tnwt7 commented on #28
@browndev What is your deployment target version?
I started my new project with 9.1 and found exactly the same error as you. But then changed to 8.0 and everything run fine.
Don't know this is the real reason or not, but it solved my problem.

[2015-10-12 21:01] mtnbarreto commented on #31
@SpacyRicochet  great question!

Basically the `final` modifier is needed to automatically inject the implementation of `RowType` protocol `initialiser`. This implementation is provided through `RowType` protocol extension.

Swift doesn't allow us to add a `required` nor `convenience` modifier to a protocol `init` declaration neither to a protocol extension implementation so I ended up adding the

[2015-10-12 23:30] rajeshmani27 opened #32 "How to launch an action from a value selected in Actionsheet row"
I have the following requirement and trying to see how best to achieve it using Eureka Form..any inputs would be great.
1) User clicks on the "Select File from" row. The value of the row is thumbnail of a file selected with a UILabel appended to it describing the file name

2)  Selecting the row launches an Actionsheet with various file selection options "example: select from camera roll, select f

[2015-10-13 01:50] wallance opened #33 "Button Cell is Not Deselected"
I created a simple button with the following code, but when I select the button it is not deselected.  Is this supposed to be handled automatically by the library, or do I have to call a specific method?

[code]

[2015-10-13 01:56] mtnbarreto commented on #33
@wallance Eureka should've deselected the row automatically.
I'm gonna commit the fix on master branch.

[2015-10-13 01:58] #33 closed

[2015-10-13 04:24] #31 closed

[2015-10-13 04:59] real0x0000 commented on #28
@browndev What is your Xcode version?
I am using Xcode 7.1 beta and found the same error with you. But when I changed to Xcode 7 everything run fine.

[2015-10-13 07:38] tnwt7 commented on #28
Seem like @real0x0000 is right. I am using Xcode 7.0.1. I cannot reproduce these error messages in this version of Xcode.

[2015-10-13 10:30] clooth commented on #32
There is the `FormDelegate` protocol that has a `func rowValueHasBeenChanged(row: BaseRow, oldValue: Any, newValue: Any)` method.

Maybe try that?

[2015-10-13 17:11] mtnbarreto commented on #28
Apparently a swift 2.1 change on how the function type casting works is causing the exception. I will upload a fix shortly.

[2015-10-14 04:29] AtharvaVaidya commented on #32
Use a labelRow and use the cellSelection function to bring up an actionSheet and then you can mention what you want to do in the completion callback of the UIAlertAction.

[2015-10-14 04:48] AtharvaVaidya opened #34 "How do I change the textColor for the textLabel in the LabelRow?"
I want to change the color of the text of a labelCell. I tried overriding the willDisplayCell function of the tableView, but it didn't work.

[2015-10-14 06:37] rajeshmani27 commented on #32
I tried labelRow with cellSelection function that creates an actionsheet (using UIAlertcontroller) and get the following error
"...Attempting to load the view of a view controller while it is deallocating is not allowed and may result in undefined behavior .."

[2015-10-14 06:45] AtharvaVaidya commented on #32
Here's my code and it doesn't give me any error:

[code]

[2015-10-14 07:29] rajeshmani27 commented on #32
thank you AtharvaVaidya for the sample code. It works..I realized I forgot to add self.presentViewController(alertviewcontroller...) line and hence the error.

In terms of display of the information back in the Row cell, the scenario I have is when there is no data, display just the LabelRow ("Select File From.."), but if there is data, display the a Row as "ImageView representing thumbnail of sel

[2015-10-14 07:33] rajeshmani27 commented on #32
@clooth I tried your suggestion of overriding the row value has changed method..however, that results in "Declaration from extension can't be overridden yet" error.

 func rowValueHasBeenChanged(row: BaseRow, oldValue: Any, newValue: Any)

[2015-10-14 21:57] #28 closed

[2015-10-14 22:08] mtnbarreto commented on #28
Now it should work.
It seems that Swift2.1 compiler no longer allows function type downcasting.
I had to do some tricks to make it work on 2.1 and don't make changes on Eureka public API.
@browndev @tnwt7 @real0x0000 Thanks for helping me reproduce the issue. 🚀

[2015-10-15 11:37] gmertk opened #36 "navigationOptions = .None not working"
Hi,

You can also see this in "Accessory View Navigation" of the example project. When I switched off navigation accessory view, I still get the navigation view as seen in the screenshot below.

![simulator screen shot 15 oct 2015 14 32 51](https://cloud.githubusercontent.com/assets/907281/10512516/ba0c38d0-7349-11e5-9b30-a7252f49784a.png)

I expected to have no view above the keyboard when I set

[2015-10-15 16:54] mtnbarreto commented on #36
@gmertk
It seems that Swift static analyzer and compiler get confused when we use the reduced syntax` .None` instead of `RowNavigationOptions.None`.

I think swift error is due to `navigationOptions` property is a OptionalType and optional is internally represented as .None (take a look optional definition below):

[code]
I will rename .None to .Disabled to avoid the error.
Thanks for reporting th

[2015-10-15 16:55] #36 closed

[2015-10-15 18:20] mtnbarreto commented on #4
@SpacyRicochet Each Eureka row has a associated UITableViewCell.

Whenever a cell is about to appear `willDisplay` is invoked, `willDisplay` invokes row.updateCell() that does this steps:

1. create the cell.
2. invoke cell.Update() // this set up default cell style and makes use of row properties to set up the cell (for example the detailTextLabel.text using row.value)
3. Invokes the cellUpdate d

[2015-10-15 18:20] #4 closed

[2015-10-15 18:54] tnwt7 commented on #28
Thank you @mtnbarreto !

[2015-10-15 18:59] mtnbarreto commented on #9
TextField rows provided by default have a formatter property that can be used to set up any formatter.

for instance:

[code]

I think that setting up the formatter is enough and there is no need to use a different row.
Anyway If you want to provide a default formatter customization you can extend from
`public class FieldRow<T: Any, Cell: CellType where Cell: BaseCell, Cell: TextFieldCell, Cell.Va

[2015-10-15 18:59] #9 closed

[2015-10-15 20:09] gmertk commented on #36
Thanks for the quick fix @mtnbarreto I would appreciate if you can push a new release on cocoapods

[2015-10-16 02:02] AtharvaVaidya commented on #32
Get the row you want to hide by
    self.form.rowByTag("")
Then
[code]

[2015-10-16 02:16] AtharvaVaidya commented on #27
Maybe the reason it isn't working is because the setup method of the segmentedRow supersedes your code.
Try subclassing SegmentedRow and then overriding the setup function. Set the frame you want in the setup function.

[code]
Look at the Readme.md for more info on how to make custom rows.

[2015-10-16 12:02] wallance opened #37 "Display an edit version of the form"
Is it possible to reuse the same form when you want to allow the user to edit data that was previously submitted?  If so, can a code example be provided of how to create the form with pre-populated field?

[2015-10-16 13:45] mkoppanen opened #38 "Appearance proxies"
Hello,

I've been using XLForm for quite a while and it does save a lot of time while making forms. While you are developing Eureka I would like to suggest including Appearance proxies and global appearance methods in to it.

While it is possible to change to for example font of _most_ elements in XLForm, it's a bit tedious to do element by element. Rarely do I have cases where I want to have mult

[2015-10-16 19:59] mathmatrix828 commented on #26
Using workaround ButtonRow().onCellSelection: { self.presentViewController: }

[2015-10-16 20:21] ageorgios opened #40 "cannot use ButtonRow title in condition"
$0.hidden = .Function(["login"], { form -> Bool in
                    let row: ButtonRow! = form.rowByTag("login")
                    return row.title == "Register"   <- this returns EXC_BAD_INSTRUCTION
                })

When trying the above code, i resulted in EXC_BAD_INSTRUCTION

[2015-10-17 13:20] davidrothera commented on #38
:+1: Would love this feature as well

[2015-10-18 18:52] tp opened #41 "Readonly mode as opposed to disabled"
What do you think of a read-only mode that does not change the appearance to light grey, but does not allow editing either?

The use-case I have in mind is a global "Edit" button, that just enables editing on the form without it changing its appearance.

[2015-10-18 19:47] tp commented on #30
I use it like this:

Create the button row:
[code]

And provide a handler in your form class:
[code]

[2015-10-19 16:21] fnk0 opened #42 "TextArea pre filled information weird behavior"
1st of all thank you so much for this fantastic library!!

I'm experience a strange bug. So for this app I'm developing the user submits data to the server with each picture taken. To speed up future submissions is the app saves the previous user input. Everything works fine except for the TextArea row. Here's a screenshot of the behavior.

Here is how I'm instantiating the row:

[code]

Any ideas

[2015-10-19 22:08] litmisty opened #43 "Section's title and description with NSLocalizedString"
[code]

I want to create section with ```NSLocalizedString``` but it doesn't allow to do it.
The error is below
```Cannot invoke initializer for type 'Section' with an argument list of  type '(String)'```

[2015-10-19 22:15] phiberjenz commented on #43
I can't tell exactly why it is like this, but here's my work-around:

<code>let newSection = Section(HeaderFooterView<UIView>(NSLocalizedString("Title", comment: "Title")))</code>

[2015-10-19 22:19] litmisty commented on #43
It yields this error
```Ambiguous reference to member 'HeaderFooterView<ViewType>.init'```
I'm using Xcode 7.0.1

[2015-10-19 22:23] phiberjenz commented on #43
Yep it does, this is the correct code:

<code>let newSection = Section(HeaderFooterView<UIView>(stringLiteral: NSLocalizedString("Title", comment: "Title")))</code>

Sorry about that.

[2015-10-20 02:00] litmisty commented on #43
It works! Thank you. :+1:

[2015-10-20 12:48] havocked opened #44 "How to get all row rows from one section ?"
Say we got a section "Loans" with multiple rows.

Section 1 tag: Loans
- row Loan 1 value: 10000
- row Loan 2 value: 20000
- row Loan 3 value: 30000

Would it be possible to do that kind of stuff ?

[code]

Anyway, Thanks for this great library !

[2015-10-20 23:08] mtnbarreto commented on #44
I'm not sure if i understood the question.

`Section` is a collection of `BaseRow` (row base class) and conforms to `CollectionType` so having a `Section` you can iterate over its row by:

[code]

or you can get an array containing its rows by:

[code]

There are much more methods added by the `CollectionType` protocol extension. Look at this post ([Swift Collection Protocols](http://nshipster.com

[2015-10-20 23:17] mtnbarreto commented on #43
@litmisty Thanks for helping out! 👍
Even though this is the way to pass a `NSLocalizedString` as section title constructor parameter I think we will need to add a convenience initializer to `Section` class to make this easier.

[2015-10-20 23:17] #44 closed

[2015-10-20 23:35] mtnbarreto commented on #41
@tp
it's not a common scenario. Let's see if someone else ask for it to define if it worth adding it.
Anyway I think you can easily accomplish it by doing:

[code]

[2015-10-20 23:35] #41 closed

[2015-10-21 01:37] mtnbarreto commented on #40
@ageorgios
Apparently "login" row was not added yet when the hidden condition is first evaluated. This happens right after the row that has a the hidden property is added to its section.  At this time `form.rowByTag("login")` return nil and `row.title` throws an Exception.

When the dependent row is added, in this case  "login" row, the condition is re-evaluated and form.rowByTag("login") returns

[2015-10-21 01:37] #40 closed

[2015-10-21 02:33] #43 closed

[2015-10-21 03:04] mtnbarreto commented on #36
done!

[2015-10-21 13:20] mtnbarreto commented on #42
@fnk0 it seems that the link is broken.

Probably your issue is the same as this: https://github.com/xmartlabs/Eureka/issues/1. If not let me know.

regards

[2015-10-21 13:20] #42 closed

[2015-10-21 16:03] mtnbarreto commented on #37
Yes, you can use `setValues` method which is declared in `Form` class to set a collection of values to the form.

This is the function implementation:

[code]

Each row value type must match with the related dictionary value.

[2015-10-21 18:20] #37 closed

[2015-10-21 23:15] creisterer-db opened #45 "Crash on attempt to show/hide rows in a hidden Section"
The crash is occurring at call `delegateValue.rowsHaveBeenRemoved(oldRows, atIndexPaths: indexSet.map { NSIndexPath(forRow: $0, inSection: section!.index! ) } )`
As section index is nil when the section is hidden.

This can be replicated with the following example:
[code]
While I don't have any experience with the internals of this library and have not done much testing on this it appears that thi

[2015-10-22 23:51] mtnbarreto commented on #45
@creisterer-db  Thanks for fixing the issue!
We should not invoke the delegate in case the section is hidden (bit being displayed in the UITableView).

[2015-10-22 23:57] #45 closed

[2015-10-23 19:02] ffittschen opened #47 "Form data validation"
Hi, is there any way of validating the data of the rows like the validations in `XLForm`?

It would be nice to e.g. only activate a specific `ButtonRow` if the whole form is valid and this depends upon the validations of each row (e.g. row 1,2 and 3 must not be empty)

[2015-10-24 00:38] mbalex99 opened #48 "rowByTag("myTag").hidden doesn't work?"
Here's the bit of code, I'm running this after an async http fetch.  Though I'll just hardcode it for now.

How come the button isn't being hidden?

[code]

[2015-10-24 00:43] mbalex99 commented on #48
Oh no!
I figured it out.
I needed to put `[unowned self]` in the block running the code. I'm using RxSwift but it shouldn't matter

[code]

[2015-10-24 02:09] mtnbarreto commented on #48
Hey @mbalex99 , `updateCell` does not evaluate hidden condition, it only updates the tableViewCell according row info. You can invoke `buttonRow.evaluateHidden()` to force the evaluation of hidden condition, it will make the cell visible/invisible if needed.

Regards

[2015-10-24 02:09] #48 closed

[2015-10-24 02:12] mbalex99 commented on #48
OH wow okay awesome. This worked!

[code]

[2015-10-24 02:39] ZachJiroun opened #49 "Change form dynamically at runtime"
Hi, is there any way to change the form dynamically at runtime? This feature was in XLForms.

[2015-10-24 21:44] BryanJBryce commented on #34
+1

[2015-10-24 22:06] BryanJBryce commented on #34
+1

[2015-10-25 00:57] hariseldon78 opened #50 "Could not cast value of type 'Eureka.BaseRow -> ()' (0x53e3108) to 'Eureka.ButtonRowOf<Swift.String> -> ()' (0x53e3130)."
I'm having this error while executing this simple code:

			if section==nil
			{
				section=Section()
				form +++ self.section
			}
			section! <<< ButtonRow() {
				$0.title="some string"
				$0.presentationMode = .SegueName(segueName: "calendario",
					completionCallback: nil)
			}

the code is being executed on the main thread, and i get the fatal error even before the initialization closure

[2015-10-25 01:19] hariseldon78 commented on #50
ok, the bug is solved on the new release. thank you again for this library

[2015-10-25 01:19] #50 closed

[2015-10-25 17:48] litmisty opened #52 "OptionsRow like HTML's radio control - dispayValueFor"
I want to set the form's values and labels separately.
Now, the value of OptionsRow is set to be the same as the label. So, it's hard to set enum values in the OptionsRow or SegmentRow.

It would be like below. I added ```$0.labels```
Is there some other way to achieve this already?
Please let me know.

[code]

[2015-10-25 20:27] thediary commented on #47
Yes! Please add form validation from XLForm! High priority for my team before we are able to make the switch

[2015-10-25 23:17] sagits opened #53 "FloatLabelTextField formatter"
Hi, i would like to use FloatLabelTextField on my projects. I'm trying to add the formatter thats present on DecimalRow but the FloatLabel extends from UITextField direct.

  How can i implement formatter on FloatLabelTextField? Thanks in advance.

[2015-10-26 14:41] mtnbarreto commented on #34
You can also change it using the `defaultCellUpdate` class method:

[code]

Additional info of these functions: http://blog.xmartlabs.com/2015/09/29/Introducing-Eureka-iOS-form-library-written-in-pure-Swift/#fully-customizable

[2015-10-26 14:41] #34 closed

[2015-10-26 20:02] mats-claassen opened #54 "Bug when inserting a potentially hidden row in the middle of a section"
We have a bug when inserting a row in the middle of a section. When the row is hidden and then reappears, it appears at the end of the section.

[2015-10-26 20:17] #54 closed

[2015-10-26 21:08] mtnbarreto commented on #53
@sagits FloatLabelTextField is not provided natively by Eureka, It's just an example to show how flexible is Eureka and how to create custom rows. Anyway i think it's a cool feature so I implemented it.

Look at the attached pull request for more details.

[2015-10-26 21:08] #53 closed

[2015-10-26 21:10] mtnbarreto commented on #49
@ZachJiroun
What do you mean by change the form dynamically?
Eureka has the same XLForm capabilities in terms of how it updates dynamically the tableView based on its sections and rows.

Cheers

[2015-10-26 21:15] ZachJiroun commented on #49
Is there any way to create a new section dynamically? I didn't see a way to do that based off the value of a input field.

[2015-10-26 21:45] mtnbarreto commented on #49
You can either insert a new section from onChange callback of the relevant row or assign a condition to the section hidden property, this condition should specify when the section is hidden based on the row value.

[2015-10-26 22:14] sagits commented on #53
Thank you, its an awesome feature! But i'm having this error:

CustomCells.swift:202:35: Use of undeclared type 'FormatterConformance'

Can you check it please? Thanks in advance

[2015-10-26 23:51] mtnbarreto commented on #53
I made this protocol public. This is only available on master branch version for now.

[2015-10-27 00:22] mtnbarreto commented on #52
Each row exposes `displayValueFor` property which the following default value:

[code]

Being said that, you can change the option description by setting up a new function to this property.
Alternatively you can take advantage of how the default `displayValueFor` is implemented, in particular the invocation to `String(t)` which uses the print value for the type.

This is an example using the secon

[2015-10-27 00:24] #52 closed

[2015-10-27 00:24] #49 closed

[2015-10-27 00:37] mtnbarreto commented on #38
If I understood what you want I think Eureka already provides a solution.

Take a look at: http://blog.xmartlabs.com/2015/09/29/Introducing-Eureka-iOS-form-library-written-in-pure-Swift/#fully-customizable which explains how to make change to all row of a particular type.

What I like the most about this class functions is that any custom row will have this capability since it is injected to the r

[2015-10-27 00:40] mtnbarreto commented on #19
Sorry but Eureka doesn't consider which is the device neither shows the selector differently depending on it.

[2015-10-27 00:40] #19 closed

[2015-10-27 10:14] #27 closed

[2015-10-27 16:43] sagits commented on #53
Thank you. It worked, but i'm trying to use the CurrencyFormatter provided in example along with useFormatterDuringInput = true in a DecimalFloatLabelRow.
 If i use a default value it starts formatted but when i enter numbers input value wont change, and if i wont use a default value i can type but my text wont get formated as spected. My guess is that this property would format the currency as i

[2015-10-27 17:03] mtnbarreto commented on #32
@clooth Could you achieve it?

`rowValueHasBeenChanged ` has been moved to FormController so you can override it now. Alternatively you can use `onChange` row callback to do something whenever a row value changes.

The approach using a LabelRow is ok, also the approach using the ActionSheetRow along with `onChange` callback.  However will still be hard to show the label and the image on the right

[2015-10-27 17:03] #32 closed

[2015-10-27 18:04] mtnbarreto commented on #14
I agree on that WeekdayRow, FloatLabelRow are non-standard rows and we should have chosen native ones to the example so i made clear this in the readme.

Regarding the Storyboard issue I think you can infer that  a FormViewController can be created either programatically or using a Storyboard like any other UIViewController and in case of using a storyboard you have the ability to connect the tabl

[2015-10-27 18:04] #14 closed

[2015-10-28 06:08] rajeshmani27 opened #59 "Generic Inline picker crash in Example project"
In the example project, there is a crash (Sigabrt) when selecting values from PickerInlineRow cell and then following up with selecting of an Inline Date Picker from other section. The crash occurs only when one expanded view for inline picker is allowed.

Error details below:
Could not cast value of type '(Eureka.LabelCellOf<NSDate>, Eureka._PickerInlineRow<NSDate>, Eureka.PickerRow<NSDate>) -> (

[2015-10-28 09:58] DesmondPang opened #61 "DecimalRow has cannot use backspace to delete the number"
DecimalRow has cannot use backspace to delete the number. It seems a problem of the dot separating integer and decimal parts

[2015-10-28 10:16] DesmondPang commented on #61
Sorry, the problem only exist when use DecimalRow  with NSNumberFormatterStyle.CurrencyStyle formatter

[2015-10-28 18:51] mtnbarreto commented on #59
@rajeshmani27 Thanks for reporting it!

[2015-10-28 18:51] #59 closed

[2015-10-28 20:51] mtnbarreto commented on #61
@DesmondPang okay

[2015-10-28 20:51] #61 closed

[2015-10-28 20:53] mbrucedogs opened #63 "CurrencyFormatter sample issue"
This doesn't seem to work at all when the cell is in useFormatterDuringInput = true.  Can you update this to work so you see the format change while you are typing?

It would be nice to see working sample on how to create your own formatter that works.

Also a nice to have would be a MaxLength on the TextField Input.

[2015-10-29 04:30] sagits opened #64 "Use PushRow on CustomRow xib"
Hi, i'm trying to create a customRow with 2 fields and a pushRow inside it. Is this possible? How can i import pushrow inside my customCell.xib, its extended from UiView? Thanks in advance.

[2015-10-29 17:27] BryanJBryce opened #65 "Autosizing Cells"
Are autosizing table view cells supported?

[2015-10-30 18:34] jadidian opened #67 "Question: how to add custom cells alongside form rows?"
hi, I was wondering what would be the best way to add rows (or cells) for layout stuff, like hero images or other views which don't provide any data for the form but should be a part of the underlaying table view. using XLForm I could just extend `XLFormBaseCell`, pass it a view and override its `layoutSubviews`, register it as a row and use it in the form; but I (still) have no idea how to do it

[2015-10-30 20:53] jadidian commented on #67
UPDATE: for now, I did it like this:
[code]
and then:
[code]
however, it doesn't feel right to pass an arbitrary type `<String>` to the cell & row, and I'm not sure if overriding the `tableView(tableView: cellForRowAtIndexPath:)` method to create a custom cell and meddling with Eureka's index paths is a good idea.

[2015-10-30 20:54] chrismanderson opened #68 "Required rows?"
Does Eureka currently support 'required' rows, fields that must be present for the form to be valid?

[2015-10-31 14:36] tp commented on #41
Thanks this solves the issue nicely and looks exactly as I would expect from a "read-only" mode. :-)

[2015-11-02 21:25] prbaron opened #69 "Unwanted 0 after comma for DecimalRow"
Hello,

Each time I want to enter a decimal value into a DecimalRow (example 3,63), I have to do the following steps

  1. Type `3`
  2. Type `,`
  3. Press `Cancel` (because a 0 is added after the comma)
  4. Type `63`

How can I get rid of the step 3 ?

Best regards

[2015-11-02 21:30] jpaas commented on #47
Yes please. This is the only reason I haven't switched from XLForm.

[2015-11-03 19:13] douglasd3 opened #70 "missing PickerRow"
I'm using Eureka with CocoaPods and the PickerRow class is missing from Rows.swift. I'm running the 1.1.0 version.

Error: Use of unresolved identifier 'PickerRow'

[2015-11-04 18:02] graemesi opened #71 "TextRow can have wrong value due to autocorrect"
When using a TextRow, sometimes the autocorrected text is shown to the user, but the non-autocorrected text is present in the form.values() dictionary.

1. In a text row type some nonsense text such as 'asdd'. The autocorrect system on iOS will highlight the text with a light blue color.
2. Don't press return to accept the autocorrect suggestion. Instead tap Done to dismiss the keyboard.
3. The au

[2015-11-04 18:31] minuscorp opened #72 "ImageRow let access to NSURL for the UIImageView"
It would be great if you add a variable to fill the ```NSURL``` for the ```UIImagePickerDelegate``` info dictionary by the key ```UIImagePickerControllerMediaURL``` or there's actually a way to get that image URL, because is mainly needed to post it to the Internet by a Multipart Form.

Maybe just save that ```UIImage``` into the app contents and upload it?

[2015-11-05 10:00] Chiliec opened #74 "Autocomplete field"
I need a field, when typing any symbols, it show autocomplete.
Can I do it with Eurika? With custom row?

[2015-11-05 21:19] michaelbina opened #75 "imageView for SegmentedRow has no width value"
When I set the imageView image for a NameRow, it shows up as expected like so:

<img width="371" alt="screen shot 2015-11-05 at 1 12 35 pm" src="https://cloud.githubusercontent.com/assets/528845/10981884/206b80a6-83bf-11e5-9b60-d6882eda3171.png">

[code]

When I change it to a SegmentedRow, it looks like this:

<img width="370" alt="screen shot 2015-11-05 at 1 18 05 pm" src="https://cloud.githubus

[2015-11-06 04:56] mtnbarreto commented on #75
At the moment `SegmentedCell` doesn't take into account the imageView to set up its constraints :(.
We should do something like `_FieldCell` `updateConstraints()` method to update the constrains depending on whether the imageView is used or not.   https://github.com/xmartlabs/Eureka/blob/master/Source/Cells.swift#L874 may help.

Note in this code that we added KVO to the  imageView `image` propert

[2015-11-06 11:56] mtnbarreto commented on #65
Yes. If you are implementing a custom row/cell, make sure the cell constraints are properly set up and `height` cell property value is nil.

[2015-11-06 11:56] #65 closed

[2015-11-06 14:35] mtnbarreto commented on #74
Any table view cell you can imagine can be implemented following custom rows approach.

[2015-11-06 14:35] #74 closed

[2015-11-07 02:02] michaelbina commented on #75
I will take a stab at this when i get a chance.  Thanks for the pointers

[2015-11-07 08:28] rajeshmani27 opened #76 "Unable to hide row whose value is changed"
I am looking to hide a specific row (say row1) once its value is changed to a non-nil and simultaneously un-hide another row (say row2).

When I changed the value of row1, I set
.onChange({ (row) -> () in
          row.hidden = true
        })

However, the row1 doesn't get hidden.

Looking for suggestions on how to get this to work.

Thanks in advance.

[2015-11-08 13:54] abbasmousavi opened #78 "How can I use Eureka forms in a view controller that is not a subclass of `FormViewController`"
How can I use Eureka forms in a view controller that is not a subclass of `FormViewController`

[2015-11-08 15:20] abbasmousavi commented on #47
+1 for form validation.

[2015-11-09 00:43] corbrink opened #79 "How to get the value of a particular row"
Can you please help with how to obtain the selected date with the date picker?

[2015-11-10 05:10] samritchie commented on #38
This is pretty clunky - as far as I can tell, if I want to change the label font on every row, I need to set a `defaultCellSetup` property on every single row type (including all the concrete generic rows) in the whole form. Sometimes this doesn’t work and I have to use `defaultCellUpdate`, depending on the internal implementation of the row.

I really just want to be able to set `UILabel.appearan

[2015-11-10 14:30] tomasKa commented on #30
Thanks, it works!

[2015-11-10 14:30] #30 closed

[2015-11-10 22:38] jkennington commented on #76
Call `.evaluateHidden()`. The `true` is turned into a condition but not evaluated when you set it. You can force it to evaluate with that function, though.

[2015-11-11 07:02] lkqin opened #80 "how to change Section height"
how to change Section height

[2015-11-11 09:41] phiberjenz commented on #79
You get the value for the row with <code>row.value</code>

[2015-11-11 14:15] luminairre opened #81 "Memory keep increasing when creating new form"
Hello, I searched for "memory" in the issues and tagged StackOverflow questions but I don't see anything.

Also I would like to mention that I'm fairly new to Swift and iOS development so if the issue is caused by my mistake, correction is appreciated.

Everytime the form is being "created", memory usage is increased by about 5MB. I am putting the form in  a VC called as modal using (ItemViewContr

[2015-11-11 16:08] mtnbarreto commented on #78
You must extend from `FormViewController`. `FormViewController ` is nothing else than a extension of `UIViewController` that adds some behaviour to display the form properly so this should not be a problem.

Regards

[2015-11-11 16:08] #78 closed

[2015-11-11 17:20] jaylyerly opened #82 "values() returns double optionals?"
It looks like calling values() on a form returns a dictionary of the form [String: Any??] where the values in the dictionary are actually optional wrapped twice.  Is that the intent?

I'm making a form like this:
[code]
and later accessing the values...
[code]

If I explicitly unwrap labelTag, it's still an optional.  This seems awkward.  Is there a reason that this is nest this way, or is this a

[2015-11-11 19:20] mtnbarreto opened #83 "autocapitalization does not work on NameRow rows."

[2015-11-11 19:22] #83 closed

[2015-11-11 20:54] justinmakaila commented on #70
+1. Digging around the source, I see that it's there, but it's not in the Carthage build for whatever reason...

I'm guessing it has to do with tagging releases.

@mtnbarreto Do you have any ideas?

[2015-11-11 21:34] justinmakaila commented on #70
For the record, this is due to tags. The release that Carthage and CocoaPods download is v1.1.0, which is behind master (obviously) and does not contain PickerRow. Quick fix:
[code]

[2015-11-12 00:25] abbasmousavi commented on #78
@mtnbarreto Is it possible to implement FormViewController as a protocol with default behavior that extend UIViewController so that view controllers that are not subclasses of FormViewController can conform to it?

Consider this use case. I want all view controllers in my app have some base behavior and only some of this controllers will contain forms. If FormViewController was a protocol it was p

[2015-11-12 00:49] mtnbarreto commented on #82
@jaylyerly in swift if we subscript a dictionary with a key it returns an optional type, since the value type of the `values()` dictionary is `Any?` it returns a Any??.

I agree that this is not the most elegant solution but i don't have an alternative in the case we add the nil values to the values() result as we are doing now.
You can use `form["tagValue"]!` if you are completely sure that the f

[2015-11-12 00:49] #82 closed

[2015-11-12 00:50] mtnbarreto commented on #76
@jkennington  :+1:

[2015-11-12 01:17] mtnbarreto commented on #68
Eureka doesn't have support for row validations neither required row validation yet. We have plans to implement it but don't know when.

[2015-11-12 01:17] #68 closed

[2015-11-12 02:42] mtnbarreto commented on #70
I have just released a new version.
Regards

[2015-11-12 02:42] #70 closed

[2015-11-12 02:43] mtnbarreto commented on #15
Now Eureka contains `PickerRow` and `PickerInlineRow` rows.

[2015-11-12 02:43] #15 closed

[2015-11-12 09:44] sidetrax opened #86 "Xcode runs hot when using many setValues parameters"
Dear Xmartlabs-Team,
when using your framework I encounter the trouble that with many setValue parameters my mac's fans start to go crazy.
Using about 10-12 (mixed rows, others are commented out) works even though Xcode takes pretty long to compile the swift files. Starting with about 13 Rows the compiling takes awfully long and my mac runs hot. With every row it seems the time to compile rises ex

[2015-11-12 14:23] jaylyerly commented on #82
Is there a use case where it's important to store 'nil' in the values() result?  I can see how that would allow you to differentiate between "there's no matching key" and "the value for that key is nil", but is that an important distinction?  In practice, I haven't run into a case where that's important.

Would it be acceptable to just unwrap the values as the dictionary is being built?  Then you'

[2015-11-12 17:59] mats-claassen commented on #80
A section consists of a header, rows and a footer. Each cell has a height variable so you can set the height of each row.
If you are setting the header and footer with strings you can also set the height for that header or footer in the initializer like this:
[code]
You can also set the header or footer like this if you have a custom view:
[code]

[2015-11-12 18:04] #79 closed

[2015-11-12 18:19] #76 closed

[2015-11-12 18:31] #81 closed

[2015-11-12 19:16] mats-claassen commented on #86
I did try the `setValues` func in the 'Rows' example by setting more than 10 rows and did not see any change. Where are you calling this function? And can you give us a bit more context of your form? Are you setting Strings or other objects as values?

[2015-11-12 23:53] sidetrax commented on #86
Thank you for your reply.
I uploaded a TestViewController.swift file as txt-file.
In the storyboard I'm using a plain ViewController with a tableView in it, like you did in your example project.
Please let me know if I am somehow using it incorrectly or if it compiles without problems in your development environment.

[TestViewController.txt](https://github.com/xmartlabs/Eureka/files/33471/TestVie

[2015-11-13 01:57] jaylyerly commented on #82
For my own project, I'm adding an extension with an unwrapped version of the values call as below.

[code]

[2015-11-13 15:15] migue1s opened #89 "TextAreaRow placeholder unexpected cursor position when aligned to center"
The cursor is in an unexpected position when centering the placeholder (the center instead of in front). This is a visual bug and does not affect the functionality per se.

As a concrete example:
[code]

[2015-11-13 17:33] prbaron commented on #69
My phone was in French so we do not have `.` for decimal but `,` (13,50€). I changed my local to english and had the `.` button. When I enter 13.50, everything works.

So I guess the problem is because of the comma.

[2015-11-14 00:58] ffittschen opened #90 "Dynamic row height for TextAreaRows possible?"
Hi,

I was wondering, if it is possible to set the height of a `TextAreaRow` to an automatic height based on the content. Usually I do this with content hugging priorities etc. in a storyboard, but your `cell.height` is of type `(() -> CGFloat)?` so if I want to change the height I have to pass a closure which calculates it?

Best regards

[2015-11-14 18:24] connersimmons commented on #86
@sidetrax @mats-claassen I am having the same issue.

[2015-11-15 09:23] estebansotoara commented on #75
Hi @mtnbarreto
I saw this issue open and wanted to give a hand, I added some lines to check the ```imageView``` in ```updateConstraints()``` and included the cases in the example

I have a fork with the changes (https://github.com/estebansotoara/Eureka/tree/imageViewForSegmentedRow), you can check it out and if you like it I can make a PR

[2015-11-18 17:30] dernster commented on #75
@estebansotoara that fork seems to be good! We would also need to update the constraints automatically when the imageView.image property changes (as it is done with the textLabel). To accomplish that, add an observer to the imageView for the key "image" and update the "observeValueForKeyPath" overridden function accordingly (similar as in _FieldCell).

What do you think?

[2015-11-18 20:10] estebansotoara commented on #75
@dernster sure, I'll take a look a this on the next days and let you know

[2015-11-19 19:30] jatraiz opened #94 "enable autocapitalization for name rows"
First off, great library so far! We're really enjoying using it.

We ran into an issue where name rows were not auto capitalizing no matter what we did. It turns out that when you set the keyboard type to .NamePhonePad all auto capitalization is disabled. This also has the side effect of making it impossible to put any punctuation in the name rows.

In our current project we've changed the default

[2015-11-19 19:31] lastmboy opened #95 "TextColor and Background colors - Change Header text color."
I've been customizing the color settings, as I have a situation where I have a darker, gradient background. I wanted the tableview to be ClearColor, and the text colors to be different colors, which wasn't a problem. However, the HeaderView text color is always a dark grey, which doesn't show up very well on darker backgrounds. However, I have had no success trying to determine where to get at the

[2015-11-19 21:59] mtnbarreto commented on #95
@lastmboy look at this http://stackoverflow.com/a/27261038/2763561 if you only want to change the default header color.

If this doesn't works you can set up a whole new header section by following this reference https://github.com/xmartlabs/Eureka#section-header-and-footer

[2015-11-19 22:01] #95 closed

[2015-11-19 22:13] mtnbarreto commented on #94
@jatraiz Thanks!

Regarding the keyboardType issue we have already fixed it changing the keyboard type to `ASCIICapable`: https://github.com/xmartlabs/Eureka/commit/2848cd8ce102ec209a0c10859e2e1a9d85303730

Regards

[2015-11-19 22:13] #94 closed

[2015-11-19 22:55] lastmboy commented on #95
Great! Thanks for the info.

[2015-11-19 23:40] mtnbarreto commented on #89
@migue1s  According the code you shared, `$0.cell.textView.textAlignment = NSTextAlignment.Center` makes the cursor appears in the center. If you comment the line out it appears at the left keeping the placeholder in the center.

Do you expect something different?

Regards

[2015-11-20 16:52] #89 closed

[2015-11-20 20:18] jefflai opened #96 "onCellUnHighlight doesn't get called unless onCellHighlight is also defined"
The onCellUnHighlight function for a Row doesn't get called if the onCellHighlight function is not also specified for the Row.  This is confusing because the documentation doesn't state that both of these functions have to be defined for onCellUnHighlight to work.

This is the debug code I used to find this bug.

[code]

Tapping on debugTextRow1 and then tapping outside debugTextRow1 to trigger on

[2015-11-20 22:17] mtnbarreto commented on #96
@jefflai Actually this is not an issue. This is how onCellHighlight and onCellUnHighlight work by default.

Your custom `onCellUnHighlight` is not being invoked because each time the cell is highlighted we override `onCellUnHighlight` as shown below.

[code]
The reason we override by default the `onCellUnHighlight` from inside `onCellHighlight` is to put back the original label text color since it

[2015-11-20 22:20] jefflai commented on #96
@mtnbarreto ok that makes sense.  perhaps the ReadMe should be updated to explain this

[2015-11-20 22:45] mtnbarreto commented on #96
@jefflai done

[2015-11-20 22:47] jefflai commented on #96
Thanks! @mtnbarreto

[2015-11-20 22:49] #96 closed

[2015-11-22 04:53] estebansotoara commented on #75
@dernster the change is up

[2015-11-22 14:05] corbrink opened #97 "Hide date- and picker views after selection"
I'm using quite a few inline picker views but when selection is made you need to tap the cell to hide the view.
Is there a way to hide the picker views when a user selection was made similar to UIpickerview's pickerView.hidden = true after DidSelect?

[2015-11-22 16:45] rokoroku opened #98 "Unbalanced calls to begin/end appearance transitions for ViewController"
When using PushRow / MultipleSelectorRow, it sometimes causes Unbalanced calls to begin/end appearance transitions warning, and the cell doesn't update, just staying highlighted like below screenshot.

![img_0332](https://cloud.githubusercontent.com/assets/5208632/11324977/5b295b00-9184-11e5-9415-524d740e4946.jpg)

[2015-11-23 13:29] dernster commented on #75
@estebansotoara the changes are ok now! Just rebase your branch to be fast-forward from the Eureka master and then make a pull request!

[2015-11-23 15:24] mats-claassen commented on #86
It seems this is on the Swift side rather than Eureka. The slow part seems to be the part where you create a Dictionary [String: Any?]. To work around this I did the following and it works fine:
[code]
While this works, you can just set one type at a time like this, which is not really useful.
I recommend creating the dictionary as follows:
[code]

[2015-11-23 17:54] sidetrax commented on #86
I just tried the second one. Works perfectly! Thanks a lot!
For me the issue has been solved. ;-)

[2015-11-23 18:44] #86 closed

[2015-11-23 18:46] #80 closed

[2015-11-23 19:05] mats-claassen commented on #26
You have to use the `presentationMode` of the row
Have a look here: https://github.com/xmartlabs/Eureka#custom-presenter-row

[2015-11-23 19:05] #26 closed

[2015-11-23 19:18] estebansotoara commented on #75
@dernster just to be sure I understand correctly and don't screw up anything, I have to rebase the topic branch into my fork master (have to update master as there is some new commits) and then make the pull request from master

[2015-11-23 19:35] mats-claassen commented on #97
Hi, you can call `collapseInlineRow` from the onChange() callback of your row.
[code]

[2015-11-23 19:52] connersimmons commented on #86
This second option also works for me. Thanks for getting back to us!

[2015-11-24 00:53] corbrink commented on #97
Just what I needed. Thank you for the great form!

[2015-11-24 10:48] marbetschar opened #100 "Data binding?"
Does Eureka contain any automatic data binding between the storage object and the form fields?

For example if you use [Couchbase-Lite](http://developer.couchbase.com/documentation/mobile/current/develop/guides/couchbase-lite/native-api/model/index.html) or [Realm](https://realm.io/) the form field tags should automatically be mapped to the object property names.

Absolutely awesome would be a "tw

[2015-11-24 16:23] #97 closed

[2015-11-24 16:32] mats-claassen commented on #100
Hi, we are not planning to integrate Data binding because we think it is outside of Eureka's scope.
You can obviously create a plugin to integrate Eureka with Realm or Couchbase-Lite yourself.

[2015-11-24 16:34] #100 closed

[2015-11-24 19:01] marbetschar commented on #100
Hi @mats-claassen
I understand your decision and appreciate all the work you've already put into Eureka!
So for me, digging a bit further into a possible plugin: Is there already any documentation available on how to build such a plugin best?

[2015-11-24 21:35] mtnbarreto commented on #98
@rokoroku Could you please upload an example to reproduce the issue?

[2015-11-25 15:45] ffittschen commented on #90
This is what I did to solve this:

**CustomFormViewController.swift:**
[code]

**Comparable+Extension.swift:**
[code]

[2015-11-25 15:45] #90 closed

[2015-11-26 01:35] weyert opened #101 "ImageRow, allow taking photo"
What's the best approach to allow picking a photo or taking a photo. In most application it first shows an action sheet where you can pick Take Photo or Choose Photo only I don't know what the best approach to implement this? I am currently using ImageRow which looks wonderfully well.

[2015-11-26 04:09] joshherkness opened #102 "Subclassing GenericMultipleSelectorRow and using a custom cell"
Im having a bit of trouble with subclassing `GenericMultipleSelectorRow` in order to use my own custom cell.  The goal is to create a user select similar to the image below.

![screen shot 2015-11-25 at 11 04 27 pm](https://cloud.githubusercontent.com/assets/5797470/11414886/163623ba-93c9-11e5-9e71-a306e7efab62.png)

I'm able to subclass just fine, but when I attempt to set the `cellProvider`, I'm

[2015-11-26 07:05] blue-toe opened #103 ""Clear" button on accessory navigation toolbar?"
Is it possible to add another button to the accessory navigation toolbar to clear the currently selected field? Right now there does not appear to be a way for the user to clear a date field (ie. I have an optional date field).

[2015-11-27 20:19] marbetschar opened #104 ""AddressRow" planned?"
Is there anything like an "AddressRow" planned to build into Eureka?
I'm thinking of a row like in the iOS contact app, a row containing the following fields:

    [ Street       ]
    [ Suffix       ]
    [ Zip | City   ]
    [ Country      ]

[2015-11-27 20:25] marbetschar opened #105 "Swipeable "Actions" for Eureka rows?"
Will there be a Swipeable actions present in Eureka? It would be cool to have something like the following:

[code]

[2015-11-27 20:27] marbetschar opened #106 "Multivalued Sections?"
How is it possible to add a multivalued section? Something like:

    PHONE
    [ 3456789 ]
    [ 0987654 ]

[2015-11-27 20:30] marbetschar opened #107 ""Typed" Row?"
How to define a "Typed" row in Eureka? For example if you have a phone input which also have a choosable type like "Private", "iPhone" or "Business"?

    PHONE
    [ Private | 45678 ]
    [ iPhone  |       ]

[2015-11-27 20:33] marbetschar opened #108 ""TextAreaRow" autosize?"
How to have the TextAreaRow sizing automatically regarding it's content?

[2015-11-27 20:35] marbetschar commented on #105
Additionally a `rowActionsRightTriggerAction` and a `rowActionsLeftTriggerAction` would be cool (the action which should be executed if the users swipes through). Maybe this can just be the the first RowAction in the array? Then a `rowActionsRightTriggerEnabled = true` should do the job?

[2015-11-27 20:38] marbetschar commented on #107
Maybe this can be achieved by simply allowing two columns?

[2015-11-27 20:53] marbetschar opened #109 "Inline Date-, Time- & Countdown Pickers visible"
Dear Eureka Team

I've just created a demo ViewController, showing me all Date Rows with the following code:

		form +++= Section("Date Rows")
			<<< DateRow("DateRow"){
				$0.title = $0.tag
			}
			<<< DateInlineRow("DateInlineRow"){
				$0.title = $0.tag
			}
			<<<	TimeInlineRow("TimeInlineRow"){
				$0.title = $0.tag
			}
			<<< DateTimeRow("DateTimeRow"){
				$0.title = $0.tag
			}
			<<< Da

[2015-11-27 23:53] gardengrocer opened #110 "SwitchRow text color?"
How can I change the default black color of switch text on the left?
![form](https://cloud.githubusercontent.com/assets/5024516/11449083/3f93052e-9537-11e5-8bc1-cd7ab2b92fb8.png)

Here's my code, the only customization I can't figure out is the text color of UISwitch:
[code]

[2015-11-28 04:16] gardengrocer commented on #98
@rokoroku how did you change the color of a SwitchRow? Thanks

[2015-11-28 06:39] michaelbina commented on #75
* nudge* sounds like there's a fix out there.  Would love to see this get merged soon...

[2015-11-28 13:28] rokoroku commented on #98
@mtnbarreto I couldn't found what exactly causes that issue yet.
I think it may not be an Eureka-global issue, however, for your help, I nested FormViewController inside UITabBarController inside UInavigationController and I'm using UIViewController.showViewController method in my custom segue.

@gardengrocer I use BaseCell.appearance().backgroundColor property.

[2015-11-28 19:33] gardengrocer commented on #98
@rokoroku I'm sorry, I meant text color, not background color. did you use BaseCell.appearance() for that, too? Thanks

[2015-11-28 19:40] mtnbarreto commented on #110
@gardengrocer
[code]
do the trick.

textlabel color is updated each time the cell is updated because it depends if the row is disabled or not.

Your code is actually setting up a new color but it's being overridden from cell update() function.

Regards.

[2015-11-28 19:40] #110 closed

[2015-11-28 19:43] gardengrocer commented on #110
@mtnbarreto it makes sense now. Thank you

[2015-11-28 21:17] Gman9855 opened #111 "Minimum Date not being applied to DateTimeInlineRow"
I want my minimum date on the date picker to be the current date.  So i simply set it like so...  $0.minimumDate = NSDate() but it doesn't seem to change anything.  Am i missing something?

[2015-11-29 03:08] masbenx opened #112 "how to work with nib"
how to add a Form() to a view so i can load it without storyboard?

[2015-11-29 07:14] rokoroku commented on #98
@gardengrocer I use SwitchRow.defaultCellUpdate = { cell, row in
      cell.textLabel?.textColor = UIColor.whiteColor()
}

[2015-11-29 19:32] mtnbarreto commented on #75
@dernster we suggest the rebase to have a cleaner git history. Take a look at this reference https://www.atlassian.com/git/tutorials/merging-vs-rebasing that explains the benefits of git rebase over git merge.

Considering a particular state of eureka master branch i would expect only one commit per feature.
One way to do that is rebasing interactively your branch with master(update your local mas

[2015-11-30 04:08] gardengrocer commented on #98
@rokoroku Thank you.

[2015-11-30 12:57] marbetschar commented on #17
@mtnbarreto any news on when multi valued sections will be available? Or how we could contribute to it?

[2015-11-30 17:24] mtnbarreto commented on #98
@rokoroku I will close the issue since i couldn't reproduce the issue. I'm willing to reopen it if you share code to reproduce it.

Regards

[2015-11-30 17:24] #98 closed

[2015-11-30 17:42] mtnbarreto commented on #112
@masbenx could you explain in detail what you want to accomplish?

[2015-11-30 18:09] mtnbarreto commented on #17
We have plans to add this feature but not in the short term, this feature is not in the top priorities now.

A good way to approach the feature implementation is taking XLForm code as a guide. I don't want a copy/paste of feature code implementation, what i'm suggesting is to rewrite the feature following swift best practices and using swift capabilities taking as base code XLForm.
i'm really appr

[2015-11-30 22:53] prsolucoes opened #113 "How to access form from other methods?"
How to access form from other methods?

My form is created successfully, i add some test value in the same method, etc. But when i try get the form value from other method, it show a lot of errors:

[code]

[code]

Can anyone help me?

[2015-11-30 23:37] prsolucoes opened #114 "How to update a Section?"
The section is updated, but only refresh if i scroll the form:

[code]

How to force a section refresh?

[2015-12-01 00:05] prsolucoes commented on #113
I solve it with "IF LET":

[code]

Thanks.

[2015-12-01 00:05] #113 closed

[2015-12-01 02:28] estebansotoara commented on #75
@mtnbarreto I just made the PR #115 thanks for the help

[2015-12-01 03:12] mtnbarreto commented on #75
Cool! Thanks @estebansotoara !

[2015-12-01 03:12] #75 closed

[2015-12-01 03:15] estebansotoara commented on #75
No problem, I'm glad I could help

[2015-12-01 12:06] imWildCat opened #116 "Contents under navigation bar"
Code:
[code]

![screenflow](https://cloud.githubusercontent.com/assets/2396817/11500246/e46baa74-9866-11e5-93bc-2d724f046a32.gif)

[2015-12-01 15:10] mtnbarreto commented on #109
@marbetschar I can't see anything wrong.

`DateTimePickerRow` and `CountDownPickerRow` shows the UIDatePicker embedded in a table view cell.

[2015-12-01 15:10] #109 closed

[2015-12-01 15:11] mtnbarreto commented on #109
@marbetschar f you this this should work differently reopen the issue and give me more details.

[2015-12-01 15:50] marbetschar commented on #109
*huh* ?

The cells are all open, without the need of tapping them first. Instead of this, they should be closed till the user taps them...?

[2015-12-01 19:52] mtnbarreto commented on #109
According to the image you posted the picker view that appear on the screen are the `DatePickerRow` and `TimePickerRow `. All the rows that appears above or either shows the date picker as a inputView or as a inline cell.

[2015-12-02 11:04] ffittschen commented on #108
Hi @marbetschar, you can take a look at https://github.com/xmartlabs/Eureka/issues/90. This is how I solved this problem in the context of the app I'm working on. (If you only want to resize the `TextAreaRow`, you can remove the parts with keyboard appearance etc)

[2015-12-02 23:09] mtnbarreto commented on #106
same as #17

[2015-12-02 23:09] #106 closed

[2015-12-03 02:08] mtnbarreto commented on #111
@Gman9855 Could you post the code that define the date row?

[2015-12-03 02:16] mtnbarreto commented on #111
<<< DatePickerRow() { $0.minimumDate = NSDate() }

using the code above the UIPickerView doesn't allows me to select a earlier date than NSDate.

Could you confirm you are setting $0.minimumDate from the row constructor block?

[2015-12-03 02:19] Gman9855 commented on #111
I'm not using a DatePickerRow, i'm using a DateTimeInlineRow

[2015-12-03 02:19] mtnbarreto commented on #116
@imWildCat
Which is the iOS sdk version? Are you using storyboards? or FormViewController was created programatically?

[2015-12-03 02:27] Gman9855 commented on #111
Figured it out-  need to call onExpandInlineRow and then set the minimumDate property on the DateTimePickerRow from the callback

[2015-12-03 02:27] #111 closed

[2015-12-03 02:29] mtnbarreto commented on #111
Did you mean `onPresentInlineRow`?

[2015-12-03 02:30] imWildCat commented on #116
@mtnbarreto Sorry, I forgot to mention the details.

- iOS SDK: 9.1
- Using storyboard: Yes
- Xcode: 7.1.1
- System: 10.11.1

[2015-12-03 02:30] Gman9855 commented on #111
Well maybe it works there too-  but i'm doing it in onExpandInlineRow, where i can grab a reference to the DateTimePickerRow

[2015-12-03 02:39] mtnbarreto commented on #116
Thanks,
Could you please make sure that the table view IBOutlet and UITableview constraints are properly set up? It seems to me that this has nothing to do with Eureka.

[2015-12-03 02:42] mtnbarreto commented on #111
This is actually a bug :(. Shouldn't be necessary to set up again the property from `onExpandInlineRow `.

[2015-12-03 03:03] imWildCat commented on #116
Thank you very much.

I followed the storyboard of examples and fixed it.

[2015-12-03 03:03] #116 closed

[2015-12-03 22:32] prbaron commented on #63
Hi ! I fixed it like this for me :

[code]

[code]

[2015-12-04 09:51] michaelbina opened #119 "Image thumbnail for PushRow options"
I'd like for each of the rows in my PushRow to have an associated UIImageView to display a thumbnail image next to the text.  I'm not seeing an easy way to do this currently and have already dove in to altering the library to allow this but its getting more complicated than I'd like.  I'm wondering if anyone has an easy way to do this with the current code or can suggest a proper direction to head

[2015-12-04 14:38] mats-claassen commented on #114
Hi, you can try by calling `tableView.reloadData()`. If you do not want to do that you could just reload that section using `tableView?.reloadSections(...)`.
Tell me if that works.

[2015-12-04 16:25] #112 closed

[2015-12-04 22:09] mtnbarreto commented on #101
if we only want to take a photo we can use `onPresent` as the code below shows.
[code]
--------------

I like the idea of showing a action sheet to select if open a camera, the photo library or SavedPhotosAlbum.

[code]
What about adding a OptionSetType property to specify which SourceType options the action sheet should display. (Action Sheet should not be displayed if the OptionSetType contains

[2015-12-05 10:59] bakomchik opened #120 "Cant create custom Row due to complier segmentation fault 11"
Hi guys, first i want to say "Huge thanks"! Eureka is  best framework
 Im face a trouble when i try to create custom row. For example i just copy code of _ImageRow to my GroupRow.swift file
[code]
But xcode fail to compile this file  with :
[code]
Im new in IOS development and
Unfortunately a dont have any background in ObjeciveC and C.
Can you help me.? What im doing wrong?
OSX Yosemmite -10.3.

[2015-12-05 11:10] stoprocent opened #121 "Slow/Lag on bounce."
Hi guys

I didnt have enough time to profile it very well but from what I've seen there is a lag when scrolling fast and when you reach end of the table and scroll view bounces.

This is related to autolayout recalculating constraints for some rows. Any idea how can I cache rows/cells to speed it up a little bit ?

[2015-12-05 21:01] bakomchik commented on #120
Update: I downloaded the eureka examples and tried to create a custom row again
Unfortunately I got the same result

[2015-12-05 21:50] stoprocent commented on #121
Reason for lagging is ```form[indexPath].updateCell()``` in ```willDisplayCell``` call.
There is some crazy number of constraint updates from ```willDisplayCell``` and also observers in ```_FieldCell```. Workaround for me which is way more responsive is this ...
[code]
In general Eureka is great for speeding up creating Table View Forms but isnt there yet.
I promise I will try to help contributing

[2015-12-06 12:56] bakomchik commented on #120
I've updated the Xcode from 7.0.0 to  7.0.1, and it is to fix the problem

[2015-12-06 12:56] #120 closed

[2015-12-07 11:43] prbaron commented on #63
There is a bug when the currency is on the right and you press cancel although

[2015-12-08 12:50] quangdng opened #123 "Custom Button at the end of the Form"
Hi Authors,

Thanks for creating a superb control for Swift. I never thought creating form in iOS could be this easy. However, there is a small issue for me.

I've come to the situation that I want to add a Submit Button with my very own logic at the end of the created form. I understand that I can simply add another Section with Button Row, however, I can't style the button as I may want to (get

[2015-12-08 16:24] #71 closed

[2015-12-08 18:13] mats-claassen commented on #63
@prbaron Thanks for that code update.

[2015-12-08 18:31] #63 closed

[2015-12-08 18:31] #69 closed

[2015-12-09 01:14] marbetschar opened #127 "ContactRow"
A row for selecting an existing contact from the AddressBook would be nice to see in the official release.
I've started a first draft which provides this functionality by using the new iOS9 CNContact API.

Feel free to adjust and/or integrate it as you like:

**ContactRow**
[code]

**ContactCell**
[code]

[2015-12-09 04:01] shanmarkus commented on #47
+ 1

[2015-12-09 20:54] vshahpledge opened #129 "OnCellUnHighlight never called"
I have the following:

            <<< DecimalRow() {
                //set current value and placeholder
                $0.title = "Weight"
                $0.placeholder = "Pounds"
                let weight: String? = Member.currentMemberInContext(nil)?.weight
                if let uWeight = weight {
                    $0.value = Float(uWeight)
                }
                }.onCellUnHig

[2015-12-09 23:59] szalaidaniel opened #133 "How can I update a section footer after .onChange"
Hi!

I would like to update the footer after the sellingPrice row is changed. New footer text example: You get \(sellerPrice) after you sell successfully.
How can I do it?

Thanks

[code]

[2015-12-10 12:47] mats-claassen commented on #129
Hi, this is because currently the onCellHighlight overrides the onCellUnHighlight. Look at how the `DecimalRow` is defined. In fact most of the rows are defined like this.
[code]
 So if you want to use the 'unhighlight' callback you must override the `onCellHighlight` as well.

[2015-12-10 12:52] mats-claassen commented on #133
Why don't  you try this:
[code]

[2015-12-10 14:42] mtnbarreto commented on #129
Same as #96

[2015-12-11 16:57] mbopp opened #134 "Globally format section headers"
I realize a number of questions have been asked surrounding this topic.  But I am wondering what the preferred way of globally within an app changing the display or format of a section header.  Can a subclass of `Section` be made effectively?

I have used the custom UIView (.Class) option of the `HeaderFooterView` but am not sure at this point how I can set up internal views of this custom view th

[2015-12-12 03:32] JanJasper opened #135 "How to make top section 'sticky' to top of the screen"
First of all, thanks for developing Eureka, it's amazingly useful!

Q: In my form I have a top section with an image and a progress tracker, made using a xib file and HeaderFooterProvider.NibFile (basically the same as in the example). Is there a way to make this section 'stick' to the top of the screen while one scrolls down the form?

Adding a separate view above the tableview in the storyboard

[2015-12-12 15:33] bakomchik commented on #47
Hi guys. Thanks for Eureka!
\+ 1!
It would be very cool !

[2015-12-13 00:34] vikdenic commented on #119
I am also trying to do this and would like to know how anyone else has accomplished it

[2015-12-13 00:41] michaelbina commented on #119
I haven't had a ton of time to work on it yet myself and had some troubles with my first attempts.

I think the proper way to do it would likely by to create a custom PushRow as detailed in the README, but even then, it is not clear how to accomplish this.

If you have any luck, please let me know or I'm happy to work together if our requirements are truly similar.

[2015-12-13 00:45] vikdenic commented on #119
Thanks, I'll let you know if I make any progress on it too, although it also low priority for me at the moment.

[2015-12-14 13:41] pteasima opened #136 "Autosizing headers"
Can I use autolayout for sizing section headers? Setting header.height to nil doesnt seem to work.
Is there a reason that you support autosizing cells and dont support autosizing headers?

Is there a way to force layout of the actual view in the header.height closure (without keeping another instance of the same view for layout purposes)?

[code]

[2015-12-15 08:31] shanmarkus opened #137 "Set attributed text to a cell"
trying to do like the code below, but the text does not come out. Is there any way for me to put attributed text to a $0.value ?

Cheers

[code]

[2015-12-15 14:36] marbetschar opened #138 "ZipCode Keyboard: Not .NumbersAndPunctuation?"
Dear xmartlabs

Shouldn't the ZipCodeRow use a .NumbersAndPunctuation Keyboard?

At least this was what I expected, and as it doesn't I can't see the purpose comparing it to a TextRow?

[2015-12-15 14:37] marbetschar opened #139 "Clear DateRow"
How do clear a DateRow after a date was selected?

[2015-12-16 07:38] imranshams opened #140 "RTL support in iOS 8"
Hi, Is it possible for you to support RTL (Right to Left) in iOS 8 and 9?
Tnx body for nice lib

[2015-12-16 08:39] havocked commented on #102
Any update on this one ?

[2015-12-16 15:32] jeffleeismyhero opened #141 "Example App: Rows -> ActionSheetRow click crashes app"
When clicking on the ActionSheetRow in the example application (under Rows), the example application crashes. The log is below.

[code]

[2015-12-17 16:26] tc opened #143 "How can I resize the Image in the ImageRow?"
By default, the image is the height of the text. Is there a way to expand the image to the full width of the cell?

[2015-12-20 16:41] grubbr opened #144 "Trouble formatting textfield / textview cells"
I am having difficulty formatting the font style (size/color) of `textfield` / `textview` cells in selected rows, namely `NameRow`, `TextRow`, `URLRow` and `TwitterRow`.

I have setup defaults and the form as follows:

[code]

And here is how the simulator renders this configuration:
![screen shot 2015-12-20 at 16 26 34](https://cloud.githubusercontent.com/assets/10615121/11918756/7dede2c4-a736-11

[2015-12-21 15:38] grubbr commented on #144
OK managed to solve the first formatting issue with `cell.textField.font` which I hadn't seen documented anywhere previously.

If anyone can help on the second point (how to style the selector view from a `PushRow`) that would be appreciated.

[2015-12-22 11:05] marbetschar commented on #127
Please see the following GIF for how the ContactRow looks like.

Are there any plans of integrating this CustomRow into the official Eureka? Or creating some sort of Repository for sharing custom rows with others?

![contactrow](https://cloud.githubusercontent.com/assets/392542/11953904/3950d832-a8a4-11e5-91cd-3b1570aeecac.gif)

[2015-12-22 12:27] appfrancois opened #145 "Add a referencing outlet to the Eureka FormViewController"
I have setup a UIViewController with Eureka. Everything works fine except on iPads devices on which it looks like this: http://imgur.com/gku7Jt0

To fix this issue, it looks like I have to setup a tableview inside (style grouped) and a referencing outlet to the FormViewController owned by the UIViewController. Then the same screen looks like this: http://imgur.com/Qjid3Oc

The issue is that I have

[2015-12-22 12:51] weyert commented on #101
Looks like you are suggesting to first display an action sheet before displaying the image picker controller based on the source type. I will give this a shot.

[2015-12-22 14:04] #129 closed

[2015-12-22 21:21] mtnbarreto commented on #140
It should already work since we are using trailing and leading instead of left right layout properties al over the library code.

@imranshams Have you tied it?

[2015-12-22 21:26] mtnbarreto commented on #143
@tc  Did you mean "full height" in the las sentence?

[2015-12-22 21:28] mtnbarreto commented on #137
use `cellUpdate` instead of `cellSetup` to set up the `attributedText`.

By default Eureka set up the font before call cellUpdate and after cellSetup is called.

[2015-12-22 21:30] mtnbarreto commented on #101
@weyert great! looking forward to seeing your pull request!

[2015-12-23 01:40] tc commented on #143
I figured out how to expand the height:

[code]

[code]

[2015-12-23 01:40] #143 closed

[2015-12-23 23:30] weyert commented on #101
@mtnbarreto I have created a pull request. Let me know, what you think of it in the PR.

[2015-12-24 09:37] ndmeiri commented on #47
👍

[2015-12-24 17:56] jonhsnow opened #147 "Transfer data with segue"
How to transfer some data with segue?
For example with 2 rows different data
[code]

[2015-12-26 19:00] bryanbartow commented on #47
+ 1

[2015-12-27 09:03] marbetschar commented on #139
Any Info about this?

[2015-12-27 09:04] marbetschar commented on #138
?

[2015-12-27 09:05] marbetschar commented on #108
@ffittschen thank you!!!

[2015-12-27 11:07] mathmatrix828 commented on #17
@marbetschar I've found a temporary workaround. Use tableView(canEditRowAtIndexPath:) and tableView(editActionsForRowAtIndexPath:). It won't allow you to reorder them, but you will be able to delete them

[2015-12-27 11:08] mathmatrix828 commented on #17
I have also forked Eureka, and am taking a look at adding reorder/delete natively, without the workaround

[2015-12-27 20:35] marbetschar commented on #17
@mathmatrix828 that's awesome!!! Keep up!

[2015-12-28 15:57] #140 closed

[2015-12-28 18:26] #141 closed

[2015-12-28 18:27] mtnbarreto commented on #141
@jeffleeismyhero could you check now using master branch?

[2015-12-28 20:43] #138 closed

[2015-12-28 21:06] mtnbarreto commented on #138
@marbetschar thanks for the suggestion.

[2015-12-29 16:25] weyert commented on #101
Done :)

[2015-12-29 16:25] #101 closed

[2016-01-01 06:13] stodeo opened #152 "Update options value for a pushRow dynamicaly ?"
Hello,
Is there a method to update dynamicaly the options field of a pushRow ?

I can update the baseValue but i can't figure it out for the options ( String Array )

Thanks

[2016-01-01 15:50] marbetschar commented on #138
Thanks for the fix!!

[2016-01-02 00:42] michaelbina commented on #119
@vikdenic you ever get to this?  about to get back on it but wanted to see if you made any progress cause I had trouble the last time I tried.

[2016-01-02 00:44] vikdenic commented on #119
@michaelbina I have not yet. Do let me know if you figure it out though. I'll probably dive back into within the month

[2016-01-02 11:48] prbaron commented on #63
I spotted an unwanted behaviour when using some locale where the currency is appended to the number (like €).

If you click on the row, the cursor will be after € and not after the number. Thus, when you click on the delete button, it will not remove the number.
I fixed it that way :

[code]

I`m new to Swift so there is surely a better way to do it.

[2016-01-02 13:36] #152 closed

[2016-01-03 15:22] prbaron opened #153 "Cannot change background color of PushRow"
Hello,
I am trying to change the background color of the PushRow but it is not working. The `to.tableView` is equal to nil in the `onPresent` function.

[code]

Best Regards

[2016-01-03 17:15] ollieatkinson opened #154 "Make custom operators optional"
The custom operators are difficult to debug quickly, as new members join a project there is a steeper learning curve to understand what is going on.

These operators should be optional and should call straight through to functions.

Using this approach you won't be deciphering over the differences of ++== and +++=.

[2016-01-04 09:54] horaceho opened #155 "How to create a CountDownInlineRow with minutes and seconds? feature: PickerView supporting many components."
Instead of selecting hours and minutes, what's the proper way to setup `CountDownInlineRow` to select minutes and seconds?

[2016-01-05 13:52] mbopp opened #156 "Triggering 'onChange' from custom row/cell"
I've written a custom row that contains two textfields and stores it's data in a struct containing two values.  I update the two values of this struct whenever the two textfields in my custom cell change.  What do I need to call in order for the `onChange` event callback handler to fire, as it does not seem to be happening at this time.  Is there a method I can call to let the row know values have

[2016-01-05 14:04] mbopp commented on #156
I think I have found the answer, or at least a solution.  It looks like Eureka uses `didSet` to trigger `onChange`.  Changing a property/member of a struct does not cause `didSet` to execute.  So my solution is to set the value of my custom row with a new instance of the custom struct every time the value of either textfield changes.

With my custom struct

    public struct RangeResult {
      va

[2016-01-05 14:04] mtnbarreto commented on #156
@mbopp Is the custom row value type `Equatable`?
Has the custom row added to a section and the section added to a form?
Do you set up the delegate of the form?

Make sure that your custom row code updates row.value whenever any of the text fields' text change.

This is the eureka source code that invokes onchange callback, see `callbackOnChange?()`. It would be great if you can debug these lines o

[2016-01-05 14:09] mbopp commented on #156
Thanks for the fast response mtnbarreto.  I think I am using the `Equatable` protocol correctly.  Though I'm not certain, and maybe that is the problem.

[2016-01-05 14:09] #156 closed

[2016-01-05 14:12] mtnbarreto commented on #156
@mbopp :+1: , sorry i forgot about your point, `Do not use mutating properties on structs`. it will not invoke `didSet` and `onChange` callback will not be invoked as a result.

Thanks for the clarification!

[2016-01-05 17:08] ramblex opened #158 "Generic Picker version of DateRow"
Is there a version of DateRow where I can put in my own list of options? i.e. where the picker is hidden by default. I'm aware there's a PickerRow but that seems to show the Picker before the user taps on the input, I'd like the UIPickerView to be hidden until the user taps the input.

PickerInlineRow is almost there but ideally the picker would appear at the bottom of the screen as in DateRow.

I

[2016-01-06 14:25] rlaferla opened #160 "Required attribute for TextRow?"
Is there a required attribute for TextRow as there exists in XLForm?

[2016-01-06 14:39] rlaferla opened #161 "Text alignment for TextRow?"
How do you set the alignment for textrows?  ```row.cell.textField.textAlignment = .Left``` does not work.

[2016-01-06 15:10] rlaferla commented on #161
The answer is to use cellUpdate.

[code]

[2016-01-06 15:10] #161 closed

[2016-01-06 15:33] rlaferla opened #162 "ComboBoxRow"
I would really love to see a ComboBoxRow.  i.e.  TextRow with List below.  I suppose there may also be a way to do this with a TextRow, a List and a predicate.  Anyone have some example code?

[2016-01-06 15:46] rlaferla commented on #162
Is there a way to have the predicate evaluated every time the user types a character instead of when they press Enter?

[2016-01-06 16:28] mtnbarreto commented on #162
I would suggest you to create a brand new custom row rather than using TextRow.

If you go for this solution you can just add a target action to its textField view like:
[code]
then filter the list using the predicate from within `textFieldDidChange` method.

If you still prefer to use TextRow, any change of a row value is notified through onChange callback as the readme points out here: https://g

[2016-01-06 16:41] mtnbarreto commented on #160
This property does not exist in eureka. We've not implemented validation support yet, we have it in the project roadmap but not sure when we will address it.

[2016-01-06 16:42] mtnbarreto commented on #160
Same feature request as #47

[2016-01-06 17:12] rlaferla opened #163 "ButtonRow with icon/image?"
How can I have a ButtonRow with both an icon and a title?

[2016-01-06 17:13] rlaferla commented on #162
Thanks.  I've trying it out now.

[2016-01-06 17:13] #160 closed

[2016-01-06 18:22] #162 closed

[2016-01-06 23:24] rlaferla commented on #163
Answer:

[code]

[2016-01-06 23:24] #163 closed

[2016-01-06 23:26] rlaferla opened #164 "ButtonRow action?"
I see that a ButtonRow can perform a segue but I want it to call a method.  That method should have some data/info about the row that called it.

I tried adding a tapGesture but is there a better way?

[2016-01-06 23:49] #164 closed

[2016-01-07 00:56] rlaferla opened #165 "Feature request: TokenRow"
It would be nice to have a token field row like NSTokenFieldCell or venmo/VENTokenField.

[2016-01-07 22:12] rlaferla opened #166 "Associate model object with row?"
Is there a recommended way to associate an optional model/data object with a Row?

[2016-01-08 00:43] rlaferla opened #167 "Ambiguously suggest a height of zero for a tableview cell's content view"
I'm seeing what appears to be an autolayout bug with a form that has 1 header row followed by several sections each with 1 or more rows.  The rows are all of type ButtonRow.

Warning once only: Detected a case where constraints ambiguously suggest a height of zero for a tableview cell's content view. We're considering the collapse unintentional and using standard height instead.

[2016-01-08 01:04] rlaferla commented on #167
This got rid of the warning but the ButtonRow still doesn't appear:

[code]

[2016-01-08 03:26] rlaferla opened #168 "evaluateHidden performance = slow"
There should be a way to hide multiple rows and then evaluate them all at once to improve performance.  I have a form with a couple of hundred button rows and it's slow to hide/unhide rows.  Because my logic is complex, I am not using Predicates/Functions but rather setting the "hidden" attribute on specific rows and calling evaluateHidden() for each row during an onChange().

[2016-01-08 18:12] rlaferla opened #169 "shouldChangeCharactersInRange calls wrong method"
[code]

should be:

[code]

[2016-01-08 18:23] rlaferla commented on #169
I created a pull request.

[2016-01-11 13:33] #169 closed

[2016-01-11 13:54] lyptt commented on #167
I've got the same issue. The hack above seems to work well but it'd be nice if this was fixed properly

[2016-01-12 15:42] Geeo opened #177 "Conditional disabling of DateInlineRow doesn't work"
I'm doing :
form +++
            Section(header: "GENERAL", footer: "")

                <<< TextFloatLabelRow("row1") {
                        $0.title = "Nom"
                        $0.disabled = true
                    }.cellUpdate{cell, row in
                        cell.textField.enabled = self.isEditable!
                    }

                <<< DateInlineRow("row4") {

[2016-01-13 07:34] njovy opened #178 "1.3.1 The top divider of a PickerInlineRow disappears upon selection"
<img width="623" alt="screen shot 2016-01-13 at 4 29 57 pm" src="https://cloud.githubusercontent.com/assets/1792070/12287868/2f4e8796-ba13-11e5-811e-10cb1db780cc.png">

Unlike other InlineRowTypes, The top divider of a PickerInlineRow disappears when a value is set. Also, it doesn't highlight the cell upon focus.

[2016-01-13 13:55] eflyjason opened #179 "onChange function for every row?"
For example I want to do `saveConfig()` for every row when `.onChange`. Is there any way to do this? Thanks!

[2016-01-13 13:56] eflyjason commented on #178
want to ask too

[2016-01-13 15:01] bourgeois opened #180 "Unable to update PickerRow options dynamically"
I tried multiple ways to update a `PickerRow` options dynamically without any success.

Here are the two ways I tried to update it,

    let pickerRowLocation = pickerRow as! PickerRow<Location>
    pickerRowLocation.options = data
    pickerRowLocation.value = data.first
    pickerRowLocation.updateCell()

And with

    form.setValues(["locations": data])
    self.tableView?.reloadData()

Neither

[2016-01-13 21:36] AndrewSB opened #181 "HeaderFooterView is immutable"
Hey!
Trying to add a customized HeaderFooterView to my section, getting an error whenever I attempt to assign to a variable of the HeaderFooterView, heres my code:

[code]

Getting errors on the `header.onSetupView` and `header.height` lines, saying `Cannot assign to property: 'header' is immutable`.

Super confused, any idea what could be wrong?

[2016-01-13 22:30] PeeJWeeJ opened #182 "ImageRow doesn't disable"
ImageRow seems to no longer be disabled properly.

I'm guessing it's due to the recent addition of the picker, but I haven't investigated it too far.

If I have a chance soon I'll issue a pull request, but a work around is to subclass/extend the _ImageRow class and add

[code]

[2016-01-13 23:17] szalaidaniel commented on #133
Doesn't work. :( (Build Failed)

Only work this: row.section?.footer = "You get after you sell successfully." as HeaderFooterView
But it's not good because:
- not support String interpolation
- if you originally have header / footer on the section: run, but not working (works only if you have Section ("text")

[2016-01-14 17:54] RobDay commented on #154
I fully agree with this.  The major risk with custom operators is that it makes code less obvious.  Custom operators do have utility, but they can easily be abused.  Having no fallback for custom operators really limits the project.

[2016-01-14 18:00] patters commented on #154
+1. Leaning on an entire *set* of custom operators to achieve API "fluency" points to the flaws in the underlying design of those APIs.

[2016-01-15 17:58] weyert commented on #182
Sorry, could well be my mistake.

[2016-01-15 20:32] bourgeois commented on #180
I managed to make it work by calling `cell.picker.reloadAllComponents()` manually. Maybe this should be added to Eureka code ?

Here the complete solution,

    <<< PickerRow<Location>("locations") {
        $0.hidden = "$destination != 'Plant / Site'"
        $0.title = "Destination"
    }.cellUpdate { cell, row in
        row.options = self.locations
        cell.picker.reloadAllComponents()

[2016-01-16 00:48] rzubeldia opened #185 "Cannot get values from SegmentedRow"
I'm trying to get values from a SegmentedRow, but xCode show me the next error: "Cannot convert value of type BaseRow? to specified type SegmentedRow"

let Preg1: SegmentedRow  = form.rowByTag("Q1")

any clue?
Thanks

[2016-01-17 18:22] ricardopereira commented on #164
@rlaferla Did you figure it out?

[2016-01-17 18:30] ricardopereira commented on #164
[code]

[2016-01-18 00:58] mtnbarreto commented on #164
see #30

[2016-01-18 19:18] mtnbarreto commented on #185
Hey @rzubeldia
I have answered something similar here: #18
Regards!

[2016-01-18 19:18] #185 closed

[2016-01-18 19:50] #182 closed

[2016-01-18 19:52] mtnbarreto commented on #182
@PeeJWeeJ Thanks for reporting it!

[2016-01-18 20:51] mtnbarreto commented on #181
hey @AndrewSB.

Note that this init is optional:

[code]

so your code should be changed to:

[code]

Alternatively you can use `public init(stringLiteral value: String) ` which is not optional and keep your code as it is.

Regards

[2016-01-18 20:51] #181 closed

[2016-01-18 21:40] #180 closed

[2016-01-18 21:42] mtnbarreto commented on #180
@bourgeois thanks for reporting the issue!

 now  `pickerRowLocation.updateCell()` should work.

[2016-01-18 21:47] #114 closed

[2016-01-18 21:50] mtnbarreto commented on #104
just in case someone is looking for this row. it's already implemented and merged:  #187

[2016-01-18 21:50] #104 closed

[2016-01-18 21:52] mtnbarreto commented on #166
@rlaferla  Could you be more specific?

[2016-01-18 22:46] mtnbarreto commented on #179
@eflyjason you can override the following `FormViewController` method:

[code]

which is invoked every time a row vale is changed as this [line code](https://github.com/xmartlabs/Eureka/blob/0fbccd174a29f4da5bcc0f633e68f13e3010d654/Source/Core.swift#L1519) illustrates.

[2016-01-18 23:05] mtnbarreto commented on #177
@Geeo
Disabled function is automatically evaluated only when a dependent row value changes. In your particular case eureka checks automatically  if `row4` whenever `row1` value changes.

To force the evaluation of the disabled condition you can invoke row's `.evaluateDisabled()` as this
FAQ question point out: https://github.com/xmartlabs/Eureka#row-does-not-update-after-changing-hidden-or-disable

[2016-01-19 01:24] #137 closed

[2016-01-19 01:53] mtnbarreto commented on #165
If you have time to implement it i'm willing to reference your implementation from the eureka readme or merge it into the Example project (we have a swift [file](https://github.com/xmartlabs/Eureka/blob/master/Example/Example/CustomCells.swift) that has many custom rows).

I think that provide it by default (along with the other native rows) is not good idea since no one have asked for it before a

[2016-01-19 02:38] mtnbarreto commented on #168
@rlaferla

The logic behind hiding disabling rows is "complex" and takes some time, it was originally implemented to handle typical ios forms and not forms with hundred of rows.

In your particular case I suggest you to add and remove rows manually using `section.append` and `section.removeAtIndex` respectively or any variant.

I really appreciate if you can provide more information when you repor

[2016-01-19 02:38] #168 closed

[2016-01-19 07:37] Geeo commented on #177
Thanks a lot for help !

[2016-01-19 10:20] #179 closed

[2016-01-19 10:24] eflyjason opened #193 "DecimalRow without any format?"
How can I use a `DecimalRow()` without any formatter?

Currently  when I use the following code:

[code]

and it still convert my value `3359.3` to `3,359.60`. How can I just let it output `3359.3`? Thanks!

[2016-01-19 10:40] eflyjason opened #194 "DecimalRow formatter wrong for too-big number?"
So when I use `DecimalRow()` and type for example `3000000000000000000` (`3e+18`):

![img_8442](https://cloud.githubusercontent.com/assets/4939421/12416363/0ee6f042-bedc-11e5-9b7a-04245980c889.PNG)

It return `2,999,999,884,200,770,000.00`:

![img_8443](https://cloud.githubusercontent.com/assets/4939421/12416370/1519d5c4-bedc-11e5-945c-91bbbdb3d737.PNG)

So how can I fix it? Thanks!

[2016-01-19 17:07] connersimmons commented on #104
Has the PostalAddressRow been added the the Podfile? I installed the 1.3.1 pod and I don't see the PostalAddressRow in any of the files.

[2016-01-19 17:25] N15ee commented on #147
asked myself the same question!

[2016-01-19 18:08] rlaferla commented on #166
I'm referring to bindings or controller logic that binds the Model (some custom object, string, dictionary) to the View (row).

[2016-01-19 18:39] #167 closed

[2016-01-19 21:55] mtnbarreto commented on #158
Currently Eureka doesn't provide such row but i think is a good row to add.

The row class could be `InputPickerRow` or `PickerInputRow`.

For now let's support only one component UIPickerView of type T, so we will have to implement the row generic type and the cell generic type.

[code]

Taking a closer look at `DateRow`, `PickerRow` and `PickerCell` should make things easier.

Let me know if i c

[2016-01-19 22:55] mtnbarreto commented on #108
@ffittschen @marbetschar
I would like to have this new `TextAreaRow` capability integrated with the code base.

I prefer to keep the default `TextAreaRow` behavior (fixed height) and provide a way to enable autoresize functionality.

What do you think?

[2016-01-19 23:09] marbetschar commented on #108
@mtnbarreto this sounds amazing!! How about a `$0.autoResize = true` flag?
@ffittschen any chance you may find some time moving this functionality into the official release?

[2016-01-19 23:23] mtnbarreto commented on #155
There is no a easy way to accomplish this using Eureka build in rows.

To support this functionality we will have to add a new row that supports more than one picker view component since `PickerInlineRow` supports only one.

In your particular case, we can solve it having 2 components (mins and seconds).

Let's think a little bit more about it, i don't have any elegant solution in mind right now.

[2016-01-20 06:12] bharatkrishna opened #196 "Delete"

[2016-01-20 10:54] marbetschar opened #197 "PostalAddressRow: "<", ">""
The "<" and ">" in the textField toolbar of the Street, State, Postal Code, City and Country fields should refer to the previous and next textField within the PostalAddressRow.

Tricky part: I couldn't figure out how without breaking existing functionalities

[2016-01-20 11:08] ffittschen commented on #108
@mtnbarreto Sounds good :+1:
@marbetschar I'll see what I can do. We should discuss how to handle the "extra code" like `keyboardDidChangeFrame ` that is necessary. Either we clearly state it in the documentation or we create a protocol with default implementations

[2016-01-20 13:27] eflyjason opened #198 "get textField.frame in `_FieldCell`"
So I created my own custom cell as:

[code]

I want to get the `textField.frame` but whenever I try in `setup()` or `update()`, it all return `0`.

So how can I get it frame after it is created? Thanks!

[2016-01-20 13:34] eflyjason commented on #198
PS: Currently I'm using this in `setup()`:

[code]

[2016-01-20 14:02] #198 closed

[2016-01-20 14:37] ffittschen opened #199 "defaultOnCellHighlight and other default settings don't work with FloatLabelRows"
Hi,
I'm using the FloatLabelRows from your demo project and tried to do this:

[code]

But those closures are never called.

If I do this instead, everything works as expected:
[code]

Do you know, why the defaults are not being executed?

[2016-01-20 15:14] mtnbarreto commented on #197
@marbetschar
this may be useful.

Since  `CreditCardRow` isn't a build-in row we had to re-implement some types. It should not be necessary if we place the code within the same module name and use internal access control modifier which is the case of `PostalAddressRow`.

[code]

[2016-01-20 20:31] #196 closed

[2016-01-21 12:57] eflyjason opened #200 "keyboardDismissMode of form"
I want to set `keyboardDismissMode` of the form's `tableView`. How can I do that?

[2016-01-21 19:00] grimabe opened #201 "iPad Critical Bug : freeze when opening keyboard."
Hi !
First, I have to say that it is an awesome library. Thanks for that.

I create a form for an iPad use.
The form is composed of sections and rows.
Rows used are textRow, switchRow, nameRow, EmailRow,  textareaRow, and imageRow.

When I simply tap on a textRow, the app freeze and I have to tap multiple times and wait about 10-15 seconds to get the keyboard showing up.

This bug only appears on

[2016-01-21 21:33] gustavobn commented on #197
I'm looking for a `CreditCardRow`. Tried to paste the above example within a new Swift file but it doesn't seem to work. Is an import missing?

[2016-01-21 23:39] waqqas-abdulkareem commented on #47
+1

[2016-01-22 11:42] Massmaker opened #203 "ButtonRow on selecting crashes"
in " didSelect " method of ButtonRow there is no indexPath in implicit upwrapping -  row.indexPath()!

currently fixing it in ".onCellSelection" closure.   ->    " cell.setSelected(false, animated:false)"

[2016-01-22 11:56] Joony opened #204 "Inline PickerCell can be removed before UIPickerViewDelegate method gets called"
In the `PickerCell`, `pickerView:didSelectRow:inComponent:` and `pickerView:titleForRow:forComponent:` can get called after the row has been removed.  The delegate method further calls the `PickerCell` computed property `pickerRow` and fails with a fatal error when trying to access `self.row`.

Create a form with an inline picker (with many options) followed by a text row.  Open the picker row, fl

[2016-01-22 12:32] shanmarkus commented on #137
Awesome !!! thanks @mtnbarreto

[2016-01-22 17:24] mtnbarreto commented on #203
@marbetschar Could you please provide your eureka form code so i can reproduce the issue? Also provide Eureka and Xcode version.

[2016-01-22 17:27] mtnbarreto commented on #200
I think this is not directly related with Eureka library and you should have posted the question on stack overflow.

Anyway, have you tried `tableView. keyboardDismissMode = ....` from your `FormViewController` class `viewDidLoad` method?

[2016-01-22 17:27] #200 closed

[2016-01-23 05:55] eflyjason commented on #200
I've tried `self.tableView?.keyboardDismissMode = .Interactive` but it does not work. :(

[2016-01-23 19:15] ylecuyer opened #205 "LocationRow"
The LocationRow in the example doesn't seem to work and it's tied to the ios map api.

There is a tiny example of a LocationRow using the GoogleMap API: https://gist.github.com/ylecuyer/78ee6d23601b58f06a06

[2016-01-23 22:10] fantasticfears commented on #194
`DecimalRow` relies on the `Float` which only has a precision of 7 digits approximately. Define another DecimalRow based on Double could help.

----

Here I want to argues some naming strategy and design.

I don't understand why Float is used. Since Double seems always better as Swift book described.
As for `DecimalRow`, it is super hard to find out it's based on Float by looking this name. Is `De

[2016-01-23 22:26] mtnbarreto commented on #194
@fantasticfears
Considering the precision issue i would also prefer to switch to `Double`. I just realized about this terrible Float precision.
I think that changing the DecimalRow type to Double will fix the issue. Define another row could introduce misunderstandings.
At the same time there may be eureka users relying on this Float value and their code will no longer compile until they update it.

[2016-01-23 22:27] mtnbarreto commented on #205
@ylecuyer Why it doesn't seems to work?

[2016-01-23 22:51] fantasticfears commented on #194
It's a break change. Unfortunately it may not break complication. It depends on how the user want to use it. For example, I use type cast because of `values:` function which will just give me an nil. But making change from `Float` to `Double` is worth it.

I'm sorry I can't help you with PR. I'm rushing on a demo :(

BTW: Downcast `as` is really misleading when it comes to basic type in Swift.

[2016-01-24 23:42] bharatkrishna commented on #147
I am using a PushRow to present a custom tableview. When a row is selected in that view, how do I set the value of PushRow to the selected row's text?

This is the code I have:

[code]

where self.location passed on from the second view controller which the segue invokes. It is passed on using a custom delegate. How do I set the PushRow's value to the self.location.address ? Should I use completio

[2016-01-24 23:48] N15ee commented on #147
you got to override the prepareFor Segue function.
There you have to get the TAG from the Row ->`<addr>` (sender as! PushRow).tag!

For this you have to set the tag in the PushRow
`<addr>`PushRow<String>("InsertTagIDhere")
After:

`<addr>`override func prepareForSegue(segue: UIStoryboardSegue, sender: AnyObject?) {
`<addr>`if segue.identifier == "ContractDetail" {
`<addr>`let destinationVC = segue

[2016-01-25 08:37] dromerobarria opened #206 "Change image in HeaderFooterView with a <<< ImageRow() ."
Any chance to be able to change the image on the HeaderFooterView with a  <<< ImageRow() , just to look like profile view .

Finally it is possible to make the image on the HeaderFooterView  circular , i was trying to do it but nothing happened.

Thanks by the way for this great framework.

[2016-01-25 10:27] michaelbina opened #207 "TextAreaRow with imageView icon does not format correctly"
I had this problem before with SegmentedRow and it was fixed, but it happens now with TextAreaRow.

When you set an imageView icon, the TextArea does not format correctly to account for the width of the image.  See screenshot to see what I mean.

<img width="373" alt="screen shot 2016-01-25 at 2 26 23 am" src="https://cloud.githubusercontent.com/assets/528845/12548435/17a67bfc-c30b-11e5-911d-a1a60

[2016-01-25 10:35] Massmaker commented on #203
xCode Version 7.2 (7C68)
code :
    private func setupFinishCancelButtons(section:Section)
    {
        let finishTaskButton = ButtonRow("Finish Task").cellSetup{(cell, row) in
                    cell.textLabel?.font = UIFont.boldSystemFontOfSize(17)
                    cell.tintColor = UIColor.blueColor()
                    row.title = "Finish"
                }.onCellSelection {[weak self] (c

[2016-01-25 15:23] mtnbarreto commented on #205
@ylecuyer
I wanted to let you know that Location row isn't distributed within the main library framework since it requires maps framework to work.
You will need to copy the LocationRow and related files to your project.

Is this the issue you are experiencing?

[2016-01-25 15:38] mtnbarreto commented on #206
I'm not sure if i understood your question.

Rows cannot be used as form section header or footer, at least using `row` eureka abstraction as header view.

As the documentation explains you should provide a header/footer view either by providing a view class or a nib file. https://github.com/xmartlabs/Eureka#section-header-and-footer

Let me know if you were asking something different.

[2016-01-25 15:48] mbopp opened #208 "Crash during collapse of PickerInlineRow"
There seems to be an edge case that throws a "nil found exception" when using the PickerInlineRow.  The error can be replicated using the Picker row by swiping the picker dial (so it bounces, beyond the last option), and then immediately closing the inline picker view row.

My best guess is that the logic for selecting a value in the picker is running AFTER the inline row has been, at least partia

[2016-01-25 16:01] mbopp commented on #208
The exception is prevented if I change the `pickerRow` to an optional in Cells.swift ~#614
`private var pickerRow : _PickerRow<T>? { return row as? _PickerRow<T> }`
Then putting some checks in place in the `UIPickerViewDelegate` callbacks. Like...

[code]

Though there may be a more appropriate way of handling the situation.
One side effect with this solution is that the when the picker is collaps

[2016-01-25 18:10] besi opened #209 "Crash when touching an image cell"
I have a fairly simple form that contains some text inputs and an image.

[code]

Now when I click the image cell I'll get the following crash:

[code]

This might be related to #141

[2016-01-25 18:13] besi commented on #209
**Update**: Even when I set `$0.disabled = true` I can still touch the image and produce the error.

I would expect that disabling the cell would prevent opening any popovers or the like.

[2016-01-26 05:56] rajeshmani27 opened #210 "looking to update the section footer text dynamically .."
I have a scenario where each row with a textfield has its own section and looking to use the section footer text to be dynamically updated to indicate the number of characters remaining in BLUE as the user types text and also to indicate in RED when the user exceeds the character limit.

In addition, I am trying to make the footer text a smaller font. Looking for suggestion on best way to do this.

[2016-01-26 09:23] rusdariusalex opened #212 "Xcode 7.3 beta 2 & 3 issue"
I get this error when i try to use Eureka in Xcode 7.3 beta 2 (swift 2.2)

"initializer requirement 'init' can only be satisfied by a `required` initializer in the definition of non-final class 'Section'"

There are also some deprecations

[2016-01-27 09:42] trankimhieu opened #213 "How to get height of a table."
Hi everybody.
I put Eureka form inside a container and want to update container height follow form height. How to get form height.

[2016-01-27 18:18] havocked opened #214 "Formatting IntRow"
Hi !
Why can't I use this kind of code?
[code]
[code]
When i start tapping it's ok:
``123``
But when I arrive at:
``1,234``
The cursor jumps between ``3`` and ``4`` at first then goes back to its place after ``4``
And then everything is blocked ! I can't type anymore, so basically i cannot type more than ``9999``

Thanks again for your great work !

[2016-01-28 07:04] havocked opened #215 "PushRow onChange"
Hi !
Is there a way to listen to an ``onChange`` event for ``PushRow``, like ``AlertRow`` for example ?
Thanks again for your great work !

[2016-01-28 13:41] hariseldon78 commented on #212
did you find a way to compile? the error does not say the file and line...

[2016-01-28 14:04] eflyjason commented on #47
+1

[2016-01-28 14:20] rusdariusalex commented on #212
couldn't compile. i'm using Xcode 7.2 until it will be fixed

[2016-01-28 14:21] mtnbarreto commented on #212
I will look into it shortly. Use Xcode 7.2 for now.

[2016-01-28 15:21] loonloon opened #216 "How to clear entire form ?"

[2016-01-29 07:43] johnjiang opened #217 "[Eureka.DateCell retain]: message sent to deallocated instance"
When I dismiss a view with a datecell, under certain situations I got the following error:

`[Eureka.DateCell retain]: message sent to deallocated instance `

[2016-01-31 08:20] csotiriou commented on #212
Not sure if it helps ( I didn't have the time to look into it myself ), but looking at the Xcode 7.3 beta 2 release notes, Apple states there are changes made to the initialisers. Could this affect Eureka?

[2016-01-31 19:24] demetrio812 opened #218 "tableViewStyle = UITableViewStyle.Plain"
Hello,
I'm trying to configure the the of the UITableView but without success. The variable tableViewStyle in FormViewController is private so I cannot set it from a subclass, also I cannot use the convenience init from an init of the subclass (it cannot be done in Swift).

Is there another way? If not the convenience initialiser could become a standard one so a sub class can override it.

Let me

[2016-01-31 21:44] mikaoj commented on #218
Being the one who added the property I can confirm that I only tested it from Objective-C.
Making the property public to be overridden would probably be the easiest route to take.

[2016-01-31 23:36] demetrio812 commented on #218
Hello,
thanks for replying so fast. Yes that would make things easier too.

That's the workaround I've used in the meantime:

`override func viewDidLoad() {
        if tableView == nil {
            tableView = UITableView(frame: view.bounds, style: UITableViewStyle.Plain)
            tableView?.autoresizingMask = UIViewAutoresizing.FlexibleWidth.union(.FlexibleHeight)
        }
        super.view

[2016-02-01 06:17] loonloon opened #219 "How to hide a row / section based on selected value"
I have try to create a survey form by using Eureka framework. However, how to hide a section when the specific option has been choose ?

Please help !

let fruits = ["Apple", "Banana", "Coconut"]

form +++= SelectableSection<ImageCheckRow<String>, String>(){ section in
    section.header = HeaderFooterView(title: "What is your favorite fruit ?")
}

for fruit in fruits
{
    form.last! <<< ImageChe

[2016-02-01 07:07] eflyjason opened #220 "row: wrong showing on iPad"
From the example project, the first page's form's row is showing correctly on iPad.

<img width="1024" alt="2016-02-01 2 51 01" src="https://cloud.githubusercontent.com/assets/4939421/12710851/6c4ffc1a-c8f5-11e5-873a-54c320578c7b.png">

But in other pages, it is not:

<img width="1024" alt="2016-02-01 2 51 05" src="https://cloud.githubusercontent.com/assets/4939421/12710844/61ca7446-c8f5-11e5-9684

[2016-02-01 07:08] eflyjason commented on #220
Code using in "my own app" is simple:

[code]

[2016-02-01 10:31] TeunVR commented on #212
Most of the fixes are relatively easy, solving the deprecated -- and ++ operators.
However, the tricky compiler error remains:
<unknown>:0: error: initializer requirement 'init' can only be satisfied by a `required` initializer in the definition of non-final class 'Section'

I think it is caused by the public init() requirement from the RangeReplaceableCollectionType protocol that is added in the

[2016-02-01 15:00] #219 closed

[2016-02-01 15:30] loonloon opened #221 "How to set a maximum number of choices in form"
I have try to create a survey form by using Eureka framework. However, how to set a maximum number of choice in form with MultipleSelection option ?

let fruits = ["Apple", "Banana", "Guava", "Others"]

form +++= SelectableSection<ImageCheckRow<String>, String>("fruits_section", selectionType: SelectionType.MultipleSelection) { section in
section.header = HeaderFooterView(title: "What is your favo

[2016-02-01 15:37] loonloon opened #222 "How to deselection in MultipleSelection ?"
How to deselect all the selected options if "Others" is chosen?

let fruits = ["Apple", "Banana", "Guava", "Others"]

form +++= SelectableSection<ImageCheckRow<String>, String>("fruits_section", selectionType: SelectionType.MultipleSelection) { section in
section.header = HeaderFooterView(title: "What is your favorite fruit ?")
}

for fruit in fruits {
    form.last! <<< ImageCheckRow<String>(frui

[2016-02-01 22:57] abelondev commented on #47
+1

[2016-02-02 00:02] rlaferla commented on #30
How do you call a segue from a ButtonRow?

[2016-02-02 08:34] vertuxx commented on #47
+1!!

[2016-02-02 20:18] mtnbarreto commented on #212
I just reported the issue: https://bugs.swift.org/browse/SR-661

[2016-02-03 03:51] AlexEdunov opened #224 "Scrolling Bug"
Looks like after keyboard disappearing form's scroll view has wrong content size.

Take a look at this video:
https://youtu.be/IR9xmNApPRU

Code:

    override func viewDidLoad() {
            super.viewDidLoad()

            form +++ Section(NSLocalizedString("Сменить пароль", comment: ""))
                <<< PasswordRow("current_password") { row in
                    row.title = NSLocalizedStr

[2016-02-03 12:32] hdoria opened #226 "Can I use Eureka with Objective-C?"
I have a project that still uses Objective-C, but all the new classes are being written in Swift. Can I use Eureka for this project (inside the objective-c classes too) ou should I use XLForm?

[2016-02-03 13:10] mats-claassen commented on #226
Hi, we have not tried that. It should work ([look here](https://developer.apple.com/library/ios/documentation/Swift/Conceptual/BuildingCocoaApps/MixandMatch.html))
XLForm and Eureka have very similar features with some small differences, you can use any of them unless you want something specific that just one of them supports.

[2016-02-03 13:12] mats-claassen commented on #224
Hi, seems video is private.

[2016-02-03 14:56] tedwong opened #227 "How to have a multiple columns picker?"
Is this require customizations?
Something like this:

![](http://i.stack.imgur.com/V47ey.png)

[2016-02-03 15:21] btanner opened #228 "Clear selected photo from imageRow - code written"
I was trying to do the right thing and figure out how to do a pull request, but learning iOS, Git, GitHub, XCode, and Eureka all in 2 days seems to have taxed me enough that I can't figure out how to do it.

I am planning to write quite a bit of additional custom code to extend Eureka.  I ended up implementing a photo clear option by modifying your code instead of adding a new custom row to mine,

[2016-02-03 16:52] AlexEdunov commented on #224
Sorry. I fixed that.

[2016-02-03 19:57] mtnbarreto commented on #13
@mbopp  We finally implement the row. Only available on master branch for now.
Regards

[2016-02-03 19:57] #13 closed

[2016-02-03 20:52] mtnbarreto commented on #64
We can change the cell of a particular row by setting up its `cellProvider` property.

Cell Type can not be changed since it's defined in the row type using generics.
Taking as an example the `WeeklyDayRow`, as we can see below it only works with `WeekDayCell` as its type defines.

[code]

This is the CellProvider generic type:

[code]

Since `PushRow<T>` cell must be a `PushSelectorCell<T>`  and

[2016-02-03 23:07] besi opened #230 "Select first UITextField and select the content"
When my form appears I want to

1. Make it the first responder
2. Select any existing text

In my UIViewController I only deal with the Form-DSL so I can't reference the actual UITextFields so I am wondering how I can achieve such a functionality.

### If I had a reference...

So in my `viewWillAppear` method I would do this:

[code]

And using a delegate of the `UITextField` I could achieve selec

[2016-02-04 17:21] mtnbarreto commented on #72
@minuscorp done!

[2016-02-04 17:21] #72 closed

[2016-02-04 19:48] lorenzhk opened #232 "RowByTag("tag_name") for custom cell PasswordFloatLabelRow doens't work"
I'm just trying to get the value for a custom float label row, but unfornately, it returns nil

`let passwordRow: PasswordFloatLabelRow? = self.form.rowByTag("password")`

[2016-02-04 21:50] btanner opened #233 "Each imageRow requires 20-30 MB of memory to use"
I am testing with the iPad and iPhone simulator, and my app has _lots_ of images.

I noticed app was at 150 MB of memory usage while testing, only selecting a few photos from the image library in the simulator.

I'm totally a newbie with ios programming, but I imagine there is a way naturally make a small thumbnail for the row graphic and retrieve the "address/ID" of the actual photo in the librar

[2016-02-04 22:53] mtnbarreto commented on #232
@lorenzhk thanks for reporting it!

[2016-02-04 22:53] #232 closed

[2016-02-05 10:09] grimabe commented on #201
I am not able to reproduce the bug anymore. Closing the issue.

[2016-02-05 10:09] #201 closed

[2016-02-05 20:35] mtnbarreto commented on #67
@jadidian
Why don't you use table view header footer or section header footer to show these views? https://github.com/xmartlabs/Eureka#section-header-and-footer
Could you please provide examples where rows are better than section header and footers?
I would like to discuss if it's worth creating a new row type to show views.

Regarding the Row String generic type needed, In eureka each type must e

[2016-02-05 21:37] mtnbarreto commented on #102
@jasonnam By definition `GenericMultipleSelectorRow<T, ....>` expects a  PushSelectorCell<Set<T> as a cell type. In your particular case you need a custom row similar to it but it should work with your custom cell.

[code]

Being said that I recommend you to create a new custom row by taking ideas and following `GenericMultipleSelectorRow` implementation. For additional info read: https://github.c

[2016-02-05 22:19] mtnbarreto commented on #226
@hdoria Eureka was almost completely written in swift and it uses swift specific language features that objective c doesn't have.

The only way to use Eureka from obj-c project is creating every form controller in swift.

Regards

[2016-02-05 22:19] #226 closed

[2016-02-05 23:46] mtnbarreto commented on #208
@mbopp Thanks for reporting the issue! Should be fixed now!

[2016-02-05 23:46] #208 closed

[2016-02-05 23:49] mtnbarreto commented on #204
@Joony  Thanks for reporting the issue. It was already fixed!
Same as #208

[2016-02-05 23:49] #204 closed

[2016-02-06 00:47] mtnbarreto commented on #103
@blue-toe
Accessory navigation toolbar can be changed  by extending it and setting up navigationAccessoryView form controller property with your custom navigation (`MyNavigationAccessoryView`) as the code below shows.

[code]

Hope it helps you.

[2016-02-06 14:54] billymwlei opened #236 "Any idea on Google address autocomplete implementation?"
Any idea in which way to start?
this involved a add-in table view for the possible address and the delegation point back to the vc.

[2016-02-06 15:15] btanner opened #237 "Feature Request - Make 2 functions public in Core.Swift"
I apologize for polluting the issues list as I work through learning Eureka and iOS/Swift all at once.

Let me tie it together.

I request that in Core.swift, the following 2 functions be made public:
public func createController
public func presentViewController

This seems to be necessary in order for me to create my own version if ImageRow.

With my own ImageRow, I have resolved my issues:
#233

[2016-02-07 00:46] blue-toe commented on #103
Thank-you very much for the great answer and sample code! Works perfectly. I learned something new.

Thanks again.

[2016-02-07 00:46] #103 closed

[2016-02-07 00:52] blue-toe commented on #139
See issue #103.

[2016-02-07 04:37] fxv commented on #167
Hi. Can you please update the pod spec version that includes this fix. Thank you.

[2016-02-07 20:01] AlexCatch opened #238 "Changing ButtonRow title."
Is it possible to change the title of a ButtonRow while running?
Setting the title of the row on 'cellUpdate' doesn't work.

[2016-02-08 16:45] Tramvai opened #239 "MultipleSelectorRows not accepting value as array when using setValues()"
Trying to add an array of values to MultipleSelectorRows using the setValues() method and a tag-value dictionary does not work.

My MultipleSelectorRows have a type of String. When I add a value to it in the initialize method (`$0.value = ["blah"]`), it works as intended. However when I try to add a value to it later in the code, the value stays as nil.

[code]

**--- EDIT:**
Turning the array int

[2016-02-08 18:00] mtnbarreto commented on #238
@AlexCatch
[code]

Using the master branch version you can also use `row.reload()` instead of `updateCell()` in case you are not running another reload.

Please read this guide before contributing: https://github.com/xmartlabs/Eureka/blob/master/CONTRIBUTING.md

Regards

[2016-02-08 18:05] #64 closed

[2016-02-08 18:06] #102 closed

[2016-02-08 18:20] mtnbarreto commented on #217
@johnjiang Is this issue still happening using master branch code?

Please follow this guide to contribute: https://github.com/xmartlabs/Eureka/blob/master/CONTRIBUTING.md

Regards

[2016-02-08 19:16] #218 closed

[2016-02-08 19:17] mtnbarreto commented on #218
@demetrio812 @mikaoj  I deleted the `convenience` modifier.

[2016-02-08 19:30] mtnbarreto commented on #213
@trankimhieu I have never tried this but it seems not a Eureka domain problem.
http://stackoverflow.com/questions/6860231/how-to-get-the-size-of-a-uitableviews-content-view

Please post these kind of questions on stackoverflow as contribution guide points out.

Regards

[2016-02-08 19:30] #213 closed

[2016-02-08 22:52] #237 closed

[2016-02-08 22:55] mtnbarreto commented on #237
@btanner done!
Could you please provide your ImageRow code implementation? In particular share your solution for  #233 y #228.

[2016-02-09 01:33] btanner commented on #237
The code I posted on #228  works fine as is to clear the photo.

The thumbnail issue for #233  is more tricky.   I haven't found a way to hook into the guts of Eureka to intercept the return value from either picking images from the photo gallery or the camera directly. All I have been able to do is lame stuff like setting a flag when the row is selected "imageMaybeChanged" and then looking for th

[2016-02-09 04:00] btanner commented on #237
@mtnbarreto  Hi. Not sure if you would have received earlier comment.

So, looks like the image gets picked using ImagePickerController.

As you surely know, the picture comes back in a dictionary:
didFinishPickingMediaWithInfo info: [String : AnyObject]

In the simulator, the dictionary looks as follows when picking one of the built-in images:
[\"UIImagePickerControllerMediaType\": public.image,

[2016-02-09 04:38] mtnbarreto commented on #239
@Tramvai This is the MultipleSelectorRow base class definition:

[code]

Notice the `Set<T>` which is the row type of MultipleSelectorRow<T>.

MultipleSelector `options` is an Array to display the option in the same order it appears in the array.
MultipleSelector `value` is a set since it doesn't matters the selection order.

[2016-02-09 04:38] #239 closed

[2016-02-09 05:02] btanner commented on #237
@mtnbarreto
Ok.  Challenge accepted.  I'm new to Swift and IOS, so maybe this is a stupid way to do it.  I used associated objects in Objective C and a public Extension to UIImage to add a property to UIImage called pickerDict.  It allows you to basically attach the picker information to the UIImage so that it can be retrieved later in the custom row implementation.

Maybe overkill, or bad b/c not

[2016-02-09 05:56] #205 closed

[2016-02-09 05:57] #67 closed

[2016-02-09 07:59] csotiriou commented on #212
To me, seems like an issue on Apple's side.

Does it happen with beta 3?

[2016-02-09 08:08] ricardopereira opened #242 "Can't build on Xcode 7 Beta 3"
`error: initializer requirement 'init' can only be satisfied by a `required` initializer in the definition of non-final class 'Section'`

[2016-02-09 09:22] btanner opened #243 "Section height"
I fought with section heights for several hours when I was getting started.  Basically, my code base uses "blank" sections as a way to group rows together and hide them without having their individual properties set to hidden.

This is nice, because you can distinguish between rows hidden individually b/c they don't apply (so should not be validated) from rows that are hidden b/c of their section,

[2016-02-09 11:17] ffittschen commented on #212
Just tried it with Xcode 7 beta 3, still crashing...:
[code]

[2016-02-09 14:36] mtnbarreto commented on #242
same as #212

[2016-02-09 14:36] #242 closed

[2016-02-09 15:04] #224 closed

[2016-02-09 15:05] mtnbarreto commented on #224
@AlexEdunov Thanks for reporting the issue. Should be fixed now!

[2016-02-09 15:08] #238 closed

[2016-02-09 15:18] mtnbarreto commented on #123
Build-in rows (rows provided by default) don't cover this particular scenario.

Anyway, you can easily create a custom row and make it looks like as you want. Take a look at [Extensibility](https://github.com/xmartlabs/Eureka#extensibility) readme section that explains how to implement custom rows.

Also take a look at issues marked with [customRow label](https://github.com/xmartlabs/Eureka/issues

[2016-02-09 15:18] #123 closed

[2016-02-09 15:32] mtnbarreto commented on #139
@marbetschar There may be many ways to clear or reset a row. This is a UI dependent task and Eureka lets everyone choose how to do it.
**Eureka was originally designed to be flexible and extensible and was not intended to cover all look and feel and style scenarios out of the box**

This are some solutions i have in mind:

1. Updating `navigationAccessoryView ` as #103 points out.
2. Adding a sect

[2016-02-09 15:38] #139 closed

[2016-02-09 15:56] mtnbarreto commented on #215
@havocked

Yes, All Eureka rows have the "same" callbacks since all must conforms to `RowType`.

Note that PushRow is a generic type....
[code]

Let me know if this works for you.

[2016-02-09 15:56] #215 closed

[2016-02-09 16:35] btanner commented on #243
Sorry folks.  For some time when I was trying to learn about how to setup Toolbars at the bottom of views I had all sorts of extra views that were not necessary. Sometimes these were working, but I guess sometimes they were not.  So, I removed the TableView that I had manually added in Storyboard because Eureka handles that automatically.  So, how to adjust the section height?

Well, you can overr

[2016-02-09 16:39] mtnbarreto commented on #243
@btanner Have you tried..

[code]

[2016-02-09 16:50] btanner commented on #243
Yeah that's probably much better. I'll have to muck with it at home a bit more to get it right for my setup, but a quick test and it does what I want without having to override which is a bonus :)

Thanks very much!

[2016-02-09 17:34] mtnbarreto commented on #243
:+1:

[2016-02-09 17:34] #243 closed

[2016-02-09 19:21] mtnbarreto commented on #105
@marbetschar I don't know how common is this problem but....
The right actions feature can be easily implemented using `editActionsForRowAtIndexPath` table view delegate method:

[code]

![screen shot 2016-02-09 at 3 43 18 pm](https://cloud.githubusercontent.com/assets/1746532/12926834/e8906c66-cf43-11e5-8442-fa77fffcee18.png)

My thoughts about this feature.
1. I would only implement the feature

[2016-02-09 20:44] mtnbarreto commented on #133
@szalaidaniel We've added a new readme FAQ question to show how section header footer can be updated, take a look at https://github.com/xmartlabs/Eureka#how-to-update-a-section-headerfooter
Regards

[2016-02-09 20:44] #133 closed

[2016-02-09 20:45] mtnbarreto opened #246 "on"

[2016-02-09 20:45] #246 closed

[2016-02-09 21:47] mtnbarreto commented on #135
Have you tried using a `UITableViewStyle.Plain` as tableView style?
You may run into some issues if you have many section headers and want only the first one to be fixed at the top.

Could you clarify on the reasons a separate view does not work? If you provide more information I would provide some help.

[2016-02-09 23:02] mtnbarreto commented on #199
I've fixed it. The dynamic dispatch was wrongly performed because we forgot to implement the type init method.

Check master branch code, it should work now!

[2016-02-09 23:02] #199 closed

[2016-02-09 23:07] #207 closed

[2016-02-09 23:07] mtnbarreto commented on #207
@michaelbina thanks for reporting it!

[2016-02-09 23:32] mtnbarreto commented on #203
@Massmaker I couldn't make it crash using the code provided by you.  I'm using master branch version. Could you please check that is still crashing using master branch?

This is my form view controller code....

[code]

[2016-02-09 23:32] #203 closed

[2016-02-10 08:09] innoreq commented on #144
I have the same problem, trying to format the text using

[code]

but except the cell.backgroundColor, all other settings are ignored. Any idea?

BTW: The Eureka lib is really great!

[2016-02-10 08:23] innoreq commented on #144
After grooming this forum, I found the solution: not only define `.defaultCellSetup`, but also `.defaultCellUpdate` (as described here: [https://github.com/xmartlabs/Eureka/issues/110]).

Perhaps you should enhance the manual to point this out?

[2016-02-10 12:00] AlexCatch commented on #238
The code above doesn't seem to work.
Is assigning it to a variable necessary for it to update successfully?

`form.rowByTag("addOrganisation")!.title = name
 form.rowByTag("addOrganisation")!.updateCell()`

[2016-02-10 15:15] mtnbarreto commented on #228
@btanner Could you please make a pull request with this?

[code]

I would also like to add a new property to `ImageRow` to determine if "Clear Photo" should be shown.

Regards

[2016-02-10 15:49] #217 closed

[2016-02-10 16:08] mtnbarreto commented on #154
@ollieatkinson @RobDay @patters  I added some notes about how to use Eureka without using its custom operators.
For more info, take a look here:
https://github.com/xmartlabs/Eureka/tree/document/154#dont-want-to-use-eureka-custom-operators

[2016-02-10 16:08] #154 closed

[2016-02-10 17:37] mtnbarreto commented on #216
@loonloon
Does "Clear a entire form" mean setting up form rows with its default values?
Take a look at: https://github.com/xmartlabs/Eureka#how-to-set-the-form-values-using-a-dictionary

Regards

[2016-02-10 17:37] #216 closed

[2016-02-10 19:19] michaelbina opened #252 "Need way to remove a date with date picker rows"
Unless I'm missing something, I'm not seeing a way to cancel or remove a date selection after one has been picked from any of the date picker rows.  I essentially need a way to set the value to nil and give a clear way for the user to do this.

Here is what the DateInlineRow looks like now:

<img width="370" alt="screen shot 2016-02-10 at 11 13 11 am" src="https://cloud.githubusercontent.com/asset

[2016-02-10 21:06] mtnbarreto commented on #230
@besi  Really good question...
The code bellow do the trick.

[code]

Regards

[2016-02-10 21:08] #230 closed

[2016-02-10 22:27] #220 closed

[2016-02-10 22:28] mtnbarreto commented on #220
done!

[2016-02-10 23:12] mtnbarreto commented on #222
@loonloon
Take a look at the end of the below code snippet, i added a  `onChange` callback to "Other" row.
This does the trick...

[code]

[2016-02-10 23:20] mtnbarreto commented on #221
similar to #222

You can do it by adding a `onChange` callback to each `ImageCheckRow`:

[code]

[2016-02-10 23:31] mtnbarreto commented on #227
same as #155

[2016-02-10 23:31] #227 closed

[2016-02-11 00:06] mtnbarreto commented on #127
@marbetschar  I'm open to integrate this in the example project (not in Eureka framework) but it should also work on iOS 8.

[2016-02-11 00:18] mtnbarreto commented on #209
@besi Were you running your app on an iPad?

[2016-02-11 00:53] #209 closed

[2016-02-11 06:25] mikaoj commented on #155
I have done this in a project, and it isn't awfully hard to accomplish.

The only real problem was value having to be an Equatable collection and a Set wouldn't do because of the order being relevant (first value, first component, etc) and that you could select the same value in both components 1 and 1 in this case (being 1 second and 1 minute). And Array doesn't officially implement the Equatable

[2016-02-11 07:44] besi commented on #230
@mtnbarreto Brilliant, thank you very much.

To make this a bit cleaner I now store a reference to my `titleRow`

[code]

[2016-02-11 07:49] besi commented on #209
Yes I run it on both the iPad and the iPhone.

[2016-02-11 09:01] Chiliec opened #256 "PushRow with search (performance question)"
I added searchBar to PushRow and in delegate method do:
[code]
but `evaluateHidden()` executes so slow, especially it feels when I have many rows. Please, promt me what I doing wrong.

[2016-02-11 11:26] andrealufino opened #257 "detailTextLabel : how to show it?"
How can I do to show the detailTextLabel of the cell? I can't figure out how to do it

[2016-02-11 12:52] marbetschar commented on #105
@mtnbarreto thanks for your feedback. Here are my thoughts about this feature:

1. I can see a lot of use cases for this feature, therefore IMHO it should definitely be implemented into Eureka Core: Imagine a "Swipe to delete contents", or a "Swipe to add a new item to a multivalued section".

2. This sounds reasonable if I got your suggestion right: We have the ability to define a `Condition` for

[2016-02-11 12:57] marbetschar opened #258 "PostalAddressRow: Native Country Selector"
Maybe the PostalAddress Row should support the selection of a country instead of typing it in as String. I'm thinking of a SelectorController displaying a list of translated country names.

And if a country was selected, it will return the ISO countryCode for it.

Thoughts?

[2016-02-11 13:01] marbetschar commented on #127
@mtnbarreto sounds reasonable.

As I've used the new iOS9 CNContact API:
Any Idea of adding this to the example project by using some sort of availability checking instead of adding old API's?

[2016-02-11 13:04] marbetschar commented on #108
@ffittschen maybe just implementing this feature and adding a pull request would be enough to get started? I'm sure @mtnbarreto would guide you from there on if any further changes should be necessary!

[2016-02-11 13:07] ffittschen commented on #108
@marbetschar I will create a PR as soon as my exams are over ;) Probably at the end of this month

[2016-02-11 13:08] marbetschar commented on #108
@ffittschen cool!! I'm eager to see this feature in the official release;
but first of all: Good Luck in your exams!!!!!!

[2016-02-11 13:19] marbetschar commented on #107
@mtnbarreto does the label `custom row` mean this would definitely be a feature not going into core?

Apart from that: Do you have any idea on how this can be built best? I'm a bit lost here, since I would love to reuse the existing core and custom cells.

So adding this feature would allow me to use a `LabeledValue` as follows:

[code]

[2016-02-11 13:30] florianthompson commented on #105
The swipe feature would be amazing!

[2016-02-11 17:20] #222 closed

[2016-02-11 17:20] #221 closed

[2016-02-11 17:54] creister commented on #243
I don't think onSetupView gets called for HeaderFooterView(title: ), as it looks like there is no viewProvider

[2016-02-11 21:32] btanner commented on #243
This might explain why I can't get the sizes right down near 0 when I have a couple of these sections stacked on each other in different configurations.  I stopped messing around with it after a while. I turned off the separator line so the varying small sized "hidden" sections became less noticeable.

[2016-02-11 21:38] mtnbarreto commented on #257
@andrealufino Could you extend or elaborate on what you want to accomplish?

Please make sure you follow the contribution guide providing environment, row type, code example and anything you think could be useful to provide a fast support.
 https://github.com/xmartlabs/Eureka/blob/master/CONTRIBUTING.md

[2016-02-11 21:49] andrealufino commented on #257
@mtnbarreto You're right, sorry. I'm using the last version of Eureka. I need to show the detail label, the classic detail label under the title label. I don't know how to do it. I was able to show the detail label on the right of the cell. I'm using a CheckRow currently, but I think this is applicable to all rows (almost).

[2016-02-11 21:53] mtnbarreto commented on #256
give this code a try, not sure if it works...

[code]

[2016-02-11 22:16] mtnbarreto commented on #257
:+1:  Thanks for not taking me wrong!

This code should work....
[code]

[2016-02-11 23:44] mtnbarreto commented on #197
In regards of `CreditCardRow `, i will implement it shortly. @gustavobn Could you elaborate of which is the expected row behaviour and design?

[2016-02-12 00:12] #197 closed

[2016-02-12 00:20] #257 closed

[2016-02-12 05:38] Chiliec commented on #256
It was a first thing what I tried. It doesn't work :(

[2016-02-12 07:20] loonloon commented on #221
Hi mtnbarreto, thanks for your reply. The solution worked  as expected

[2016-02-12 07:22] jefflai opened #260 "removing a section and then adding a section causing fatal error"
In my code, I'm calling `form.removeFirst()` and then `form.insert(section, atIndex: 0)` to remove and add the first section in the form.

This works fine when the initial form is composed of 2 sections.

But when I call this same code on a form that is composed of 3 sections, my app crashes with the following Eureka fatal error:

fatal error: Section: Index out of bounds: file /Users/jefflai/Docu

[2016-02-12 07:29] jefflai commented on #260
The code that the fatal error comes from in Core.swift is in the getter on `extension Section : MutableCollectionType`

[code]

[2016-02-12 21:20] xom-pschiess opened #261 "PushRow - Prevent Nil"
This may be a basic question - but for a PushRow - is there a way to make it to where if I select the same row twice, it doesn't "unselect" the row?

Basically I don't want them to be able to unselect values from PushRows... more similar to how iOS does it on forms such as "New Event" on Calendar.

[2016-02-12 23:10] jefflai commented on #260
I'm going to close this. I'm not sure if this is a bug. I was able to get my code working after I re-arranged the calls for adding and removing sections

[2016-02-12 23:10] #260 closed

[2016-02-13 01:34] johnjiang commented on #217
Yes, confirmed that it's still happening using master branch

[2016-02-13 06:57] btanner commented on #237
I take this all back.  I've learned a lot this week.  Now that I have a handle on how image picking works, I see that I Can just make my own ImagePickerController for my custom ImageRow and do whatever I want.  This gives me a lot more power to control flow and the whole pickerDict thing (which was an interesting exercise) is totally not required.

[2016-02-13 23:06] bdrelling opened #262 "Are there storyboard elements for Eureka forms?"
I have been looking into this library and it seems extremely comprehensive. I have the example app on my phone and I've been searching through guides and blogs looking at what it can do.

I am unable to figure out if I can use Eureka outside of `UITableViewController`s, such as if I'm only showing 2-3 fields somewhere in a bigger form, and whether or not I can set a placeholder for where the Eurek

[2016-02-14 08:26] Hendra-Huang opened #263 "Custom cell with array cell type"
For example i have data like this:
`{"Large": 10, "Medium": 5, "Small": 7}`
and i wanted to display the data like a chart. So I created custom cell to display the chart. I tried to create custom cell with array cell type, but it is not working. The error says that my array does not conform to protocol Equatable. So is there any solution so i can pass my data in array type to a eureka cell ?

[2016-02-14 13:30] schweigechris commented on #153
Try this one

[code]

[2016-02-14 22:21] MHX792 opened #264 "Decimal localization wrong"
My localization has a "," as a seperator instead of "." – when not editing the decimal number the seperator shows up correctly as ",". During editing it switches to ".".

BTW: After pressing the seperator on the keypad it automatically adds a "0", which I don't want. I would like the user to specify the first number after the seperator.

Xcode: 7.2.1
iOS: 8.1

[2016-02-14 23:33] btanner opened #265 "evaluateHidden() will be dreadfully slow with large forms"
I've run into this before with other platforms, including code I've written myself.

The issue is that to evaluate the visibility of a row, it might need to examine the value of every other row.  For small forms this is negligible, but as the forms get large, it gets disgusting because it grows with the square of the number of rows.

I have almost finished moving my main form to the platform, and

[2016-02-15 00:49] btanner commented on #265
Ok.  So... I have implemented the basic best of both worlds for me in a branch of a new fork of Eureka.
It's like 15 lines of code all together.
1) It allows me to disable evaluateHidden on BaseRow for some period of time:
a) Building the form
b) Loading the form with save data

2) It adds a caching step to BaseRow didSet which seems to eliminate the delays to live calculations while using the for

[2016-02-15 14:45] mtnbarreto commented on #264
@MHX792
Are you using formatters?  `row.formatter = .....`

[2016-02-15 16:19] bdrelling commented on #22
@sureshjoshi Were you ever able to customize the form the way you wanted? I'm having a lot of difficulty with this working.

[2016-02-15 16:21] MHX792 commented on #264
Nope, where can I find a documentation about `row.formatter`?

[2016-02-15 16:26] sureshjoshi commented on #22
Hey @bdrelling, no we actually ended up just making a new UI from scratch which matched what we needed. It's unfortunate, as we probably re-did about half the work that was in Eureka.

[2016-02-15 16:32] mtnbarreto commented on #264
no documentation yet. :) I will improve add how to use it in the readme shortly.

Actually I think this is not an issue. You probably should use formatters to get this behaviour.
Maybe Eureka should have this behaviour (correct formatter and useFormatterDuringInput = true) by default.

Let me think a little bit about it.

[2016-02-15 16:40] bdrelling commented on #22
Was hoping you'd have better news, but unfortunately we're at the same place. Eureka is such a great framework but we really need to be able to change the look to make it more our own.

Thanks for the quick response.

[2016-02-15 16:44] bdrelling opened #266 "Is there any way to customize the section styling?"
I couldn't find any documentation on this, but essentially we're trying something simple like adding 10px of margin to either side of our form and have 2px corner radius on every form section.

I saw this thread, but it went unresolved: https://github.com/xmartlabs/Eureka/issues/22

I know custom rows can help me make specific rows, but is there any way to just add this gap between the controller

[2016-02-15 18:26] mtnbarreto commented on #264
@MHX792 See #267 .

You can either or remove the formatter or set up the DecimalRow as...

[code]

[2016-02-15 18:26] #264 closed

[2016-02-15 19:14] MHX792 commented on #264
Thanks, but seems like the `DecimalFormatter` class is not in the latest pod version of Eureka. I copied it from here: https://github.com/xmartlabs/Eureka/blob/master/Source/Rows.swift
I am little bit confused, though. With your code above, the zeros don't get deleted when I tap on backspace (all numbers change to zeros, when deleted).
I am kind of confused. What I want is the standard `UITextFiel

[2016-02-15 19:45] mtnbarreto commented on #214
I made some little changes on your code.

[code]

It seems to me your formatter was not able to return the int value from `123,4` so I overrode `getObjectValue` formatter method.

Also `getNewPosition` should be implemented to update the cursor position properly.

[code]

[2016-02-15 19:46] mtnbarreto commented on #214
related to #264

[2016-02-15 20:30] mtnbarreto commented on #264
Regarding the extra 0 at the end. No matter if the entered value has decimal digits or not the formatter will add zeros in order to have at least minimumFractionDigits fraction digit.

When `useFormatterDuringInput` is false, the formatter is applied each time the first responder is resigned from the textField.

When `useFormatterDuringInput` is true, formatter is used always, this means even when

[2016-02-15 20:33] #214 closed

[2016-02-15 20:50] mtnbarreto commented on #193
@eflyjason

[code]

Alternatively if you can use a `TextRow` and change the keyboard options:

<<< TextRow() {
    $0.tag = "TAG"
}
.cellSetup { cell, _ in
        cell.textField.autocorrectionType = .Default
        cell.textField.autocapitalizationType = .Sentences
        cell.textField.keyboardType = .Default
}

Notice that TextRow type is String whereas DecimalRow type is Double.

related to

[2016-02-15 20:50] #193 closed

[2016-02-15 20:59] #194 closed

[2016-02-16 09:31] VilemKurz opened #268 "Please, avoid big files - daring request :)"
First thank you for a great library. I am getting grasp on it, but what I find totally disrupting is those large files, each containing multiple classes. It is very hard (at least for me) to read through them to find some information. Even generated headers do not work on such big files. I propose, for the sake of readability and clarity of the code, to divide the code, file per class. What is the

[2016-02-16 09:38] mikaoj commented on #268
:+1:

[2016-02-16 19:20] akabab opened #269 "Global form customization ("theme") setup"
Would be great to be able to setup a global style configuration for the form
- global background color
- cells background color
- cells title & detail (+ placeholder) colors
- cell selected background color
- section header background color
- section header title color
- keyboard color
- interactivity color (buttons, links .., active value)

+ eventually font settings

I'm currently making an app

[2016-02-16 22:49] marcosgriselli opened #270 "Handle PostalAddressRow onChange?"
I'm trying to use the demo PostalAddress row and check the changes in the cell but it never gets to execute the code inside the onChange.

[code]

[2016-02-17 10:05] akabab commented on #47
+2

[2016-02-17 11:37] akabab commented on #153
@schweigechris this actually work, thanks. Still a pain to setup a whole dark theme, check #269

[2016-02-17 14:45] ariff20 opened #272 "NavigationBar not appearing ?"
Why is the navigation bar not appearing when I select the multipleselectorrow ? There's no way to go back from the options table view

[2016-02-17 18:05] mtnbarreto commented on #272
Hi @ariff20 Please follow these guidelines to contribute:  https://github.com/xmartlabs/Eureka/blob/master/CONTRIBUTING.md

[2016-02-18 12:48] mats-claassen commented on #261
Currently the PushRow is using SelectorViewController which uses a `SelectableSection` which supports enabling or disabling this feature. But there is no way to change the default for now. We might add it in the future.

[2016-02-18 12:51] mats-claassen commented on #258
I am not sure this is in our scope. It seems to me that it is more like a custom row, as you will probably want to have a custom design for the address row as well.

[2016-02-18 12:57] marbetschar commented on #258
Oh, ok I can see your concern.

Do you have any idea how we could provide the possibility to use the built in PostalAddressRow but replace the country input field with a selector?

So folks do not have to add a fully customized PostalAddressRow just for country selection?

[2016-02-18 14:39] mats-claassen commented on #272
[Here](http://stackoverflow.com/questions/35459392/navigation-bar-not-appearing) is the question with an answer on StackOverflow.

[2016-02-18 14:39] #272 closed

[2016-02-18 16:12] #270 closed

[2016-02-18 17:14] mats-claassen commented on #268
Hi @VilemKurz, we will do this in the (hopefully) near future.

[2016-02-18 17:54] mats-claassen commented on #266
Hi @bdrelling, to have a cornerRadius defined on every section of the form you will have to use views for those section headers and add a cornerRadius there. If you use the same class of view then you have to do it only once.
To get a margin to either side of the form, you could change the constraints or margins of the tableView.
Is this what you want?:
![captura de pantalla 2016-02-18 a las 2 48

[2016-02-18 19:11] mats-claassen commented on #265
Hi @btanner thanks for that feedback. We will take your code as base but we want to do it a bit differently. We will soon merge the fix.

[2016-02-18 19:59] mats-claassen commented on #210
You can set a new footer to the section but you must reload the section before it takes effect on the view.
You cannot change the font of the footer unless you use a custom view for it.

[2016-02-18 20:05] bdrelling commented on #266
@mats-claassen Thanks for reaching out.

To provide a clearer example, this is the sort of form I'd like to be able to create using Eureka so all of our forms are powered by the same logic and library:

![img_8123](https://cloud.githubusercontent.com/assets/3022693/13156525/e100d850-d650-11e5-8d7b-7d48e7601dda.PNG)

I'll try this within the next few days and see if I can achieve the effect I'm loo

[2016-02-18 20:19] btanner commented on #265
My code is a bit complicated at this moment.  It'll take an hour or so to setup an example, so I'll try to explain first and you can tell me if it's enough.

* As I mentioned, the time to calculate these things grows in the square with the number of rows.  So, if you have 20 rows, theForm.dictionaryValuesToEvaluatePredicate only gets called 400 times. That's fast on any modern computer.
* If you h

[2016-02-18 20:25] mats-claassen commented on #266
I believe it should be possible by setting up a tableView (in the storyboard or not) with those constraints to the margin and set a corner radius to the tableView.

[2016-02-18 21:33] bdrelling commented on #266
@mats-claassen I didn't see any documentation as to how I can set up Eureka in a storyboard or relate it to a specific tableView. If I could do that, that would be perfect.

[2016-02-19 08:59] timvermeulen commented on #167
I'm very new to CocoaPods, but I set everything up yesterday (so I assume I've got the newest versions) and I get this warning too, after using a `PushRow` or an `ActionSheetRow` so far.

[2016-02-19 09:36] remirobert opened #276 "Image Background"
Hello, I wanted to know if it was possible to add an image in background. Or to set the color of the UITableView to clear, to see my UIImageView in background.

Thanks in advance.

[2016-02-19 11:24] rajeshmani27 commented on #210
How do I just reload the section

Thanks

[2016-02-19 13:05] mats-claassen commented on #266
Have you had a look at the examples project? There is the `Main.storyboard` with a lot of view controllers with a table view. Normally we set the constraints of the table views to the border but you can change that.

[2016-02-19 13:17] mats-claassen commented on #276
Sure you can. Just add an imageView behind the tableView on your storyboard and set the tableView's backgroundcolor to `clearColor`.
If you also want the cells of the table to be traslucent then you can do that like this:
[code]

[2016-02-19 13:20] mats-claassen commented on #210
If you are using the master version, there is a function `reload` in the Section class.
If not, wait a bit for it or just:
[code]

[2016-02-19 13:28] mats-claassen commented on #145
Hi @appfrancois , have you solved this?
Why are you using it inside a UIViewController and not a FormViewController (which is a UIViewController)

[2016-02-19 14:42] bdrelling commented on #266
@mats-claassen I did not see the Main.storyboard, did not even think to look in there. Sorry for the oversight and thanks for the patience! Will update this with results.

[2016-02-19 17:10] justinmakaila commented on #78
@abbasmousavi Couldn't you achieve the same thing by building your common behavior into a protocol, and creating a `SpecializedFormViewController` and a `SpecializedViewController`?

You could even avoid duplications with protocol extensions

[2016-02-19 23:40] timvermeulen opened #277 "ActionSheetRow causes strange behaviour"
After using an `ActionSheetRow`, the `rightBarButtonItem` of the `navigationItem` loses its font weight. For example, `UIBarButtonSystemItem.Save` uses a bold system font, but it's not bold anymore after I have used an `ActionSheetRow`.

Also, all heights of my rows shrink slightly after using an `ActionSheetRow`. Just a few pixels each.

My current workaround is to use a `PushRow` instead.

[2016-02-20 05:25] bdrelling commented on #266
@mats-claassen I loaded up the Examples project and manipulated the `tableView` to get what I wanted it to look like. Then, I tried to apply the same steps to my project, but I can't get it to look anything other than the default.

My code:

    class EurekaTestController: FormViewController {
	    override func viewDidLoad() {
		    super.viewDidLoad()

		    form

		    +++ Section("Dates")

[2016-02-20 06:16] DarrenAndes opened #278 "Customizing a subclass of _FieldCell"
In my project I am subclassing _FieldCell to create a new cell design.
I would like to heavily modify the auto-layout of the cell in "override func updateConstraints()"

Because dynamicConstraints is private, I don't see an easy way to make changes to the constraints.
Can you please consider making "dynamicConstraints" public instead?

-> public var dynamicConstraints = [NSLayoutConstraint]()

Tha

[2016-02-21 10:53] #153 closed

[2016-02-21 15:39] joeblau opened #279 "Add A Stepper Row"
Add a stepper row similar to this
![stepper](https://github.com/xmartlabs/XLForm/raw/master/Examples/Objective-C/Examples/Others/XLForm-stepCounter.gif)

[2016-02-21 18:59] prbaron commented on #135
How can we define the table view to Plain ?

[2016-02-22 12:38] mats-claassen commented on #266
@bdrelling You have some errors in the interface builder (red icon next to `Eureka Test Controller Scene`).
From what I see your constraints seem ok, but you need to add a constraint for the bottom of the tableView.

And **do not forget** connecting the tableViews **outlet** to your FormViewController. (to the property that is in `FormViewController`). If you don't, Eureka will create the tableVie

[2016-02-22 13:04] Tripwire999 opened #280 "MapViewController annotationview text"
Hi,

I would like to know if it is possible to change the text of the Annotation on the MapViewController. Now it's the default Select. But I would lik to localize it.

Check screenshot below:
http://s9.postimg.org/3wk5zjcdb/Screenie.png

Thx!

[2016-02-22 16:36] jkereako opened #281 "Split up Core.swift into multiple files"
It is difficult to inspect the code of `Core.swift` because there are over 2,000 lines of undocumented code. That file contains definitions for view controllers, structs and classes.

Ideally, every unit ought to be extracted into its own file and grouped together. The Objective-C version of this library, [XLForm][xlform], does exactly that. It was much easier to look-up the source for a particula

[2016-02-22 16:43] mikaoj commented on #281
#268

[2016-02-23 08:59] TeunVR commented on #212
Beta 4 still crashing :(

[2016-02-23 16:48] bdrelling commented on #266
@mats-claassen Requiring a constraint for the bottom of the `tableView` could be an issue if we want it to be dynamic. In my example above, we are using 7 fields. We might not always know how many fields we want to present on any given form in order to keep it dynamic. If we have to set a constraint for the bottom of the `tableView`, it can't grow with a conditional number of rows unless we count

[2016-02-23 17:03] mats-claassen commented on #266
Well, regarding the bottom constraint on the table: it might be that you don't need it but it will most probably not behave well.

ON the static view at the bottom, I have done that from code, adding it at the bottom with constraints and it worked fine. I have also once added the view at the bottom and made the tableview not to go to the end of the screen but where the bottom view starts. But thes

[2016-02-23 19:11] bdrelling commented on #266
I spent some time trying to figure it out but couldn't narrow it down. When I used a UIView in the same place that I had the TableView, the drop shadow was visible. When I removed the UIView and connected the TableView via the outlet, the drop shadow was hidden. As you said, I had it so the bottom constraint of the TableView was connected to the top constraint of the FixedView.

This was all fixed

[2016-02-23 19:16] scottrhoyt opened #282 "PushRow/PopOverSelectorRow do not support cell callbacks"
I've noticed that on `master` `PushRow` and `PopOverSelectorRow` do not seem to support the common cell callbacks (e.g. `cellSetup`, `cellUpdate`). This makes them difficult to use in situations where you want to customize the form UI or write your own validation logic (`onChange`).

[2016-02-23 20:37] scottrhoyt opened #284 "ButtonRow calls onCellSelection even when disabled"

[2016-02-24 02:40] btanner opened #285 "Feature Request: onVisibilityChanged callback"
My validation code explicitly ignores all rows that are hidden because their visibility condition isn't met.

When their condition is met, they appear, and are now suddenly eligible for validation, and contributing to the error count of their group if they fail validation.

I can't think of a good way to determine when a row becomes visible.  Would it be possible to add a callback for this (and en

[2016-02-24 07:26] useeless37 commented on #47
In the meantime, please follow/contribute to this [SO question](http://stackoverflow.com/questions/35570293/what-is-the-right-way-to-do-validation-in-eureka)

Thanks to you! - from newbie's like me

[2016-02-24 07:41] shanmarkus commented on #47
i was using [SwiftValidator](https://github.com/jpotts18/SwiftValidator) for validate text field for each cell.

[2016-02-24 13:27] jpaas commented on #47
I've been using [SwiftValidate](https://cocoapods.org/pods/SwiftValidate) in the following way...

set up my validator chain and a property to hold the last calculated valid state:
[code]
Validate after form initialization and after each row value change. You can also use the formValid state as a row condition:
[code]

validate like this:
[code]

[2016-02-24 13:28] mats-claassen commented on #266
Did you have a look at Xcode's view inspector while debugging? There you can see what is happening with your views.

[2016-02-24 13:40] mats-claassen commented on #282
Hi just tried this in the examples and it worked :neutral_face:
Also the tests should check that and they pass...
What version of Xcode/iOS are you running?

[2016-02-24 13:42] mats-claassen commented on #284
I believe all / most of the rows do this. Not sure this is the best behaviour

[2016-02-24 16:06] #177 closed

[2016-02-24 16:38] scottrhoyt commented on #282
I am using Xcode 7.2.1 and iOS 9.2.1.

The following code produces a compiler error:
[code]
The error complains about the non-existence of `cellSetup` and `cellUpdate`. I've noticed the same for `onChange`.

[2016-02-24 16:39] scottrhoyt commented on #284
Is there a recommended way to detect ButtonRow activation and to disable it?

[2016-02-25 12:45] mats-claassen commented on #282
You are right, thanks for pointing out. Meanwhile, we always use it like this, and it works for `PushRow` as well:
[code]

[2016-02-25 13:03] mats-claassen commented on #284
I am not sure what you mean? You should check if the row is disabled at the start of the `onCellSelection`:
[code]

[2016-02-25 16:05] jbejar opened #287 "Long Placeholder for TextAreaRow goes outside of cell"
![image](https://cloud.githubusercontent.com/assets/3386245/13325402/e4ba8c9a-db9e-11e5-8443-810e31cb93fa.png)

[2016-02-25 17:26] jbejar commented on #287
So I was able to fix it by accessing the placeHolder label and setting the number of lines. Should this be in the code though by default?
`        textArea = TextAreaRow {
            $0.value = originalValue
            $0.placeholder = control.placeholder
            $0.cell.placeholderLabel.numberOfLines = 4
        }`

[2016-02-25 17:29] jbejar commented on #108
Good luck on your exams as well. I ran into a brick wall while trying to implement it, so any help would be appreciated

[2016-02-25 18:31] scottrhoyt commented on #284
What I mean is that as a user, my expectation of disabling a text field is that I cannot edit it. That is how `UITextField` works and also how `TextRow` works. My expectation of a button is that when I disable it, it won't fire. That is how `UIButton` works, but if the recommended way to detect button activation for `ButtonRow` is to use `onCellSelection` then that is not how `ButtonRow` works.

[2016-02-25 20:02] ffittschen commented on #108
@jbejar have you tried to implement it as I described in https://github.com/xmartlabs/Eureka/issues/90 ?
@mtnbarreto I'm following the [SR-661](https://bugs.swift.org/browse/SR-661) issue as well, should I wait until the `fix/Xcode7-3` is merged before creating the PR?

[2016-02-25 20:43] jonnolen commented on #212
I was also getting prefer associatedtype over typealias warning and seg fault 11 when trying to build using xcode 7.3 beta (7D152p)

[2016-02-25 20:45] jonnolen opened #288 "Playground doesn't work on straight clone (even after building framework) Xcode 7.2"
appears to be a naming issue.

the line import Eureka is erroring with "Can't find module Eureka"

if you change the name to EurekaPG (on the playground) then it will work.

[2016-02-26 14:58] wstudios opened #289 "Convert form.values to json object"
I am trying to post the form values to a PHP file on a server.
I am using the following but getting errors

let values =  form.values()

let jsonData = try NSJSONSerialization.dataWithJSONObject(values, options: .PrettyPrinted)

Thanks.

[2016-02-26 17:06] mtnbarreto commented on #268
done!

[2016-02-26 17:06] #268 closed

[2016-02-26 17:06] mtnbarreto commented on #281
done!

[2016-02-26 17:06] #281 closed

[2016-02-26 17:16] #212 closed

[2016-02-26 17:20] mtnbarreto commented on #212
Guys,
After some hard work Eureka finally compiles successfully on Xcode7.3 but not using the code7.3 beta 4 default toolchain. We have to use https://ci.swift.org/view/Packages/job/oss-swift-2.2-package-osx/ws/ toolchain and up. Probably it will work on next Xcode 7.3 Beta Default toolchain.

Master branch still has some swift2.2 warnings that will be there until Xcode7.3 is released. I think no

[2016-02-26 17:41] mtnbarreto commented on #288
@jasonnam  Could you please clone the repository and check again? I'm able to make it work.

[2016-02-26 17:49] mtnbarreto commented on #282
it may be a swift issue. I will close it since there is a workaround to adopt and in my opinion is the proper way to use `cellSetup`, `cellUpdate`.

[2016-02-26 17:49] #282 closed

[2016-02-26 17:57] mtnbarreto commented on #289
@wstudios Could you provide more information about which values are contained in values dictionary and the errors you are getting?

[2016-02-26 18:09] MPiccinato opened #291 "KeyboardReturnType"
I am attempting to set the .keyboardReturnType on a PasswordRow.

Since the value of .keyboardReturnType is nil I figured I would attempt to set it to a new KeyboardReturnTypeConfiguration struct. Swift is however throwing an error that it cannot be constructed.

I couldn't find any documentation changing the return key type on a particular form or particular row.

[2016-02-26 18:20] mtnbarreto commented on #287
@jbejar  It's an edge case scenario, normally the placeholder fits on the cell area.

We don't add vertical height constraint to placeholder label because we want the text to appear at the top left corner. What you did is a good workaround solution.
I'm open to an alternative solution but it should not change the numberOfLines. Currently the value is 0, it seems to me the most appropriate value by

[2016-02-26 18:21] #287 closed

[2016-02-26 19:17] mtnbarreto commented on #291
Actually KeyboardReturnTypeConfiguration cannot be initialised from another module due to this:

"Default Memberwise Initializers for Structure Types The default memberwise initializer for a structure type is considered private if any of the structure’s stored properties are private. Otherwise, the initializer has an access level of internal.

As with the default initializer above, if you want a p

[2016-02-26 19:31] #291 closed

[2016-02-26 19:33] #288 closed

[2016-02-26 19:42] wstudios commented on #289
Thanks for the reply. I am using tags with each fields so my form.values print is the following:

The error in swift is the following:

Thanks for the help.

[2016-02-26 19:48] mtnbarreto commented on #263
@Hendra-Huang Any type used by a Eureka row must be Equatable, it's a library constraint and it's needed to know when a value is changed.

According [swift evolution](https://github.com/apple/swift-evolution/blob/e06662c2049c223dc226bcf5de50db44d61e8ca2/README.md) in swift 3 Array<T:Equatable> will be Equatable by definition.

*Complete generics: Generics are used pervasively in a number of Swift

[2016-02-26 19:48] #263 closed

[2016-02-26 19:54] mtnbarreto commented on #277
Apparently this is not directly related with Eureka. Eureka does not change any external view font.
I can provide a fast and more efficient support if you provide me with a base code to reproduce the issue quickly.

[2016-02-26 19:54] #277 closed

[2016-02-26 20:27] mtnbarreto commented on #284
@scottrhoyt this is the only way we found to get onCellSelect notification regardless of the row disabled value.
Basically `onCellSelection ` means `tableView:didSelectRowAtIndexPath`. If you don't want to execute your `onCellSelection` code when the row is disabled you will have to add a `if` condition as @mats-claassen suggested.

[2016-02-26 20:27] #284 closed

[2016-02-26 20:28] #276 closed

[2016-02-26 20:31] mtnbarreto commented on #276
I suggest you to also play with table view `backgroundView` apart of setting `.clearColor()` to each cell backgrpundColor property.

[2016-02-27 02:35] Hendra-Huang commented on #263
@mtnbarreto Okay thanks. I have tried a workaround by using NSMutableArray for custom row value and it works

[2016-02-27 04:38] bharatkrishna opened #293 "Limit number of characters entered in a TextRow"
I would like to limit the number of characters the user enters in a TextRow. How do I accomplish this?

[2016-02-27 23:59] #289 closed

[2016-02-28 00:16] wstudios opened #294 "Show hidden row when specific multi select option(s) is checked"
I have a field that has multiple selections, below I have another row that gets visible only when a specific item is selected. I am using tags but can't figure out how to get it to work. Thanks.

[code]

[2016-02-28 07:09] bachirelkhoury opened #295 "TableView IBOutlet not showing in Storyboard"
I'm having similar problem to #116 where my tableView goes under the NavigationBar.
I am supposed to connect the tableView to the IBOutlet but that outlet doesn't show up in the Storyboard:

![main_storyboard](https://cloud.githubusercontent.com/assets/186698/13377932/dbb7ca4c-de44-11e5-94d8-4c6fa6941339.png)

The class doesn't appear in the Custom class dropdown either, so seems Storyboard can't

[2016-02-28 20:36] weyert commented on #236
@billymwlei Not sure, if you still need but you could consider using my solution. Replace the logic with the appropriate call for Google Places API:

``import UIKit
import Eureka
import CoreLocation
import MapKit

/**
 * ExternalViewPickerCell
 */
public class ExternalViewPickerCell : Cell<CLLocation>, CellType {

    public required init(style: UITableViewCellStyle, reuseIdentifier: String?) {

[2016-02-28 20:42] weyert commented on #236
@mtnbarreto: I attempted to make it a bit more generic but I don't know I can find a way a good way. I would have wanted to `public final class LocationRow: _ExternalViewPickerRow<CLLocation>` instead of the current code but I didn't get that working.

What do you think of it? It's my approach to allow callback based selection of content without being forced to have a UIViewController like with th

[2016-02-29 13:10] marshallYin opened #296 "Unable to change the height of cell"
self.tableView?.rowHeight  doesn't work.
by the way,how to setup the textAlignment and textColor of cell
here is my code
    Section()

        <<< ButtonRow() {
            $0.title = "TextRow"
            }.cellSetup { cell, row in
                cell.imageView?.image = UIImage(named: "1")
                cell.textLabel?.textColor = UIColor.grayColor()
                cell.textLabel?.textAlignm

[2016-02-29 13:18] mtnbarreto commented on #295
I'm not sure what is going on. As a workaround try opening the assistance Editor the select FormViewController.swift in the assistant editor then you should be able to connect the tableView outlet from assistant editor with your table view on the main editor.

![screen shot 2016-02-29 at 10 16 03 am](https://cloud.githubusercontent.com/assets/1746532/13395456/92939312-decd-11e5-86b8-74e0f242d418.p

[2016-02-29 14:17] #278 closed

[2016-02-29 16:15] mtnbarreto commented on #296
@marbetschar
You can accomplish it by setting up  `BaseRow.estimatedRowHeight` static property.

[2016-02-29 17:03] rlaferla commented on #295
I ran into a similar problem.  The reason was that XCode/InterfaceBuilder was getting confused by extensions on my view controller that declared additional protocols which IB interpreted as the view controller not inheriting from UIViewController.

[2016-02-29 17:21] bdrelling opened #298 "Any documentation for creating a custom row/cell programmatically?"
There's documentation on the `SwitchRow` in the Readme for changing various options within a cell. There's also an init for the `SwitchRow` that shows how to load a .nib as the view for the SwitchRow. I can even see better examples of this within the Example project for FloatLabelTextField and WeekdayRow. However, I can't find any documentation on just laying out some new views programmatically an

[2016-03-01 00:58] marshallYin commented on #296
I did it by heightForRowAtIndexPath method .

[2016-03-01 01:24] #296 closed

[2016-03-01 09:45] dhf opened #299 "Theming/Styling of pushed SelectorViewController"
I have a PushRow, how can i style the tableView/cells of the pushed SelectorViewController? With cellSetup only the PushRow itself can be styled but not the tableView and cells of the pushed VC. Currently i use a custom SelectorViewController subclass which will be creates by the .Show presentationMode, or its controllerProvider respectively.

Sample:
[code]

[2016-03-01 10:55] bachirelkhoury commented on #295
Thanks guys for the response. @mtnbarreto I used Carthage to install and I can't connect an IBOutlet to the compiled Eureka framework.

@rlaferla I didn't add any additional protocols in this case. But you're right this seems like an Xcode problem and perhaps not related to Eureka. It's the first time I've encountered this and thoughts it's a Eureka thing.

[2016-03-01 13:23] marshallYin opened #300 "How to add a custom cell like the first section using xib"
I saw the documetation and example project  about custom cell. But still don't understand the steps.
![img_0690](https://cloud.githubusercontent.com/assets/16058230/13428182/b812a516-dff3-11e5-992f-49e26074e674.PNG)

[2016-03-01 15:45] rlaferla commented on #295
Can you temporarily remove FormViewControllerProtocol and then go back into IB?

[2016-03-01 15:47] rlaferla commented on #285
I think you meant: onVisibility no onVisability which requires a government form.  :-)

[2016-03-02 03:23] Opelor commented on #47
Hi @shanmarkus, can you show an example of how are you using SwiftValidator. Thanks.

[2016-03-02 03:33] sagits opened #301 "Pass an object to the row"
Hi, it would be amazing if we can pass a custom object to a row. It could be a NSObject. This could be used for multiple purposes (My goal is to hold a reference when i'm editing an object instead of adding an new).

[2016-03-02 08:00] bachirelkhoury commented on #295
@rlaferla that screenshot above with the FormViewControllerProtocol is not mine. That's @mtnbarreto's
Tested this on different computers and still same problem.
Will try to build a test project to share.

[2016-03-02 09:01] Haggan opened #302 "Issue: Cell highlighting"
There seems to be cases where the closure for onCellHighlighting is not executed when defined when creating a section. Is this a known problem - anyone else experiencing this?

Also, the standard highlight doesn't seem to work for PickerInlineRow and some others. Is this as intended?

Not sure if this is a bug or I'm doing something wrong.

[2016-03-02 09:48] bachirelkhoury commented on #295
Problem seems related to linked Eureka.framework when using Carthage. Must an Xcode swift framework linking bug. Moving on for now, copied source straight into the project and that seems to work.

[2016-03-02 22:08] bre7 opened #305 "Add archive to releases"
I can't submit a PR with a file so I can only request it as an issue: would you mind uploading the framework (archived using Carthage) to future releases ? :wink:

[2016-03-03 03:41] Opelor opened #306 "App crashes after AlertRow becomes first responder"
This is the sequence of what i'm doing and then the crash:

1. Launch app and view loads Form
2. Enter text in TextRow and hit NEXT on iPad keyboard
3. Enter text in another TextRow and hit NEXT on iPad keyboard

Then it Crashes when the AlertRow is becoming the first responder.

The console error prints: "fatal error: Array index out of range"

The behavior I was expecting was that the AlertView

[2016-03-03 05:45] rlaferla opened #307 "Setting hidden to true doesn't hide row"
When I set up my row, I can toggle it's visibility BUT when I later try to change the visibility, it does not work.

[code]

then in another method:

[code]

I am using 1.3.1 via CocoaPods.

[2016-03-03 09:58] cyrus86 opened #308 "form causing memory leak when inside DetailViewController"
when adding a form to the detail view of a newly created Master-Detail project (xcode7.x), switching between detailview and masterview a couple of times just keeps piling up memory usage.
the viewDidLoad is called everytime, though i don't really think this is the problem since that's how the xcode template behaves.
Is this working as intended or is there a way to dispose of the eureka form when t

[2016-03-03 17:44] IncredibleDucky opened #309 "Leaving a pickerView while pickerView is scrolling leads to crash"
Line 614 in Cells.swift crashes due to the force unwrap taking place.
   ` private var pickerRow : _PickerRow<T> { return row as! _PickerRow<T> }`
row becomes nil if the user is scrolling when the first responder is being resigned resulting in a crash. Can you guys can change this to a normal unwrapping to prevent crashing and just return an empty row if the unwrapping fails?

[2016-03-03 17:48] IncredibleDucky commented on #309
An even better idea that just occurred to me is possibly caching the last non-nil selected row and returning that.

[2016-03-03 18:44] rlaferla commented on #307
The tags do match. e.g.  first = first.  There was a typo in my example which I just corrected.

[2016-03-03 19:18] rlaferla commented on #307
I also updated to 1.4.1 and it still doesn't work.

[2016-03-03 19:32] rlaferla commented on #307
I created a test project to show this issue.  This is definitely a bug or a misunderstanding of how to hide rows:

[code]

[2016-03-03 21:06] rlaferla commented on #307
It works IF I change the code to:

[code]

I don't see any information in the documentation that says that evaluateHidden() needs to be called.

[2016-03-03 21:27] rlaferla commented on #307
Also, even though my bug workaround hides the rows, the height of the tableview does not shrink.  When hiding rows, I need the table view to adjust it's size so that other views onscreen can claim that space.  I tried calling sizeToFit() and setting the tableview frame to contentSize.height but neither worked.

[2016-03-04 01:45] cousinlam opened #310 "How to use UITableView to create form ?"

[2016-03-04 02:22] zipme opened #311 "SelectableSection is not working correctly in some situation"
Any idea why this works?
[code]

But when I add the rows to the section before the section has been added to the form, the selection does not work:

[code]

Thanks!

[2016-03-04 02:50] rlaferla commented on #169
Did you ever merge my pull request?

[2016-03-04 02:53] rlaferla commented on #169
Furthermore, I see another delegate method that "may" be incorrect:

[code]

[2016-03-04 15:00] mtnbarreto commented on #310
@cousinlam  Could you elaborate more on the issue you are experiencing?

[2016-03-04 22:23] mtnbarreto commented on #311
@zipme It was a a limitation in `SelectableSection` implementation.
Let me make some change in the code to make it work.

[2016-03-04 22:26] #311 closed

[2016-03-04 22:33] mtnbarreto commented on #309
@IncredibleDucky Could you provide the Eureka version you are using? I think we already fix this.

This line was changed to `private var pickerRow : _PickerRow<T>? { return row as? _PickerRow<T> }`

[2016-03-04 22:35] mtnbarreto commented on #309
same as #208

[2016-03-04 22:37] #309 closed

[2016-03-04 22:52] mtnbarreto commented on #308
@cyrus86  Could you upload a project to help me reproduce the issue quickly and provide a fast support?

[2016-03-05 00:39] mtnbarreto commented on #307
@rlaferla Here you have the documentation for the `evaluateHidden()`: https://github.com/xmartlabs/Eureka#row-does-not-update-after-changing-hidden-or-disabled-condition , it's within FAQ readme section.

In regards of the table view height issue, whenever you hide a row, the row is completely removed from the table view so I don't think changing the row height is a good approach.

If you want to

[2016-03-05 00:39] #307 closed

[2016-03-05 00:43] mtnbarreto commented on #305
@bre7  Thanks for the suggestion! We gonna attach the framework into each future release.

[2016-03-05 00:44] #305 closed

[2016-03-05 00:45] bre7 commented on #305
Thanks :wink:

[2016-03-05 01:00] mtnbarreto commented on #294
@wstudios  Could you provide meds_observed row specification?

[2016-03-05 01:18] mtnbarreto commented on #306
@Opelor I couldn't reproduce the issue.

Which Eureka version are you using? Could you post the stack trace?

[2016-03-05 01:30] mtnbarreto commented on #302
@Haggan
Highlighting works slightly different for Inline rows.
For inline rows `onExpandInlineRow` callback is in charge of performing the default highlighting as you can see in `PickerInlineRow` implementation.

[code]

Could you elaborate on `There seems to be cases where the closure for onCellHighlighting is not executed when defined when creating a section. Is this a known problem - anyone els

[2016-03-05 01:40] rlaferla commented on #307
I think this should be mentioned in the readme under the section: "How to dynamically hide and show rows (or sections)"  It's not obvious.

[2016-03-05 03:08] zipme commented on #311
@mtnbarreto thanks! ❤️

[2016-03-06 01:31] bharatkrishna commented on #293
Could someone point me to documentation if this functionality exists? Thanks.

[2016-03-06 04:17] Opelor commented on #306
When I was ready to send the stack trace, I found an error on my code. Now it doesn't crash.

But the behavior I was expecting was that the AlertRow displayed the array of options.

After pressing next in the keyboard the AlertRow doesn't become the first responder and show the options.

But now I feel it isn't a bug. It's like a missing functionality :+1:

Cheers!

[2016-03-06 04:18] #306 closed

[2016-03-06 09:16] PabloLerma opened #313 "ButtonRow cell highlighted"
Hi!

I am unable to change the gray-default highlighted style of any ButtonRow. I'm trying:

[code]

And also in every ButtonRow's .onCellHighlighting and the gray color is still there. What I am doing wrong?

Thanks!

[2016-03-06 23:00] cyrus86 commented on #308
https://github.com/cyrus86/memLeak/blob/master/memLeakTest/DetailViewController.swift
it's a basic master-detail template from xcode with one form inserted into the detail view.
it adds ~2MB of memory usage every time the detailviewcontroller gets called.

Also: the warning shows up every time:

[2016-03-06 23:30] sagits opened #314 "TextFloatLabelCell with textarea and multiple rows"
Hi, i was trying to implement a TextFloatLabelCell that acts as an TextArea. The problem is that i need to conform _FloatLabelCell to TextView instead of TextField. Can someone help me please? Thanks in advance.

[2016-03-07 05:42] bachirelkhoury commented on #295
Reopening here because had same issue again when installing using Carthage.
Perhaps someone else can figure out why this is happening.

Storyboard doesn't seem to recognise IBOutlets inside Eureka.framework, nor the FormController.

I have created this simple example to showcase the problem:
https://www.dropbox.com/s/4wlyi6a2e6k3fv9/Eureka-SampleApp.zip?dl=0

Xcode: 7.2.1

Downloading Xcode 7.3 be

[2016-03-07 10:20] marshallYin opened #316 "How to display a custom cell by loading xib file."
![1](https://cloud.githubusercontent.com/assets/16058230/13566463/b3b0d7bc-e490-11e5-99ca-6e5c3f16430b.png)

Now I have a custom cell like this and it is in a xib file. I tried
Section() { section in
    var header = HeaderFooterView<MyHeaderNibFile>(.NibFile(name: "MyHeaderNibFile", bundle: nil))
    header.onSetupView = { view, _, _ in
         // customize header
     }
    header.height = { 10

[2016-03-07 20:03] IncredibleDucky commented on #309
I was using 1.3.1 thank you for responsding. I updated and haven't gotten the crash since. Thank you.

[2016-03-08 03:57] bre7 commented on #69
Bump. Is it just me or this bug still active ?

Rep:
1. Add DecimalRow in VC
2. Type `5`
3. Type `6`
4. Type `,` (or the corresponding decimal separator shown on your screen)
5. Type `8`

Expected: 56,8 (or 56.8 depending on locale)
Result: 56,08 (or 56.08 depending on locale)

No custom formatter was used. Just vanilla example. (Locale: UY)

[2016-03-08 15:45] bre7 opened #319 "0 after decimal separator (DecimalRow)"
Similar to (if not the same as) #69

Rep:
1. Add `DecimalRow` in VC
2. Type `5`
3. Type `6`
4. Type `,` (or the corresponding decimal separator shown on your screen)
5. Type `8`

Expected: **56,8** (or 56.8 depending on locale)
Result: **56,08** (or 56.08 depending on locale)

Vanilla example, no custom formatter was used. (Locale: UY)

[2016-03-08 19:44] wstudios commented on #294
Thank you for your reply, this is my meds reported row

`            <<< MultipleSelectorRow<String>{
                $0.title = "Meds Reported"
                $0.tag = "meds_reported"
                $0.options = ["No Meds", "Upon Waking", "Breakfast, with food", "Morning, not with meal", "Lunchtime, with food", "Mid-day, not with food", "Dinnertime, with food", "Evening, not with food", "Bedtim

[2016-03-08 22:23] btanner commented on #285
My workaround for this was to set a timer to run validation on regular intervals.

Turns out that's pretty horrific for battery life, so this feature would be a real benefit.

[2016-03-09 01:04] btanner commented on #285
This turned out to be pretty simple now that I understand property setting/getting and closures a bit better than when I started.

Changes:
Baserow gets a new property
[code]

add a public onVisChange under onChange in Core.swift
[code]

Make a didSet observer to hiddenCache on BaseRow
[code]

That's all there is to it!

[2016-03-09 02:14] #316 closed

[2016-03-09 02:14] #300 closed

[2016-03-09 02:56] #279 closed

[2016-03-09 13:43] marcosgriselli opened #320 "Xcode 7.3 beta 5"
Is there any beta branch that I can pull from to work on this Xcode version?. Current one displays errors from Swift changes.

<img width="1543" alt="screen shot 2016-03-09 at 10 43 51 am" src="https://cloud.githubusercontent.com/assets/14804033/13637026/d612ed8c-e5e3-11e5-85f7-b39e63bac01d.png">

[2016-03-09 14:40] mats-claassen commented on #293
We have not tried it, so this is not documented.
Have a look at [this post](http://stackoverflow.com/questions/433337/set-the-maximum-character-length-of-a-uitextfield)

The `FieldCell` calls this method of the formViewController:
[code]

[2016-03-09 14:52] mats-claassen commented on #294
@wstudios If that is a MultipleSelectorRow then the value of it will be a Set<T>, in your case Set<String>. Therefore I believe you cannot cast that row as RowOf<String> nor compare its value to a String.
Why don't you try this:
[code]

[2016-03-09 15:09] #310 closed

[2016-03-09 15:10] #302 closed

[2016-03-09 15:37] allanrvj opened #321 "On DateInlineRow, cell.textLabel.textColor doesn't change on .onExpandInlineRow and .onCollapseInlineRow"
Was trying to imitate the Reminder app wherein when you select the Alarm cell (under "Remind me on a day" cell), the detailTextLabel disappears, and the textLabel changes text and color. The detailTextLabel is successfully hidden, but the changing of colors don't work. So instead of writing this:

`.onExpandInlineRow{ cell, row, _ in`
`	cell.textLabel?.textColor = cell.tintColor`
`	cell.detailText

[2016-03-09 15:39] mtnbarreto commented on #320
@marcosgriselli Yes, you can use https://github.com/xmartlabs/Eureka/tree/Xcode7_3 for now.

[2016-03-09 15:39] #320 closed

[2016-03-09 15:51] mtnbarreto opened #322 "Deselect all SelectableSection rows when another selectable section row is selected."

[2016-03-09 16:14] berengergermain opened #323 "How to dynamically translate AlertRow cancel button label ?"
Hello,

is there a way to dynamically set another title to the action row cancel option (or any other one) in an AlertRow ?

Regards.

[2016-03-09 16:15] mtnbarreto commented on #322
Let's say que have 2 different SelectableSection. `S1` and `S2`. Whenever a new value is selected in S1 we want to deselect all S2 values.

We can accomplish that by adding a `onChange` callback to each `S1` row as shown below:

[code]

We have also to set up `s2` section `tag` value with `s2SectionTag` string in order to make  make the example code above work. Notice that we are getting the refer

[2016-03-09 16:15] #322 closed

[2016-03-09 16:39] sash opened #324 "SliderRow layout problem on iPhone5s/4s"
Hi guys,

Great job on Eureka! I love it.

Looks like there is a layout issue with the Slider row on smaller screen sizes. See the screenshot for example:
<img width="322" alt="screen shot 2016-03-09 at 18 38 58" src="https://cloud.githubusercontent.com/assets/45210/13642710/42c2d89c-e626-11e5-9ed4-48cdf61f2d4b.png">

[2016-03-09 17:25] mtnbarreto commented on #323
I made some changes to support it.

I added `public var cancelTitle = NSLocalizedString("Cancel", comment: "")` to  `SelectorAlertController<T: Equatable>` which is the view controller that is presented by ActionRow.

So now we can set the cancel button text setting up onPresent callback:

[code]

[2016-03-09 17:29] #323 closed

[2016-03-09 18:19] mtnbarreto commented on #321
@allanrvj
To make the first approach work you should remove `row.updateCell()` because it forces the row to be updated/refreshed overriding your previous change (`cell.textLabel?.textColor = cell.tintColor`).
The refresh implementation of a row, among other things, invokes  Cell `update()` function that updates the textLabel color as shown below...

[code]

`cell.detailTextLabel?.hidden = true` wo

[2016-03-09 18:21] #321 closed

[2016-03-09 21:37] mtnbarreto commented on #319
@bre7 Could you please provide your form creation code so i can easily reproduce the issue?

[2016-03-09 21:45] bre7 commented on #319
Sure, here's the code:
[code]

[2016-03-09 22:54] bdrelling commented on #298
Saw this was assigned, but just curious if this is a thing in any way yet?

[2016-03-10 00:58] mtnbarreto commented on #319
@bre7 I found the issue, Tomorrow I'm going to push the fix after adding some UI Test coverage for each `formatter` and `useFormatterDuringInput` set up combination.

[2016-03-10 01:00] bre7 commented on #319
Thanks for the quick fix !

[2016-03-10 01:01] mtnbarreto commented on #308
@cyrus86 Thanks for sharing the project! I haven't had time to look into it yet but i will do it shortly.

[2016-03-10 02:00] brettalcox commented on #324
This is a pretty recent pull request I think. I had the same issue as well. For a hacky workaround, I imported the DeviceKit framework into my project, and edited the SliderRow.swift file. Did an if/else inside the SliderRow.swift class methods for iPhone 4/4S/5/5S/5C, and if the device was <code>==</code> to those devices, set these fields below:

<code>textLabel?.translatesAutoresizingMaskIntoCo

[2016-03-10 06:17] marshallYin opened #326 "How can I make a row disabled without turning the title to gray?"
What I want is that user can not tap the row.like this
![2016-03-10 2 13 28](https://cloud.githubusercontent.com/assets/16058230/13661095/b7ba83b2-e6ca-11e5-93be-86e45b4874ae.png)

but when I set the disabled property of the row,its title will become gray,which I don't want to see.
![2016-03-10 2 13 55](https://cloud.githubusercontent.com/assets/16058230/13661119/db2fb18c-e6ca-11e5-9f4c-7be7934148

[2016-03-10 09:01] marshallYin commented on #326
override func tableView(tableView: UITableView, willSelectRowAtIndexPath indexPath: NSIndexPath) -> NSIndexPath? {
        if indexPath.section == 0 || indexPath.section == 1 {
            return indexPath
        } else {
            return nil
        }
    }

[2016-03-10 09:01] #326 closed

[2016-03-10 14:30] mtnbarreto commented on #326
you should override the disabled color using `cellUpdate` callback.

[code]