[2016-07-12 03:02] ghysrc commented on #549
You are absolutely right, what was I thinking...I use the UITextViewTextDidChangeNotification to make it work. Thanks.

[2016-07-12 03:02] #549 closed

[2016-07-12 03:07] sunbohong commented on #552
Can you supply one demo?

[2016-07-12 03:44] hdoria commented on #38
+1

[2016-07-12 06:01] Amefuri opened #553 "Eureka with navigation controller problem"
Hi,

I just try to use example code within my project. and it seem that Eureka form was hided behind my navigation controller pane.

![eureka form1](https://cloud.githubusercontent.com/assets/1732314/16756633/a4061972-4830-11e6-8a18-08dbdb1ce42e.png)

I expected something like this :

![eureka form2](https://cloud.githubusercontent.com/assets/1732314/16756635/aa56d942-4830-11e6-9e8a-975f835a1aa7.p

[2016-07-12 13:37] anka opened #554 "Display full size image of ImageRow"
It would be nice if there is an option to view the image of an ImageRow. So after taking a photo and displaying the small image within the cell there are only options for clearing the image or retake it. Adding another option like "Preview" (or something else) which displays the image in full size as a modal/popover view would be nice.

[2016-07-12 13:44] mats-claassen commented on #543
Okay I understood you but I think you will have to implement this by overriding the row you want to use.
This is not a core functionality so we will not support it.

[2016-07-12 13:45] alexvazquez commented on #552
Here is the demo where you can see that it works using AlertRow but you get the Duplicate tag error when using PushRow.

Thanks

[EurekaIssueDemo.zip](https://github.com/xmartlabs/Eureka/files/359461/EurekaIssueDemo.zip)

[2016-07-12 13:47] mats-claassen commented on #552
This is strange. That error pops up when you are defining two rows with the same tag. Can you double check that you are not doing that?

[2016-07-12 13:49] mats-claassen commented on #553
This depends on how you set up the tableView. If you did that by storyboard then see if the constraints are put correctly.
Otherwise your navigation bar might be translucent or some other issue with your navigation bar.

It is definitely a tableView setup problem, not Eureka related.

[2016-07-12 13:50] alexvazquez opened #555 "How can I make dynamic the segueName in presentationMode"
I have my form and I have a `ButtonRow` that presents other UIViewController using seguename.

[code]

`self.isFacility` is a public property that can be changed by other elements selections, but right now it doesn't work because at the time `providerAuthRow` is built the `self.isFacility` property has a default value.

Is there a way to set the presentationMode on the `onCellSelection() `so it ca

[2016-07-12 13:52] alexvazquez commented on #552
I just give both rows difrerent tags and the issue still there:

[code]

[2016-07-12 14:27] mats-claassen commented on #552
It works if you declare your class ServicePaymentRate to be `CustomStringConvertible`.
This is because the default implementation of `SelectorViewController` uses `String(option)` as the tag for your PushRow rows. Your options would all return "EurekaIssueDemo.ServicePaymentRate".
It would still fail if you have several objects with the same description...

[2016-07-12 14:32] mats-claassen commented on #555
No. `onCellSelection` is called after the presentationMode is used.
I would put an observer on `self.isFacility ` to update the row's presentationMode when that variable changes

[2016-07-12 14:38] alexvazquez commented on #552
Well if I convert that to CustomStringConvertible yes it works but then on the onChange() event I get a string as row.value instead of my object. In AlertRow it works the way it should be because I get the entire object and then I can select any property of that in case I need it.

Any clue Mats? Appreciate it.

[2016-07-12 14:39] alexvazquez commented on #555
Mats, do you have any sample code on how to do that? I really appreciate your support.

[2016-07-12 14:48] alexvazquez commented on #555
Mats, is it not possible to change the presentationMode of a row on the onChange() event of other row?

[code]

[2016-07-12 15:00] alexvazquez commented on #555
I found the solution in any case some else needs it.

[code]

Thanks Mats.

[2016-07-12 15:12] #555 closed

[2016-07-12 15:14] alexvazquez opened #556 "Is it possible to create a button on the right side of the header"
I would like to know if its possible to create something like the image below.

![image](https://cloud.githubusercontent.com/assets/347747/16772273/4063098c-4819-11e6-813e-05622b6db71d.png)

Is the only way by creating a custom view for the header?

Thanks

[2016-07-12 15:18] mats-claassen commented on #552
No in `onChange` you should get the correct value.
Just if you print like `print(row.value)` it will print the string representation but `row.value` is still your object.
 Try printing `row.value?.paymentPercentage` in onChange

[2016-07-12 15:20] mats-claassen commented on #556
@alexvazquez Please read the [contribution guidelines](https://github.com/xmartlabs/Eureka/blob/master/CONTRIBUTING.md). For questions as to how to create this or that please use Stack Overflow.

And yes you have to add a custom header

[2016-07-12 15:26] alexvazquez commented on #552
Let me try, and let you know... sounds terrific. 👍

[2016-07-12 15:30] alexvazquez commented on #552
Thanks it worked great!!.

[2016-07-12 15:30] #552 closed

[2016-07-12 16:28] mtnbarreto commented on #556
@alexvazquez This might be useful.. https://github.com/xmartlabs/Eureka#section-header-and-footer

[2016-07-12 17:04] hdoria opened #557 "Help with customization"
Hi,

I'm having some troubles to customize my form. Is there a way to customize Eureka to have all the TextRows to be something like this:

![artboard_1](https://cloud.githubusercontent.com/assets/73786/16775979/8591a49e-4839-11e6-8769-469ec7a5e8f0.png)

I need to:

- Change the left and right margins
- Add border to all fields
- Add space between the fields

Thanks.

[2016-07-12 17:44] mats-claassen opened #558 "Proposal: Validations"
We plan to add native validations to Eureka.
We also want to separate the logical validation part and the UI part of showing errors the most we can.

## Use cases
#### Logical part
 * **Validate rows**: We want to be able to validate the values of each of the rows of our forms.
 * **Validate forms**: We want to validate the whole form to see if the user can submit it or not.
 * **Validate list sec

[2016-07-12 18:25] alexvazquez opened #559 "Can't disable ButtonRow on onChange() event of other row"
Im trying to disable a ButtonRow on the onChange() event that ocurrs in other row like this:
[code]

And it doesn't work. Any clue?

Thanks

[2016-07-12 22:31] alexvazquez opened #560 "presentationMode completionCallback is never called"
I have FormViewController where one of my element is a `ButtonRow` and it's `PresentationMode` is SegueName:

[code]

I have placed a breakpoint where popViewControllerAnimated is called and it never stops there.

How can I fire the completionCallBack in my other UIViewController so this line is reached?

I need this because Im showing some other UIViewControllers in order to select some options a

[2016-07-12 22:59] alexvazquez opened #561 "How can I add value to a ButtonRow so it looks like PushRow"
Im using `ButtonRow` to load some UIViewControllers for searching records on server side.

[code]

This is how the Form looks:

![image](https://cloud.githubusercontent.com/assets/347747/16786391/208bdf76-485a-11e6-8e8d-d2cfa19b966c.png)

The if I select a Service (this is a `PushRow`) I have this:

![image](https://cloud.githubusercontent.com/assets/347747/16786408/3969ab68-485a-11e6-984b-003e228

[2016-07-13 01:12] alexvazquez commented on #561
I have just replaced with PushRow and works excellent. Thanks

[2016-07-13 01:12] #561 closed

[2016-07-13 03:27] Amefuri commented on #553
Oh, I didn't know that you can setup Eureka in tableView in storyboard. I thought Eureka was suppose to be code-base only. ?

But yes you're right. I can fixed this issue by translucent or extend edge property.
Thank you very much,

[2016-07-13 03:27] #553 closed

[2016-07-13 07:52] sunbohong commented on #559
I solve it by call `row.evaluateDisabled()`after `row.disabled = true`

[2016-07-13 08:21] violabg commented on #558
Great, I have been waiting for it for a long time.
I think that all kind of row should have a required attribute for mandatory fields.
Would be great if we could have custom validation rules to be pass at rows.

Do you have any release date idea for this feature?

[2016-07-13 10:53] ins0u opened #562 "Problem with MultipleSelectorRow and values returned"
Hello,

I Have a little problem with my MultipleSelectorRow and the values returned..

My code :

1/ Structure

[code]

2/ My MultipleSelectorRow

[code]

3/ My json

[code]

When I choose multiple value, the values returned are : [Value 1, Value 3]
But I would like the values returned are "1, 3" (an array with the id and not the value)..
Have you an idea how to do that ?

Thank for your help :)

[2016-07-13 12:59] mats-claassen commented on #560
Your `other viewController` should have a `completionCallback` variable just like `SelectorViewController` for example and then call that callback when the user has chosen an option.

[2016-07-13 13:02] mats-claassen commented on #558
No, there is no release date. We want to think a bit more about it and then find some time to implement it.

[2016-07-13 13:06] mats-claassen commented on #562
I guess that the values returned are two instances of `StructurePourListe`but as the description of that struct is `self.value` you will see the values printed in console.
So, I guess, you should be able to access the `id` of the returned values. If not, the description of your struct is why you get the `value`.

[2016-07-13 13:22] ins0u commented on #562
Oh ok ok !
But if i change the description, when I choose the values, it's the id and not the value :/
I would like to keep the displayed values and have the id when I validate my form..

My code when i valide my form :

[code]

_rowValue_ return "[Value 1, Value 2]" and not "[1,2]" :/

[2016-07-13 14:05] hardikdevios commented on #155
+1 need solution for this

[2016-07-13 15:24] alexvazquez opened #563 "Custom Row how to attach onChange() event"
Im creating a new custom basic row and have a few problems.

This is my XIB design:

![image](https://cloud.githubusercontent.com/assets/347747/16808715/35b3e298-48e3-11e6-8143-1855762bef59.png)

And this is how it looks in the app:

![image](https://cloud.githubusercontent.com/assets/347747/16808811/980308c0-48e3-11e6-9928-e689c6473d30.png)

The code is very simple:

[code]
What I need is to fire

[2016-07-13 16:25] alexvazquez opened #564 "Can't inherit correctly with Cell and CellType for custom row"
Im trying to create my custom row but its missing a lot of properties that  I should get when Inherits from Cell and CellType.

This is my code:

[code]

If I try to look for .row I can't see it:

![image](https://cloud.githubusercontent.com/assets/347747/16811083/5c07005c-48ec-11e6-8fa6-68d9b86180d1.png)

Am I missing something?

[2016-07-13 17:24] alexvazquez commented on #564
XCode Issue. Resolved

[2016-07-13 17:24] #564 closed

[2016-07-13 18:27] alexvazquez commented on #563
Solved... just saw that when you set the row.value = something the `onChange()` event is triggered.

[2016-07-13 18:27] #563 closed

[2016-07-13 19:17] realenginerd opened #565 "Using Eureka in an App Extension"
I'm using Eureka to render the forms in an Action extension. Linking to Eureka causes Xcode (7.3) to emit this warning message:

According to [Apple](https://developer.apple.com/library/prerelease/content/documentation/General/Conceptual/ExtensibilityPG/ExtensionScenarios.html), "the App Store rejects any app extension that links to such frameworks or that otherwise uses unavailable APIs". In addi

[2016-07-13 21:36] hardikdevios commented on #527
[code]

i guess if you add the value in default init method by taking one more parameter as a optional and setting a value in in `init`  method it won't call `didSet` for sure.

[2016-07-14 06:23] hardikdevios commented on #137
Great thanks 👍

[2016-07-14 08:50] sunbohong opened #566 "When I insert a new section ,the section is strange"
When I insert a new section,I found two strange thing.

*  The section header title will be upper,I set it as "New Section Optional(1))",but the section header view is "NEW SECTION OPTIONAL(1)".
*  When i add new section one by one,the first section will be slide in from the left one by one.

Xcode 7.3.1  iPhone 6 plus 9.3.2

			.onCellSelection({ (cell, row) in
				let sectionTitle = "New Section

[2016-07-14 17:44] alpennec opened #567 "Can't build the framework (Carthage + Xcode 8 b2 / Swift 3)"
Hello,
I am not able to build the Eureka framework using Carthage with Xcode 8 b2 / Swift 3.
I use the "swift3" branch. Find below the error message logged in the terminal.

[code]

<img width="982" alt="screenshot 2016-07-14 19 40 12" src="https://cloud.githubusercontent.com/assets/2082662/16849520/1b50cc2c-49fb-11e6-9552-61e19c217e72.png">

Any idea how to get a correct compilation?
Thanks,
Axel

[2016-07-14 18:04] hardikdevios opened #568 "Form tint color"
It would be great if you add `form.tintcolor` property which apply as a default color for something like stepper,segment,keyboard(Done,<,>),switch,highlight text color almost all control which behavior is based on tint color.

[2016-07-14 18:14] hardikdevios commented on #568
Sorry `self.view.tintcolor` is using the same thing 👍  no need for property

[2016-07-14 18:14] #568 closed

[2016-07-14 21:13] mats-claassen commented on #567
Hi, thanks for reporting.
When compiling `Source/Helpers.swift` in Xcode you will see that this builds correctly.
Seems that Carthage is using another version of Swift compiler. I do not know how to change this but you must make sure that you are using the compiler from Xcode 8 beta 2.

[2016-07-14 21:14] mats-claassen commented on #562
Try printing `rowValue.id`

[2016-07-14 21:46] alpennec commented on #567
I don't think the build error is due to the Helpers.swift file. I have the same error with other Swift 3 optimized frameworks (HanekeSwift and SwiftyJSON).

Regarding the compiler, do you think it is linked to the toolchain? https://github.com/Carthage/Carthage/pull/1303

I am using the last available version of Xcode.

[2016-07-15 12:46] mats-claassen commented on #567
I am not so familiar with how Carthage works.
It might be worth a try.

[2016-07-15 13:26] alpennec commented on #567
Ok. I'll try to manually install the framework to my project until I can figure out how to make things work using Carthage.

Axel

[2016-07-16 23:42] tc opened #569 "How can I change the text color in ButtonRow?"
I'm trying to do a blue background with white text for a ButtonRow using:

[code]
![screen shot 2016-07-16 at 4 42 17 pm](https://cloud.githubusercontent.com/assets/7976/16897848/4cc7cd94-4b74-11e6-85be-057ba403e263.png)
It just stays the tintColor

[2016-07-17 05:13] kansaraprateek opened #570 "PickerInlineRow - onCellHighlight and onCellUnHighlight not getting called."
I have created a form which has TextRow, PasswordRow, PickerInlineRow.

The call back methods onCellHighlight and onCellUnHighlight both are not getting called, not event the onCollapseInlineRow. Only .onChange method handler that works.
Using Xcode - 7.3
Eureka - 1.7

This is my PickedInlineRow.
        <<< PickerInlineRow<String>("Time-Zone") { row in
                row.title = "Time-Zone*"

[2016-07-18 05:04] marcosgriselli opened #571 "CountDownRow"
CountDownRow not displaying values on the first scroll of one field. I need to scroll both Hours and Minutes once (or one of them twice) to get the values on the cell.

Example shown after selecting the cell and scrolling minutes once:
![img_5629](https://cloud.githubusercontent.com/assets/14804033/16906295/f32a3e02-4c8b-11e6-8ed5-2581c84eb60a.jpg)

[2016-07-18 08:09] ins0u commented on #562
_Value of type 'Set<StructurePourListe>' has no member "id"_

Another idea ? ^^

[2016-07-18 11:06] ins0u commented on #562
Ok i solved my problem

[code]

[2016-07-18 11:06] #562 closed

[2016-07-19 07:47] jookes commented on #569
Try to set the textColor in the cellUpdate method like this

`<<< ButtonRow ("Login") {
                $0.title = "Login"
            }.cellUpdate { cell, row in
                cell.textLabel?.textColor = UIColor.whiteColor()
                cell.backgroundColor = UIColor.blueColor()
            }`

[2016-07-19 13:11] mats-claassen commented on #566
Hi @sunbohong ,
1) This is a UIKit behaviour, not Eurekas. Eureka uses the tableView datasource `tableView:titleForHeaderInSection:` method.
2) You want to change the animation of insertion? You can customise that using `insertAnimationForSections` and similar methods in FormViewController

[2016-07-19 13:21] mats-claassen commented on #570
PickerInlineRow does not get highlighted. You have to use `onExpandInlineRow` and `onCollapseInlineRow`. And you have to define both of them as `onCollapseInlineRow` is overriden inside `onExpandInlineRow`.

[2016-07-19 13:47] #538 closed

[2016-07-19 13:49] #544 closed

[2016-07-19 13:51] mats-claassen commented on #524
Could you solve that problem?

[2016-07-19 13:51] #523 closed

[2016-07-19 13:52] #519 closed

[2016-07-19 13:53] #509 closed

[2016-07-19 15:29] krychlinski commented on #501
DateRow has the same problem... My app is using de_DE locale as default and date picker has english translations of months but 'Done' button is translated correctly.

[2016-07-19 16:01] tc commented on #569
Great, thanks , using cellUpdate instead of cellSetup works.

[2016-07-19 16:01] #569 closed

[2016-07-19 18:36] fornieles commented on #72
Hello everyone,

I'm trying to access to imageURL but my code is not working, I should have an image loaded :
`if let url = NSURL(string: "https://etc..") {`
     ` if let res = NSData(contentsOfURL: url) {`
           `$0.value = UIImage(data: res)`
      `}`
`}`

Do you guys have an idea ? The picture is not loaded.

[2016-07-19 18:40] minuscorp commented on #72
I don't get where the problem really is...

Are you trying to get `imageURL` after picking an image from the camera roll or you're expecting `imageURL` to be set after setting by `row.value`?

[2016-07-19 18:46] fornieles commented on #72
Oh sorry, I am expecting imageUrl to be set after setting by row.values.

[2016-07-19 21:11] christianhr opened #572 "Textfields Delegates don't work with eureka callbacks"
When I try to use the UITextfield Delegates (by example cell.textfield.delegate = self), the callbacks .onChange, .onCellUnHighlight don't work, sometimes callbacks are not enough so, I need use the UITexfield Delegates

[2016-07-20 00:04] lognaturel opened #573 "Prompt for camera access when it has been denied"
When taking a photo from an `ImageRow`, camera access is requested from the user the first time "Take photo" is selected. If the user chooses not to grant camera access, s/he is not prompted again and instead sees the camera interface filled with black. I believe the default behavior in the case where camera access is denied should be to display an alert with a 'Cancel' button and an 'Allow Access

[2016-07-20 02:27] biskit commented on #524
I have not yet. CLLocation is an async call back and I need to figure out how to return from `displayValueFor` after that returns...

[2016-07-20 06:48] krychlinski commented on #501
The problem with Eureka framework localization is when an application have another locale then system, for example in my application I have only German (de_DE) locale and I want use just right this one. I have seen that DateFieldRow sets .currentLocale() for UI components, what is wrong in my opinion because I have German navigation buttons etc... but in date picker I have system locale. I think i

[2016-07-20 06:57] hardikdevios opened #575 "Disable animation"
During form setup

[code]

it displayWith animation of insert Section

[code]

It looks weird on first load, also the same thing is not called for **Rows**. Any idea to disable animation on first load?

[2016-07-20 07:36] hardikdevios commented on #575
Well well well
use
`form = Section()
`
instead of
`form +++ Section()
`

but please update the Doc. see this
https://github.com/xmartlabs/Eureka#how-to-create-a-form

[2016-07-20 10:48] alpennec commented on #567
It is really strange, I tried again with the new Xcode beta version (3), still having the same problem using Carthage. I [opened an issue](https://github.com/Carthage/Carthage/issues/1396) to ask for some help.

[2016-07-20 11:44] krychlinski commented on #501
I'm not sure if it is the best way of resolving problem, but it works. Create an extension below:
[code]
and than, in your AppDelegate (or another place you want) add:
[code]

[2016-07-20 13:21] mats-claassen commented on #72
That will not happen. You have to wait for the user to pick an image or set it yourself.

[2016-07-20 13:23] mats-claassen commented on #572
Why don;t you use the delegates in FormViewController?
If you look at the cpde of `FieldCell` you will see that it calls delegate methods on FormViewController like `textInputDidBeginEditing`, etc

[2016-07-20 13:25] mats-claassen commented on #573
Another option would be just to close the image picker in that case

[2016-07-20 14:01] ikesyo commented on #567
Could you please see https://github.com/Carthage/Carthage/issues/1396#issuecomment-233956060? `Swift3` brach also can't be built.

[2016-07-20 14:07] ikesyo commented on #567
Looks like the issue of `Helpers.swift` is related to Debug or Release build. If you add `--configuration Debug` to `carthage` command, the build would success. If you build the target with Release configuration in Xcode, the build would fail too.

[2016-07-20 17:00] lognaturel commented on #573
@mats-claassen Is this roughly what you're thinking: user taps "Take photo", the camera interface shows up, an alert says something like "You've denied access to the camera, go to settings to fix it" with an OK button, user taps the OK button, the camera interface closes going back to the form?

[2016-07-20 19:06] mtnbarreto commented on #573
@lognaturel  I'm not sure but seems to me we need to add AVFoundation to be able to check permissions. Could you check?

[2016-07-20 22:07] lognaturel commented on #573
@mtnbarreto Yes, that's the impression that I get as well. Is that a deal breaker?

[2016-07-21 05:15] sunbohong commented on #566
Hi @mats-claassen
2)
I found the cause of the problem.

When i insert new sections,

https://github.com/xmartlabs/Eureka/blob/a762cd7136bf62a983ec62087dcaa9a38a7d3222/Source/Core/Core.swift#L421-L432

and

https://github.com/xmartlabs/Eureka/blob/a762cd7136bf62a983ec62087dcaa9a38a7d3222/Source/Core/Core.swift#L761-L765

 will be exec.

They both change tableview's subviews frame,and will lead to c

[2016-07-21 09:17] iBenjamin opened #578 "Extra distance between secion."
![image](https://cloud.githubusercontent.com/assets/9389813/17017643/c4cf92cc-4f66-11e6-81a1-7ff67a5f36af.png)

After assign section header and height, there is extra height between section, how to avoid it ?

[2016-07-21 15:58] mtpromano opened #579 "Font customization bug"
Hi,

While trying to customize font of rows, I witnessed a strange behavior that seems to be a bug. See GIF at the end.

Code used is:
[code]

What is happening is that first rows are not using the expected font. Then, when scrolling and tableview has to show new/recycled cells, chosen font is finally used.

I tried adding defaultCellSetup too, but this is not helping.

[code]

- Environment:
Eure

[2016-07-21 16:34] mats-claassen commented on #566
OK I have seen it now. I don't think we want to remove the line that reloads the tableView.
I am not sure why the setter of form is being called when inserting a section. This does not happen if you append a section...

[2016-07-22 14:55] mats-claassen commented on #579
Hi, I have tried this out but it seemed to work for me. Can you check that you are setting `defaultCellUpdate` before the tableView is loaded?

[2016-07-22 14:58] mats-claassen commented on #578
I guess you have some issue with either the height of section headers or footers or this is because of the UITableViewStyle you are using.

Also have a look at [this](http://stackoverflow.com/questions/2817308/reducing-the-space-between-sections-of-the-uitableview)

[2016-07-22 15:13] mats-claassen commented on #571
This seems to be a bug in UIDatePicker. Have a look at [this SO question](http://stackoverflow.com/questions/20181980/uidatepicker-bug-uicontroleventvaluechanged-after-hitting-minimum-internal).
I do not know if adding a delayed setting of the date is a good solution. Specially if we cannot get a decent value for the delay that will work in all cases.

[2016-07-22 16:13] mtpromano commented on #579
Hi,

I set `defaultCellUpdate` just after `super.viewDidLoad()`, like in the Example project.

[2016-07-22 16:22] mtpromano commented on #579
Adding `self.tableView?.reloadData()` in `override func viewWillAppear(animated: Bool)` seems to fix it.

[2016-07-23 03:46] sunbohong commented on #566
I create a single demo.

When `replaceRange` finishes,the `set` will be called.

	//
	//  ViewController.swift
	//  testRangeReplaceableCollectionType
	//
	//  Created by sunbohong on 16/7/22.
	//  Copyright © 2016年 sunbohong. All rights reserved.
	//

	import UIKit

	class TestRangeReplaceableCollectionTypeClass {
		required init () {
		}
		var arr = Array<String>()
	}

	extension TestRangeReplac

[2016-07-23 08:31] jeff-h opened #581 "OS X / MacOS equivalent"
Sorry for the off topic issue, but I'm wondering if anyone knows of a similar project but for OS X? I'm looking for something that could dynamically create the forms for a sidebar inspector, similar to that in Pages / Sketch etc

[2016-07-23 09:24] alpennec opened #582 "Bundle.loadNibNamed now returns an optional • Xcode 8, iOS 10, Swift 2.3"
**Eureka**: 1.5.1 (release 1.7.0).
**Xcode**: 8, beta 3. Swift 2.3.

I can't build the framework, I need to modify the functions
- createView() in HeaderFooterView.swift
- createCell() in Core.swift

to take into account the change in UIKit: Bundle.loadNibNamed now returns an optional. Change can be found here: https://developer.apple.com/library/prerelease/content/releasenotes/General/iOS10APIDif

[2016-07-23 09:34] alpennec commented on #567
@mats-claassen If I download and build the project in the "swift2.3" branch, it works. But not in Release configuration, when I switch in the target Scheme (and Carthage is building the framework also for Release configuration, thus my issue reported above). Maybe this is due to the SWIFT_OPTIMIZATION_LEVEL as suggested by @ikesyo, but the framework should be able to be build with the best optimiz

[2016-07-25 14:58] wm-j-ray opened #583 "Swift 3 Support - xCode b3"
I've looked thru issues, opened and closed.  Sorry for the inconvenience.

I've used Eureka before and am trying to migrate an existing project to Swift 3. I have tried to install the Swift3 branch using Carthage latest release (0.17.2).  I have also tried to compile as Eureka Swift3 framework.  Neither will build. I am trying to avoid CocoaPods so I have not tried it.

- Carthage: I put the Cartf

[2016-07-25 15:24] nmdias opened #584 "How to deselect all selected rows in a `MultipleSelectorViewController`?"
I have added a "Clear" `UIBarButtonItem` to a presented `MultipleSelectorViewController`, targeted a `clearTypologies` method and stored a reference to the `MultipleSelectorViewController`, in order to access it's form later on.

When executing my `clearTypologies` method I set my `MultipleSelectorRow<Typology>`'s value property to nil. Now, I need to reload the table view to reflect the changes.

[2016-07-25 17:55] mats-claassen commented on #583
I am working on this right now. Specially getting Eureka to build in the new Xcode version using Carthage and then removing warnings.
I hope everything will be working soon

[2016-07-25 18:08] wm-j-ray commented on #583
Thank you so much for the update.  Really looking forward to it.

[2016-07-25 18:32] mats-claassen commented on #567
Release configuration was fixed in #585 for Swift 3.
I  could also build it with Carthage now although with (quite) some warnings. We will try to fix them later.

[2016-07-25 20:05] mats-claassen commented on #567
Swift 2.3 branch also updated. Both should be working without any optimisation switch.
If you can test it that it also works for you that would be great.
Anyway thanks for your feedback and your patience.

[2016-07-25 20:09] mats-claassen commented on #582
Hi @alpennec This should be fixed in the latest version of `swift2.3` branch. `Swift3` branch was also updated to Xcode beta 3 syntax

[2016-07-25 20:13] mats-claassen commented on #584
I did not try it but what if you:
[code]

[2016-07-25 20:14] #575 closed

[2016-07-25 20:20] mats-claassen commented on #547
Merged to `Swift3` branch at #551

[2016-07-25 20:20] #547 closed

[2016-07-25 20:21] #543 closed

[2016-07-25 20:22] #537 closed

[2016-07-25 20:23] #535 closed

[2016-07-25 20:27] #526 closed

[2016-07-25 20:36] chrisortman opened #587 "DateRow highlight / unhighlight"
Eureka 1.7.0

I was trying to get consistent behavior of all controls on the form .... color the title blue when editing the row, have grayed out placeholder text when no value and turn text to black when a value is entered.

This proved to be difficult for the DateRow. I wound up accomplishing it by creating my own subclass of _DateRow and changing the initializer onCellHighlight. It seems like i

[2016-07-25 20:38] mats-claassen commented on #522
@plastus What do you mean by other rows?
I believe there can be a difference between the rows with constraints and the rows without constraints. The frames of the latter ones are managed by UIKit.

I believe the correct way to fix this is by adjusting the constraints to be equal to UIKits default appearance but I am not sure if we can do this for all the cases (e.g different devices)

[2016-07-25 20:53] mats-claassen commented on #522
So I have had a look at this and I found the following:
1) We can change the difference between imageView and textLabel to match that one of default UITableViewCells, but
2) If your images are not all of the same size then you wont get alignment.

This is what it would look like:
![screen shot 2016-07-25 at 5 50 17 pm](https://cloud.githubusercontent.com/assets/8573865/17117008/a07e39e6-5290-11e6-

[2016-07-26 04:46] volkanx commented on #472
I was worried about being rejected after reading this issue but my app was approved last week without any modifications. It uses both Eureka and XLPagerTabStrip. Probably @GerdC had an unlucky draw at first. Or maybe I had a lucky one :-)

[2016-07-26 07:14] alpennec commented on #567
@mats-claassen it worked using Carthage in Release configuration 👍 thanks!

[2016-07-26 07:14] #567 closed

[2016-07-26 08:40] nmdias commented on #584
That does it! Thank you @mats-claassen

[2016-07-26 08:40] #584 closed

[2016-07-26 12:49] plastus commented on #522
@mats-claassen Sorry for not updating this thread, the way I solved it was by setting the cell's backgrounView to the contentView with a different background color. Then I had to go to .cellSetup and set-up NSLayoutConstraints for the textLabel relative to the cell's image which I manually add as subviews directly to the cell. I get no flickering, highlight animation works like in a normal cell, e

[2016-07-26 16:13] #522 closed

[2016-07-26 18:20] mats-claassen commented on #587
No, this is the intended behaviour. You should be able to change that overriding `onCellHighlight`.
DateRow is different as you have an additional picker and are not editing in the same cell.
iOS does the same as you can see in Calendar app for example.

[2016-07-26 18:28] #582 closed

[2016-07-27 08:53] berengergermain commented on #323
Oh sorry, I missed the notification ! Thank you for the patch ;)

My swift project was canceled but if I have some time, I will try that and give you a feedback.

Regards

[2016-07-27 11:27] v3rmin opened #589 "Show scrollview (Question)"
Hi, is it possible to do a pop-up like the one below when you click "region" (not calendar). I didn't find this functionality in the example app.

![simulator](https://media.giphy.com/media/7EauaJGKN7u5W/giphy.gif)

[2016-07-27 13:10] chrisortman commented on #587
Overriding via subclass? Or by specifying a callback when I create the row? `DateRow("").onCellHighlight`

[2016-07-27 13:14] chrisortman commented on #521
It might be this http://stackoverflow.com/questions/26427496/cordova-datepicker-plugin-not-working-in-ios8-uitableview-datasource-is-not-set

I can consistently crash the DateRow by
1. Select row
2. Flick the years so that it starts scrolling
3. Select a different row (while scrolling is happening)
4. Select DateRow again

[2016-07-27 14:03] SASDOE opened #590 "Update README to replace PictureRow with ImageRow"
I would do it myself but because cannot because of the PictureRow image.

[2016-07-27 14:26] mats-claassen commented on #587
Both will work.
If you are using this row more than once it might be better to subclass, as you did.
But you should also be able to do that with the callbacks.

[2016-07-27 15:16] mats-claassen commented on #521
Thanks for the steps. I could reproduce it in master branch as you said but it does not happen in `Swift3` nor `swift2.3` branch.
So maybe iOS 10 fixes this or it was fixed accidentally while porting to Swift 3...

[2016-07-27 17:38] mats-claassen commented on #469
This issue has been fixed in `Swift3` branch. Thanks for reporting.

[2016-07-27 17:44] mats-claassen commented on #590
Hi, thanks for pointing out!
We will fix this soon.

[2016-07-27 17:57] SASDOE commented on #590
Might be better to remove the cornerRadius as it is not the default behaviour

[2016-07-27 20:52] JordekFluffball commented on #471
The example uses a custom cell (ImageCheckRow) defined in CustomCells.swift that you will need to include if you want to use that example in your project.

[2016-07-28 07:19] Amefuri opened #593 "Can I consume cell selection event ?"
Hi,

I want to add some validation that will check if user allowed to press that cell or not. but i'm not sure how I can handle that.

for example:
- if user click on ImageRow
- check if user allow to click this row
- If Yes, process row selection normally
- If No, alert message and do not process with imagePicker

Thank you,

[2016-07-28 16:10] gorbat-o opened #594 "Update eureka 1.6.0 to 1.7.0 segmented row"
hey,

i have just update eureka from 1.6 to 1.7 but now my segmented row doesn't work and i don't understand why,

this is my first code working before on 1.6:
[code]

and now, in 1.7 i have got an error like this:
<img width="307" alt="capture d ecran 2016-07-28 a 18 08 58" src="https://cloud.githubusercontent.com/assets/7542553/17220102/5e4bf530-54ee-11e6-8426-1fc82351bfd9.png">

so i try to pat

[2016-07-28 16:16] mats-claassen commented on #594
You should use `+++` operator instead of `+++=`.

What do you mean by not working?

[2016-07-28 16:20] mats-claassen commented on #593
You mean you want to disable the cell? Use the `disabled` variable.
If you need help about that check the Readme.

[2016-07-28 18:36] mats-claassen commented on #589
That is not in the examples but you can do that using a simple PushRow changing its `presentatioMode` to `.PresentModally`and passing it a view controller that implements your functionality.  If you want to have several rows with this functionality then you might want to [create a custom presenter row](https://github.com/xmartlabs/Eureka#custom-presenter-rows)

Implementing that view controller is

[2016-07-28 18:39] mats-claassen commented on #573
Yes it is. We do not want Eureka to depend on other frameworks.

[2016-07-28 18:59] #565 closed

[2016-07-29 02:23] Leocata14 commented on #504
@nkhaitan @rcholic Did either of you find a solution to this? Would be very helpful. I've tried adding extra rows after an image is selected but have issues with removing the photos.

Multiple image selection would be a life saver

[2016-07-29 04:57] Amefuri commented on #593
Hi mats-claassen,

No I did not want to disable a cell. I want it to be enable (clickable) but if condition was not met after user clicked it, I want to show alert box(ex. "you cannot click this button yet") instead of that row action.

[2016-07-29 07:31] sunbohong commented on #504
I also need to have this feature.

I think we will have to implement this by overriding the row we want to use.

[2016-07-29 08:02] gorbat-o commented on #594
It's what i've used, but when i execute my app,
they don't show my data

i need to check something else
will keep you updated

[2016-07-29 13:12] mats-claassen commented on #593
Well you cannot avoid the event from executing using `onCellSelection`.
For that to happen you would have to subclass every cell to implement that logic in the `didSelect method`.

Another option would be to try and implement that logic in the `presentationMode` of each row. But for example the ImageRow has logic in its `customDidSelect` method so would would probably have to subclass here.

Anywa

[2016-07-29 13:34] mats-claassen commented on #479
Looking at it now, I think that navigation controller and navigationBar stuff is out of scope of Eureka as a forms framework.
That means that everybody that uses Eureka is responsible for the navigation stuff and not Eureka.
Eureka calls `showViewController` which is the suggested method and should handle the case of being in a navigation controller or not.

So I will close this issue

[2016-07-29 13:34] #479 closed

[2016-07-29 13:39] #483 closed

[2016-07-29 13:57] mats-claassen commented on #489
@mrvincenzo I have this code and it is working. Swift 3 syntax:
[code]

[2016-07-29 14:00] #491 closed

[2016-07-29 14:05] mats-claassen commented on #502
@nkmadala Could you implement this?

[2016-07-29 14:08] mats-claassen commented on #505
@stevejcox What is the status of this? Are you still experiencing this? What does the view hierarchy inspector say?

[2016-07-29 14:16] mats-claassen commented on #438
Headers and footers are managed by UIKit if you use a simple string. If you use custo =m views then you should be able to align it to your rows.

Anyway we have fixed some misalignments since this issue was opened. I will close this issue. If any new issue arises please open a new one.

[2016-07-29 14:16] #438 closed

[2016-07-29 14:19] mats-claassen commented on #431
@kbala Could you implement this picker row? Can we close the issue?

[2016-07-29 14:33] mats-claassen commented on #420
Hi @ph3b Sorry for the late answer but your `prepareForPush` is very similar (if not the same) to the `onPresent` callback.
And why don't you use the completionHandler of the presentationMode?

[2016-07-29 15:01] mats-claassen commented on #256
This issue is very similar to #399 .
And I think this is definitely something that should be implemented using a simple UITableView and not using `hidden` variable.

Also maybe [this row](https://github.com/EurekaCommunity/GooglePlacesRow) can help with some ideas for in-place selectors

[2016-07-29 15:03] mats-claassen commented on #236
[GooglePlacesRow](https://github.com/EurekaCommunity/GooglePlacesRow) is such an implementation.

[2016-07-29 21:58] cmbasnett commented on #558
This is the missing piece of the puzzle for Eureka. Feature list looks good.

[2016-08-01 04:25] Amefuri commented on #593
I see. Thank you for the solution I will try one of those that you suggested.

[2016-08-01 04:25] #593 closed

[2016-08-01 11:11] v3rmin commented on #589
@mats-claassen 👍 Thanks, I will give it a try!

[2016-08-01 13:36] v3rmin commented on #589
Is the example code for custom presenter rows outdated? I tried to include the code but got a lot of errors:

**Build Error:**
![eureka_build](http://i.imgur.com/SyV2fQh.png)

**Snippet:**
[code]

[2016-08-01 14:36] alibasta commented on #324
Thanks @chidg ! That fixed the glitch

[2016-08-02 07:26] mgyong opened #597 "Issue with Cocopod installation of Eureka v1.7"
Cocopod version: 1.0.1
Swift version: v2.2

Podfile
********
source 'https://github.com/CocoaPods/Specs.git'
platform :ios, '8.0'
use_frameworks!

target 'Eureka-Example' do
	pod 'Eureka', '~> 1.7'
end

***********
Error
[!] Unable to satisfy the following requirements:

- `Eureka (~> 1.7)` required by `Podfile`

None of your spec sources contain a spec satisfying the dependency: `Eureka (~> 1.7)`

[2016-08-02 15:04] mats-claassen commented on #589
@v3rmin Yes sorry. This must have been changed in one of the latest updates.

You have to set `SelectorRow<T, PushSelectorCell<T>, SelectorViewController<T>>` as your superclass. Note the added `PushSelectorCell<T>`. You can use other cells obviously.

[2016-08-02 22:30] cmbasnett opened #601 "Added support for maximum text field lengths"
It would be mighty handy to be able to put a hard limit on the amount of characters that can be input on both `TextRow` and `TextAreaRow`.  For example:

    TextAreaRow("comments") {
        // ...
        $0.maxLegth = 60
    }

In the meantime, is there a standard-ish hack to add support for this?

Thanks!

[2016-08-03 08:28] lognaturel commented on #573
@mats-claassen Do you know of any production apps that use Eureka with picture taking capabilities? What do they do to address this? Thanks!

[2016-08-03 17:07] cmbasnett commented on #601
Alright, I hacked away at it a bit and came up with [this Gist](https://gist.github.com/cmbasnett/e09fa14d261653aef1809d53d99a13fc).

It's definitely not ideal as it adds a `maxLength` property to anything that extends `Row`, and you must use a custom `FormViewController` class, but it allows for the syntax and behavior I defined in the original post.

[2016-08-04 03:11] #578 closed

[2016-08-04 03:11] iBenjamin commented on #578
thank you!

[2016-08-04 16:25] mats-claassen commented on #573
No I do not.
I would try handling that in the end-application by somehow subclassing ImageRow or using a custom one.

[2016-08-05 02:32] #587 closed

[2016-08-05 02:32] chrisortman commented on #587
Thanks for the help!

[2016-08-06 09:08] samrayner commented on #480
I did this with an extension for now:

[code]

[2016-08-06 21:49] wm-j-ray commented on #583
So now it's xCode 8b4.  Hopefully there won't be any more swift breakage from now on.

I looked at this and got Predicate errors. I took a stab at fixing with no success.  Any help or pointers would be appreciated.

I wasn't sure if you wanted me to open another issue.

Thanks in advance.

[2016-08-08 09:02] Ssimboss opened #602 "How to control related rows?"
So, guys, here is the problem. I've got two values to be controlled via two rows. For example, diameter of circle & circumference of circle. Each value is controlled by DecimalRow. But how to bind these values on changing?

I' ve tried this:

[code]
But this code caused a lot of bugs. Examples:

- When I'm trying to enter "56" to diameter-row, cell updates after user taps "5" on keyboard and cell

[2016-08-08 10:57] hardikdevios commented on #501
**Very Easy**
[code]
No need to write whole bunch of code :)

[2016-08-08 11:34] lognaturel commented on #573
Thanks! I'm not sure when I'll get to this but I'll share what I end up doing.

[2016-08-09 06:40] prgorasiya commented on #558
I have made a workaround till `Eureka` comes with proper validation as `XLForm`.

[code]

You just need to add * with title while initialising your form like

[code]

And you can validate the whole form before submitting like

[code]

Cheers for this workaround and open for any other suggestions.

Thanks

[2016-08-09 19:25] hardikdevios opened #603 "Custom row with Storyboard"
How to configure Row which is design on the **Storyboard** not design with the nib file and this Cell is use for View only so what should be the cell type?

[code]

[2016-08-10 12:40] mats-claassen commented on #603
With view only you mean the user can not interact with it? For that I would use `selectionStyle = .None`. And if you do not define anything in its `didSelect` method then it will basically be view only.

Regarding the Storyboard, Eurekas rows create their cells either from nib file or by instantiating them with `init(style:identifier:)` so that I do not think you will be able to do that

[2016-08-10 13:47] allaire opened #605 "reloadData(), updateCell() and displayValueFor"
Hi,

I'm using `displayValueFor` in `cellUpdate` to position's name in a field instead of its value (which is a uuid).

[code]

When I'm in edit mode, I pre fill the data and then reload the tableview.

I found that I had to run `positionRow.updateCell()` in order to display the position name correctly, where `tableView.reloadData()` does not work. `positionRow.reload()` does not work as well.

I

[2016-08-10 15:23] hardikdevios commented on #603
View only means what should be the Cell type like string,bool are used for value and we have to define that after cell<string> Now i just need to create the cell which shows only information no need to give value so which type i should define?

[2016-08-10 18:21] allaire commented on #605
For some reason it seems to work now, will close and report back if I can reproduce.

[2016-08-10 18:21] #605 closed

[2016-08-11 00:14] JordekFluffball commented on #525
Append this to a row declaration and modify as desired:

.cellSetup{ cell, row in
                cell.height = { 80 }
                cell.textLabel?.numberOfLines = 2
}

[2016-08-11 16:05] mats-claassen commented on #603
You could subclass `LabelCell` or `LabelCellOf<T>` instead of `Cell<T>` but you do not need to.
Those two cells are useful to 'show information' but you can use a custom cell and display the information as you want.

You can also just subclass `Cell<T>` as you did in your code.

I do not know what your problem is but if you want to use a nibfile you have to set the `cellProvider` in your `LastLogR

[2016-08-11 23:57] Sweeper777 opened #606 "Add a Time Interval Selector Row!"
A lot of the forms I see have this kind of selector, and the form that I'm creating needs this kind of row too. It's basically a picker view like this:

<img width="296" alt="screen shot 2016-08-12 at 7 48 45 am" src="https://cloud.githubusercontent.com/assets/13585047/17608762/5130645c-6061-11e6-89d7-945e8a6f91ab.png">

It lets the user select a period of time. This is very useful if the form has

[2016-08-12 00:51] alexvazquez opened #607 "Scroll to bottom of tableview on button event"
Hi, Im adding new elements to my form from a button that its on the very top. When the elements goes beyond the height of the screen, is there a way to force scroll to the bottom of the table view?

Thanks

[2016-08-12 03:44] iwarrior74 opened #608 "Cell subviews with the same width as cell stop 60pt short of the right edge"
![simulator screen shot 12 aug 2016 04 39 08](https://cloud.githubusercontent.com/assets/17153393/17612161/b9f67a78-6046-11e6-9289-3353ede54fe4.png)

I'm trying to create a new custom row and am running into some issues while positioning subviews within the cell. There seems to be a 60pt gap to the right. As the code below shows, the frame printed out for imgView is the same as the frame for the c

[2016-08-12 03:56] huangboju opened #609 "Without storyboard on sugeue，what should I do"

[2016-08-12 14:33] p-sun opened #610 "PickerInlineRow does not have Default Cell Setup, RowInitializer, Update, OnCellHighlight, and OnCellUnhighlight."
Most other rows, including DateInlineRow have these 5 functions to set the defaults. Thank you!

iOS 9.3. Xcode 7.3.1. Eureka 1.7.0.

[2016-08-12 17:50] mtnbarreto commented on #610
Notice that `PickerInlineRow` is a generic type.

For instance, the right way to set the defaultCellUpdate to PickerInlineRow is:
[code]

you should do that as many times as different generic types you use in your app.

[2016-08-12 18:21] mtnbarreto commented on #609
@huangboju  Can you elaborate more on the question so i can help?

[2016-08-12 19:05] mtnbarreto commented on #608
At init time probably the cell bound is not calculated properly because the layout is pending to run.

Which is the device?
Have you tried passing hardcoded values here? let imgView = UIImageView(frame: CGRectMake(0, 0, cell.bounds.width, cell.bounds.height))

[2016-08-12 19:06] mtnbarreto commented on #608
Have you checked which is the view on the upper right corner. Seems the accessory view....

[2016-08-12 20:18] cmbasnett commented on #606
I also have need for this. I'm currently using the `CountDownPickerRow` as a hack to achieve something like this, however dealing with it's `value` is cumbersome.

[2016-08-12 22:25] mtnbarreto commented on #583
@wm-j-ray
Swift 3 branch seems to work fine un Xcode8 beta 4 now. If not, let me know.

I will close this issue for now.

[2016-08-12 22:25] #583 closed

[2016-08-13 00:05] Sweeper777 opened #611 "When going back to the form from a push row, the table view scrolls up for some reason"
To reproduce, create a form that is long enough to scroll. Add a `PushRow` as the last row in the form:

            <<< PushRow<String>(nil) {
                row in
                row.options = ["xxx", "yyy", "zzz"]
                row.value = "xxx"
        }

Now run the app and tap on the last row. A new view controller will be pushed. Press the back button to go back to the form. The table v

[2016-08-13 00:12] huangboju commented on #609
AController -> BController

$0.presentationMode = .SegueName(segueName: "BController",
completionCallback: nil)

Only this way？

[2016-08-13 17:01] iwarrior74 commented on #608
The device is iPhone 6. `print(cell.subviews)` returns this:
[code]

I've tried passing in hardcoded values to `let imgView = UIImageView(frame: CGRectMake(0, 0, cell.bounds.width, cell.bounds.height))`. If I pass in a width of 320, it stays the same. However, if I pass in a width of 380, it runs to the edge. I don't understand how the width would be 380...

On the cell bound question - is there a

[2016-08-15 00:31] phiberjenz opened #613 "setupInlineRow(inlineRow: InlineRow) segmentation fault"
Hi,

I'm trying to implement a custom inline row which is entirely non-generic.
I get a segmentation fault on build, which I have tracked to the setupInlineRow function.

I've found the same error on Stack Overflow:
[http://stackoverflow.com/questions/37359865/command-failed-due-to-signal-segmentation-fault-11-occurred-with-eureka-1-5-0](url)

It doesn't seem right that you have to make your inlin

[2016-08-16 11:37] dangthaison91 opened #614 "FormDelegate adopt NSObjectProtocol"
Hi, thanks for awesome library. Eureka help me clean my code so much.

I'm using Eureka with RxSwift - a FRP Framework and trying to wrap some properties to Observable. RxSwift provide a DelegateProxy to bridge from Delegate to Reactive. So i have to create EurekaDelegateProxy class then implement functions in FormDelegate like that:

[code]

I should call  `forwardToDelegate` to ensure that other

[2016-08-16 16:33] mtnbarreto commented on #613
Hi, I think this no longer happen on Swift 3. In swift 2.2 and 2.3 there is a Swift issue that forces us to define a generic type to make it work as stackoverflow answer describes.

you can use a typealias to hide the generic type.

[code]

then when swift 3 comes out you will need to refactor a little bit your code to make it cleaner by removing the generic type.

Regards

[2016-08-17 12:07] mats-claassen commented on #614
HI @dangthaison91 , is that the only needed change? Did you try by modifying FormDelegate locally if it works?

It would be interesting to support such use cases. I do not think we will support RxSwift natively but at least give the opportunity to implement a Reactive layer above Eureka.

[2016-08-18 19:42] Yungbubu commented on #119
I'm having the same problem here. Thanks for your contribution @SASDOE. Did you manage to make a sample project with your code ? It would be very nice.

I am trying to make it work but the "Speciality" type is defined nowhere that I found.

[2016-08-18 21:21] lognaturel opened #617 "In DecimalRow, can't edit decimal value in locale where comma is used as decimal mark"
To reproduce: change phone/simulator language to a language which uses commas rather than periods as the decimal mark (French, for example). Run a project with a form that includes a `DecimalRow`. Enter 5,6 in that `DecimalRow`. Tap 'ok' and it is properly displayed as '5,6.' Tap the row to edit it and the value is displayed as '5.6' with a period rather than a comma. Replace the 6 with a 0 to get

[2016-08-19 03:20] baim40 opened #618 "How to add two textRow at the same line"
I've been looking for several time in documentation, issues, and people blog, but i could not find solution how to create two textRow at the same line. I suspect that i need to create a custom row to do it, but i have no idea how make it. can anyone help me? thanks a lot.

[2016-08-19 10:17] lognaturel commented on #618
You can take a look at `PostalAddressRow` for some inspiration. You could even start from there and take out everything but postal code and city.

Be careful if you want to use a formatter for one or both of the `UITextField`s, I believe there is an issue at [line 584](https://github.com/xmartlabs/Eureka/blob/master/Source/Rows/PostalAddressRow.swift#L584) that will prevent it from working as inte

[2016-08-19 12:16] mats-claassen commented on #617
Have you had a look at #264? Seems the same issue.

[2016-08-19 14:07] baim40 commented on #618
thanks a lot lognaturel, I am looking at PostalAddressRow.swift right know. Hopefully i can reproduce the row like postal code and city using the same method. By the way is there any other simple way to do it?

[2016-08-19 17:57] caieylau opened #619 "Removing Separator between rows"
Hi! Is there a way we can remove separator between the fields? For normal UITableViewController I would do

self.tableView.separatorStyle = UITableViewCellSeparatorStyle.None

Is there an equivalent of that for the FormViewController?

Thanks!

[2016-08-19 20:48] allaire opened #620 "Different cells height with different row types"
Hi,

It seems like the height of the cells are different according to their cell type, see screenshot :

![img_1150](https://cloud.githubusercontent.com/assets/304461/17823770/44f4bf00-662c-11e6-91d3-f2ab26e2d047.jpg)

First two cells are `TextRow`, then `CheckRow` and finally `PushRow` (disabled).

`CheckRow` and `PushRow` does not have the same height as my `TextRow` cells. They have the same fo

[2016-08-19 20:55] allaire commented on #620
Same thing when I comment out all the style I do in `defaultCellUpdate` for all my cells, although less apparent:

![img_1151](https://cloud.githubusercontent.com/assets/304461/17824052/b7da2cf2-662d-11e6-87a7-ba978083d925.jpg)

Is there a way to set a minimum cell height?

[2016-08-21 14:55] #603 closed

[2016-08-21 16:38] wstudios opened #621 "Use Dictionary for '$0.options'"
I would like to use a dictionary instead of a string for the options, is that possible

Example
`$0.options = ["1":"High", "2":"Medium", "3":"Low", "4":"None"]`

[2016-08-21 21:19] phiberjenz commented on #31
@mtnbarreto This should be somewhere in custom rows section in the readme. I can work on a PR if that's something that you would like there.

[2016-08-21 22:59] sureshjoshi opened #623 "Bad access crash when assigning placeholder or value on TextRow"
This is an very strange issue because I can't believe no one else has it, so I'm now confused as to what might be happening.

            <<< TextRow("macAddress") {
                $0.title = $0.tag
                $0.placeholder = "1234"
            }

This crashes, every single time, on the $0.placeholder line with an exec_bad_access - ditto if I assign a $0.value...

This happened when cocoapo

[2016-08-21 23:21] phiberjenz opened #624 "Adding a custom callback to an inline row"
I'm trying hard to grasp how the callbacks system works (ie. onChange, cellUpdate etc.) but my combined lack of understanding of the inner workings of the framework and Swift makes it unclear to me.

What I'm trying to accomplish is this:
I have a custom inline row with it's corresponding row to be expanded/collapsed. Everything works fine, but I have a button in the (possibly) expanded row which

[2016-08-22 03:42] dangthaison91 commented on #614
Hi @mats-claassen: We just wanted to wrap `cell.value` to `cell.rx_value` so thought to create Delegate Proxy. But never mind, we recognize that we can override `value` in `didSet`. It's simpler and easier.
Thanks for yours supporting. :D

[2016-08-22 12:36] lognaturel commented on #617
Thanks, @mats-claassen, it does sound like the issue described was the same.

To get the behavior I expected, I ended up simply needing to discover `useFormatterOnDidBeginEditing` and set it to `true` when creating the row so that the decimal mark in the field matches the one on the keyboard. I also set `maximumFractionDigits` to 2 and did not set `minimumFractionDigits`.

How about adding a note

[2016-08-22 12:55] lognaturel commented on #621
It might be helpful for you to describe what you want to accomplish at a higher level.

If you're simply trying to get some kind of other associated value based on what your users select, I would recommend creating an `enum` where the `rawValue` represents your dictionary keys and the `description` represents your values.

[code]

That would allow you to have something like
[code]

[2016-08-22 13:43] vladvelici commented on #103
@MPiccinato Just had this issue and apparently it works if you just remove

    naview.doneButton.target = self
    naview.doneButton.action = "navigationDone:"
    naview.previousButton.target = self
    naview.previousButton.action = "navigationAction:"
    naview.nextButton.target = self
    naview.nextButton.action = "navigationAction:"

and replace `naview.clearButton.action = "clearAction:"`

[2016-08-22 14:52] #614 closed

[2016-08-22 15:12] mats-claassen commented on #617
I think the documentation needs a bit of restructuration and there are definitely things missing.
If you want to write something about the DecimalRow, great.

As to the default value of `useFormatterOnDidBeginEditing`, it is nil by default so that the value of `useFormatterDuringInput` will be used. I believe this is for backward comnpatibility but it should definitely be documented.

[2016-08-22 15:14] plastus commented on #620
func tableView(tableView: UITableView, heightForRowAtIndexPath indexPath: NSIndexPath) -> CGFloat {
    return 40
}

I haven't tested this, but would this fix the issue?

[2016-08-22 15:16] allaire commented on #620
@plastus AFAIK this is not compatible with expandable cells like `TimeInlineRow`

[2016-08-22 15:19] plastus commented on #620
@allaire I've noticed this issue as well (pushRow cells being taller than all others) but haven't dug into the issue too much yet. If I run across a fix that doesn't break other functionality, I'll post an update here.

[2016-08-22 15:21] allaire commented on #620
@plastus This is caused by the autolayout dynamic height, based on the cell's content. One way to fix this would be to add a `>= height constraint`, which could be optional of course. That way, we could define a min height for our cells, so it all looks the same :)

[2016-08-22 15:55] mtnbarreto commented on #621
@lognaturel Thanks for helping us support eureka 👍 🎱

Apart of all that, most of the time we want to show an ordered option list and dictionaries don't have any particular order.

[2016-08-22 15:57] mtnbarreto commented on #619
@caieylau  Have you tried using the same code.. `self.tableView.separatorStyle = UITableViewCellSeparatorStyle.None` ?

[2016-08-22 16:54] caieylau commented on #619
OMG i feel dumb for not even trying that first.

[2016-08-22 20:16] mtnbarreto commented on #619
👍

[2016-08-22 20:16] #619 closed

[2016-08-23 00:05] wstudios commented on #621
Thanks for your reply. What I am after is similar to the following from another swift form class. Notice how it allows you to first set the options, but it then allows you to replace the numbers for text but only for display so when you post the form the number is sent and also you set the value using a number and not the display name

`        row.configuration.selection.options = [0, 1, 2, 3]

[2016-08-23 05:14] korgx9 commented on #504
If you already implemented it, please share

[2016-08-23 14:54] huangboju opened #626 "I want to remove a row, which api should I use?"

[2016-08-23 18:08] marcsnts commented on #626
form.allRows returns all the rows, if you know the index you can call form.allRows.removeAtIndex

[2016-08-23 23:14] rdadkins commented on #607
This can be achieved pretty easily via `UITableView.scrollToRowAtIndexPath` and here is how you do it:
[code]
`atScrollPosition` can be changed to meet your requirements as well as being animated.

You are able to do this because FormViewController has a tableView that you can access, and thus scroll within it. And instead of `self.form.rows`, you can use `self.form.allRows`. The difference being

[2016-08-24 00:05] huangboju commented on #626
<img width="1001" alt="2016-08-24 8 04 56" src="https://cloud.githubusercontent.com/assets/14818224/17914048/7fa58e7e-69d1-11e6-93f6-f2371ce0a56e.png">

[2016-08-24 12:28] mats-claassen commented on #626
You can access the section of the row and then remove the row from that section.

[2016-08-24 12:50] lognaturel commented on #621
Great! That `enum` suggestion should work well. When you read the row's `value`, you can cast it as `Magnitude` (or whatever you call it) and use `.rawValue` to get the number or `.description` to get the text.

[2016-08-24 19:41] marcsnts opened #627 "Location row value not updating"
So I copied and pasted the Location Row implementation into my project and then added the row to my form, however when I select a location (press done in the map view) the row value does not update. The .onChange of the LocationRow does not get called.

[2016-08-24 20:32] mtnbarreto commented on #597
Someone else having the same issue?
@mgyong  Have you solved it?

[2016-08-24 21:05] mtnbarreto commented on #627
Hi @marcsnts ! Have you debugged the code to see if tap gesture handler is called when done button is pressed?

https://github.com/xmartlabs/Eureka/blob/ccaf437578e43737dc9a23988ba37fd3a6b2c236/Example/Example/CustomCells.swift#L574

[2016-08-24 21:56] mtnbarreto commented on #626
`section.removeAtIndex(rowIndex)`
`section.removeFirst()`
`section.removeLast()`
//or
`section.remove(:at)` in swift 3

`section[index] = nil` may work too.

having a row is pretty simple to get its index. We can always get its section and the form by...

`row.section?.form`

`section.indexOf(row)`
`section.index(of:)` in swift 3.

and get its index is pretty simple as well.

Hope it helps.

[2016-08-24 22:16] leandrodestro opened #628 "Masks for Phone Rows"
It might be a silly question, but I've found no example on how to create a mask for my numeric inputs for such things like phone numbers, etc.

I've created a CustomRow and added it to my form to solve my problem, but I think that this should be something more easily achievable (there must be a mask definition somewhere).

Am I wrong?

PS: Your framework is just GREAT and is helping me a lot. You'

[2016-08-25 00:32] huangboju commented on #626
This is my code and UI, if i do this 'form[0].removeLast()', all row will hidden
<img width="972" alt="2016-08-25 8 30 01" src="https://cloud.githubusercontent.com/assets/14818224/17952549/366fc21a-6a9e-11e6-83d4-8c564bfc32bc.png">
<img width="1022" alt="2016-08-25 8 29 44" src="https://cloud.githubusercontent.com/assets/14818224/17952570/6c758098-6a9e-11e6-8004-7ddbf1a428a1.png">

[2016-08-25 15:27] marcsnts commented on #627
Yes @mtnbarreto the tappeDone function does get called

[2016-08-26 14:07] mtnbarreto commented on #626
try with this..

[code]

[2016-08-26 14:24] mtnbarreto commented on #628
A custom row is the way to go here.
Probably your new custom row uses an external helper such as https://github.com/Serheo/SHSPhoneComponent.

We have a custom row catalog here: https://github.com/eurekacommunity which intends to provide these complex eureka rows. If you want to share it let me know and i add you to the organization.

[2016-08-26 17:26] mtnbarreto commented on #624
Why not use `onExpandInlineRow` to set up the button target and action ?
By doing that you can implement the `ontap` button gesture handler directly in the form view controller.

You can also set up a function in the expandable row from `onExpandInlineRow` but you will  be in charge of setting up it and also call it whenever the button is tapped. `onExpandInlineRow` passes the string typed cell an

[2016-08-26 18:09] mtnbarreto commented on #623
where do you assign `$0.value` ?

[2016-08-26 18:09] mtnbarreto commented on #623
could you please send the stack trace and send as much information as possible so we can help.

[2016-08-26 18:23] mats-claassen commented on #602
As you keep changing the value of the other row, the rows will keep calling their onChange methods back and forth. You could try changing the value of the other row `onCellUnhighlight` which would happen when the user leaves the row. (For this to work you will have to override `onCellHighlight` as well)
Or you have to implement something so that both row's `onChange` callbacks don't keep calling t

[2016-08-27 20:22] Sweeper777 opened #630 "Somehow it doesn't work with storyboards now... it did earlier..."
I used Eureka before with storyboards and it worked well.

But today, I created a new view controller class:
[code]

And I set `MyViewController` as the class for a view controller in the storyboard:

<img width="259" alt="screen shot 2016-08-27 at 9 19 32 pm" src="https://cloud.githubusercontent.com/assets/13585047/18029857/f8d1414a-6c9b-11e6-9325-286fb1478285.png">

And it results in this!

![si

[2016-08-28 01:49] sureshjoshi commented on #623
I assign .value at runtime, or sometimes I'll assign it when I setup my form - same problem either way. I'll reply with a stack in a few days when I can load the new version again.

[2016-08-28 07:55] Sweeper777 commented on #630
Oh silly me! I forgot to call `super.viewDidLoad()`!

[2016-08-28 07:55] #630 closed

[2016-08-29 08:29] bobvanratingen opened #631 "Get selected index from PickerInlineRow"
Is it possible to get the selected index of PickerInlineRow?
Now I only get the value (String).

Thx!

[2016-08-29 12:03] ins0u opened #632 "Click on label in a field ?"
Hello,

I have a little problem..
It's possible to **click on label** in a field, without triggering the change and pass in a custom function (for tooltips) ?

[2016-08-29 15:05] mats-claassen commented on #632
Hi,
Is it possible, yes.
Is it already implemented, no.
Could you do that using an existing row, maybe. (You can definitely create your custom row for this)

You could try adding tap gesture recognizers to your cell in `cellSetup` and then handle it in your controller, but I would create a custom row for this. For which type of row do you want to implement this? You could override that row and add

[2016-08-29 15:09] mats-claassen commented on #631
Hi,
Why don't you try calling `indexOf(...)` on `row.options`?

[2016-08-29 15:14] mats-claassen commented on #609
You have two ways of using a segue:
[code]

You can use whichever suits you best. Are you having a problem with this?

[2016-08-29 15:16] mtnbarreto commented on #627
then, seems to me you are overridden the location value somewhere.
Are you setting location value from your view controller?

[2016-08-29 15:22] ins0u commented on #632
For any type of row (LabelRow, PushRow, MultipleSelectorRow, TextRow, SwitchRow, TimeRow, DateRow, etc etc)

Do you have a simple example to do this ?

[2016-08-29 16:18] mats-claassen commented on #632
No I have no example for this. And I have never done it like that, but it should work
I would create custom rows but you would have to do it for every type of row... which is not so nice.

[2016-08-29 16:38] bobvanratingen commented on #631
Thx.

[2016-08-29 16:38] #631 closed

[2016-08-29 17:51] #579 closed

[2016-08-29 17:52] #589 closed

[2016-08-29 17:54] mats-claassen commented on #594
@gorbat-o  Have you fixed your problem?

[2016-08-29 17:55] #597 closed

[2016-08-29 17:58] mats-claassen commented on #607
Thanks @rdadkins for helping out!

[2016-08-29 17:58] #607 closed

[2016-08-29 18:00] mats-claassen commented on #560
`SelectorViewController` is an example for this.

[2016-08-29 18:00] #560 closed

[2016-08-29 18:02] mats-claassen commented on #559
@alexvazquez did that solution solve your problem?

[2016-08-29 18:03] mats-claassen commented on #557
@hdoria  Could you create rows with that style?

[2016-08-29 18:04] mats-claassen commented on #550
@alibasta Could you find a solution for this issue?

[2016-08-29 18:20] gorbat-o commented on #594
Nop, i don't find the problem,

i've the same things on 2 projects, and the first crash and not the second :/ sorry

[2016-08-29 18:28] mats-claassen commented on #545
This could be done in Swift 3 if Arrays can be made Equatable.

[2016-08-29 18:33] mats-claassen commented on #533
@AndrewSB have you fixed this issue?

[2016-08-29 18:47] #507 closed

[2016-08-29 18:47] #505 closed

[2016-08-29 18:50] #502 closed

[2016-08-29 18:50] #501 closed

[2016-08-29 18:53] #489 closed

[2016-08-29 18:55] mats-claassen commented on #488
@kohdesmond Could you fix this problem?

[2016-08-29 18:57] #482 closed

[2016-08-29 19:03] mats-claassen commented on #127
@marbetschar you could create a repository at [EurekaCommunity](https://github.com/EurekaCommunity) for this row so that it can be used from there.

[2016-08-29 19:03] #127 closed

[2016-08-29 19:07] #469 closed

[2016-08-29 19:25] mats-claassen commented on #166
We will not be implementing this feature.
If somebody has created something to make this possible then that could be shared but it won't be core functionality as there are too many edge cases to support.

[2016-08-29 19:25] #166 closed

[2016-08-29 19:32] mats-claassen commented on #228
Merged in #255

[2016-08-29 19:32] #228 closed

[2016-08-29 19:34] #236 closed

[2016-08-29 19:42] mats-claassen commented on #261
Merged to Swift3 branch in #551. Will be supported as soon as Swift 3 becomes official

[2016-08-29 20:07] mats-claassen commented on #301
I think this is something to be done project-wise. We could add a simple `var extraData: AnyObject?` but you would certainly want this to be strongly typed ( possibly with a different type per row type).
Therefore I suggest that the value of the row should be the object or an equatable wrapper of that object or subclass an existing row to add this property. The latter option can be done easily wit

[2016-08-29 20:07] #301 closed

[2016-08-29 20:18] #468 closed

[2016-08-29 20:20] mats-claassen commented on #454
@Sef1995 Have you solved this issue? Could you connect the outlet?

[2016-08-29 20:21] #452 closed

[2016-08-29 20:22] #444 closed

[2016-08-29 20:23] hdoria commented on #557
@mats-claassen not yet. I have tried with defaultCellSetup, but it didn't work. I'm having problems with the left and right margins. :(

[2016-08-29 20:24] mats-claassen commented on #447
If anyone has this issue, it should be solved by changing the `presentationMode` of the PushRow to do something else than pushing (e.g. like presenting modally).

[2016-08-29 20:24] #447 closed

[2016-08-29 20:25] #617 closed

[2016-08-29 20:37] #420 closed

[2016-08-29 20:41] lognaturel commented on #545
@mats-claassen I'm working on an ordered multiple select row for selecting several tags and have been stuck on exactly this ordering issue. I see that the type parameters for all base classes must conform to `Equatable` but why is that the case? I can't figure out why that constraint is necessary!

[2016-08-29 20:48] mats-claassen commented on #557
One solution would be to subclass `FieldCell` and change its constraints by overriding `customConstraints`. Then you would have to create a subclass of that for every type of row you want to use, which is a bit of a downside but not more than like 100 lines of pretty repetitive code.

Another solution is changing `layoutMargins` of the cells. This is sometimes troublesome but I am sure you can get

[2016-08-29 21:48] AndrewSB commented on #533
@mats-claassen this slipped by me! Let me email you the relevant code right now

[2016-08-30 03:54] huangboju commented on #609
Thanks,  I have resolved. Like this
<img width="456" alt="2016-08-30 11 52 57" src="https://cloud.githubusercontent.com/assets/14818224/18075545/554051ec-6ea8-11e6-9ac1-fb46b835dfda.png">

This is my code:
//
//  Copyright © 2016年 xiAo_Ju. All rights reserved.
//

import Eureka

// MARK: SegueCell

public class SegueCellOf<T: Equatable>: Cell<T>, CellType {

    required public init(style: UITable

[2016-08-30 03:54] #609 closed

[2016-08-30 10:27] alpennec commented on #454
Hi @mats-claassen
When using Carthage, it is not possible to connect the IBOutlet with the tableView... any idea?
Thanks

[2016-08-30 12:27] alpennec opened #633 "@IBOutlet for the table view is missing in storyboard when using Carthage"
Hello,

I am using Eureka in my Swift 2.3 project (Xcode 8, beta 6).
I added a UITableViewController to my Storyboard, and chose the right class for the.
Even if I add a UIViewController + UITableView inside (with auto layout constraint), I can't specify the tableView (not visible in the outlets).

This results in 2 problems:
- Cells seems to be reused. When I scroll down or up, the cells disappea

[2016-08-30 12:54] #431 closed

[2016-08-30 13:17] mats-claassen commented on #256
The impolementation provided by @bithavoc is a good example of how to accomplish this.

[2016-08-30 13:17] #256 closed

[2016-08-30 15:58] marcsnts commented on #627
I just have the default <<< LocationRow("location") in my viewDidLoad function, value is not being set anywhere from my end

[2016-08-31 14:11] mtnbarreto commented on #633
Seems to me a Xcode problem with dynamic frameworks.

As a workaround you can add the same outlet to the view controller that extends FormViewController, connect the outlet and then delete the outlet added by you.

As a result you will have the storyboard xml updated.

Let me know if this works.

[2016-08-31 14:14] mtnbarreto commented on #633
same as #295

[2016-08-31 14:59] alpennec commented on #633
I copied and pasted a view controller from the Eureka example project and updated the view controller class to put mine instead. It worked (i.e. kept the IBOutlet link). Thanks for the help.

[2016-08-31 20:02] mtnbarreto commented on #633
cool! you're welcome! 🍻

[2016-08-31 20:02] #633 closed

[2016-08-31 20:03] mtnbarreto commented on #627
could you please upload a project so i can take a look.

[2016-08-31 20:28] marcsnts commented on #627
`public final class LocationRow : SelectorRow<CLLocation, PushSelectorCell<CLLocation>, MapViewController>, RowType {
    public required init(tag: String?) {
        super.init(tag: tag)
        presentationMode = .Show(controllerProvider: ControllerProvider.Callback { return MapViewController(){ _ in } }, completionCallback: { vc in vc.navigationController?.popViewControllerAnimated(true) })

[2016-08-31 22:34] moyoteg opened #634 "How to remove entire section"
I am trying to make it so I can add or remove players which means I need to add and remove sections.

<img width="708" alt="screen shot 2016-08-31 at 4 06 54 pm" src="https://cloud.githubusercontent.com/assets/574112/18148245/b0624b32-6f95-11e6-8bc3-e9bb4e0d6370.png">

[2016-09-01 06:19] iainsmith commented on #627
@marcsnts are you setting a CLLocation value on the row as in the example project?

[2016-09-01 16:32] lognaturel commented on #545
Thought more about this and I see it's needed for `onChange`. In my case, I don't need anything specific to happen on change and I'm not seeing any great options for my needs. Perhaps I could do something weird like keep track of a set of objects which wrap the value I want and an `Int` to represent order. Any ideas would be appreciated.

[2016-09-01 16:39] moyoteg commented on #634
I found the solution =D

### Like this:

`{ (cell, row) in
		if let section = row.section {
self.form.removeAtIndex(section.index!)
						}
						row.reload() // or row.updateCell()
					}`

[2016-09-01 16:39] #634 closed

[2016-09-01 18:20] marcsnts commented on #627
Fixed my problem, the problem was that the UI wasn't being updated so I  had to call tableView.reloadData()

[2016-09-01 18:34] mtnbarreto commented on #627
This code https://github.com/xmartlabs/Eureka/blob/master/Source/Core/Core.swift#L484 should have updated the row.
Somehow viewWillAppear is not invoked or the location row is not selected.

[2016-09-01 18:40] marcsnts commented on #627
I used this locationManager to set the default value to the user's current location, without the onChange reload it doesn't update.
[code]

[2016-09-01 18:48] mtnbarreto commented on #627
whenever location manager changes the location row value you must update it programatically (it's not made automatically).

`self.form.rowByTag("location")?.reload()` should be enough.

maybe declaring a constant to hold the location row and then using it from locationManager method. Make sure location manager runs in main thread.

[2016-09-01 18:49] mtnbarreto commented on #627
`self!.tableView!.reloadData() -> `self?.tableView?.reloadData()` seems better

[2016-09-02 09:12] allanrvj opened #635 "How to add action to detail disclosure button on Label Row"
Hi. I'd like to know if it's possible to add an action to a disclosure button. I'm using LabelRow.

I know that on cellUpdate I can do this:

[code]

But how do I retrieve that button and add a selector to it.

Thanks,
Allan

[2016-09-02 09:44] allanrvj commented on #635
Found a solution but I don't know if this is correct: override the func tableView(tableView: UITableView, accessoryButtonTappedForRowWithIndexPath indexPath: NSIndexPath) on the class inheriting FormViewController.

[2016-09-02 12:20] mats-claassen commented on #634
Take care because `section.index` could be nil if the section is hidden. You should not force unwrap that.

[2016-09-02 12:24] allanrvj commented on #635
OK sorry for spamming but I got it:

[code]

I hope this helps someone in the future.

[2016-09-02 12:24] #635 closed

[2016-09-03 15:26] colinmorelli commented on #611
More information here: I noticed this happening in my app even in cases where VCs weren't being pushed. In my case, a modal view controller was being dismissed and causing the same behavior, which allowed me to narrow the cause down to the `viewWillAppear` method.

Specifically, line 484 (at least in my copy) of Core.swift `tableView?.reloadRowsAtIndexPaths(selectedIndexPaths, withRowAnimation: .N

[2016-09-03 15:46] colinmorelli commented on #611
Ok, so I explored this a bit more with the Reveal app (amazing tool if you haven't used it). I noticed that, when scrolled to the bottom, before the push the y offset in my table view was 1,150. After coming back to the view, it was changed to 1,037. I can't imagine it's a coincidence that 1150 - 1037 = 113, which is exactly equal to the combined contentInsets caused by my navigation bar (64) and

[2016-09-03 16:17] Sweeper777 commented on #611
I have never heard of the Reveal app!  Can you give me link to download it? Also, can you send a pull request?

[2016-09-04 11:57] eflyjason opened #636 "_CountDownInlineRow localization"
https://github.com/xmartlabs/Eureka/blob/master/Source/Rows/DateInlineRow.swift#L80-L83

Is their any way I can localize `_CountDownInlineRow`'s `detailTextLabel`? Thanks!

[2016-09-04 12:16] eflyjason commented on #636
Currently I solved by:

    <<< CountDownInlineRow(NSLocalizedString("Settings.TimeDuration.UseFor", comment: "Use for")){
                // ...
                }.cellUpdate { cell, _ in
                    let (h, m, _) = ...
                    let hourUnit = NSLocalizedString( h==1 ? "Global.Time.Hour" : "Global.Time.Hours", comment: "hour/hours")
                    let minuteUnit = NSLocaliz

[2016-09-04 12:33] #636 closed

[2016-09-06 11:54] ramonilho opened #637 "Changing the textField's class"
Is there a way that I can set the textField type from a FieldCell without creating a CustomCell/Row?

I'm trying to implement a PhoneRow with a cell that has a textField with mask. I'm trying to do this with [AKMaskField](https://github.com/artemkrachulov/AKMaskField), but to do that I have to set my textField's class as an AKMaskField instead of UITextField. And I don't wanna create a CustomCell

[2016-09-06 12:42] mats-claassen commented on #637
AKMAskField is a UITextField. Have you tried to set `textField = AKMaskField()` in `cellSetup`? You would just have yo cast it later to use it but it should work

[2016-09-06 13:36] ramonilho commented on #637
Yes, I tried. Here's my setup:
[code]

But when I do that I get the following error at runtime execution:
[code]
And it crashes my app.

[2016-09-06 14:12] mats-claassen commented on #298
We have just published a [blog post tutorial](http://goo.gl/3JW2IO) on how to create a custom row for Eureka.

[2016-09-06 16:24] adrianodiasx93 commented on #557
![form](https://cloud.githubusercontent.com/assets/5974969/18281915/29d065f0-7435-11e6-9e7d-882c79dfc229.png)

I was able to reproduce the model. I subclassed the FieldCell class and overrode the method customConstraints @mats-claassen  as suggested (thanks for that). For the button I can add an UIButton as subview or use only the cell's textlabel. However, we still need to limit the area of the "

[2016-09-07 13:58] mats-claassen commented on #637
What you are lacking is a `cell.contentView.addSubView(tf).
And maybe you have to remove `cell.textField` before changing it...

[2016-09-07 14:04] mats-claassen commented on #557
For the button I would use a footer on the section with a real UIButton so that the user gets the correct button tap animation. That also solves your "tappable area issue".

[2016-09-07 15:13] alikayhan commented on #575
For this issue, I have first tried to override related methods as followed but it did not disable the animation at all since `.None` does not mean "no animation" and it just sets the animation to default one.

[code]

My following solution might sound hacky but I was able to get rid of animation at all by disabling animations at the beginning and enabling back again when the whole add section-add

[2016-09-07 23:40] mtnbarreto opened #639 "Move PostalAddressRow to https://github.com/EurekaCommunity"

[2016-09-08 09:44] zinyakov opened #641 "textField.selectAll not working properly with onCellSelection/onCellHighlight"
Hi. I'm trying to implement all text field's text selection with the method `cell.textField.selectAll(nil)` at the time of cell highlight or cell selection. However, `onCellSelection` callback fires only when I select a blank space around text field and within the row (e.g. row label space). Then, trying to call with `onCellHighlight` also has no luck - textfield selection blinks a few seconds and

[2016-09-08 13:36] Ethenyl commented on #618
Hello there,

Check the [Custom rows](https://github.com/xmartlabs/Eureka#custom-rows) section for more details on how to do this.

Hope it will help!

[2016-09-08 13:42] Ethenyl commented on #594
Hi,

@gorbat-o can you show us the full code for generating your form ?

Thanks.

[2016-09-08 13:56] parkego opened #642 "Swift 2.3 Compatibility"
Will there be a Swift 2.3 and Swift 3.0 version of Eureka ?

[2016-09-08 13:56] #642 closed

[2016-09-08 22:47] adrianodiasx93 opened #643 "Permissions Issues for Overriding and Inherit"
I am customizing the `ButtonRow`, and when I tried to override the method `prepareForSegue` from the class `BaseRow` and the methods ` customDidSelect` and `customUpdateCell` from the class `Row` I faced the following error _"Overriding non-open instance method outside of its defining module"_. My way around was replacing the access control of these methods from `public` to `open`, which is [now](

[2016-09-09 05:00] juliensch opened #644 "Example project - Cannot scroll to see the whole view"
Hi,

Downloaded the example project, however I cannot scroll down to see the whole view.

Is there something to change to make happen?

Thanks,

Julien

[2016-09-09 06:59] hardikdevios opened #645 "SliderRow/Cell not able to user formatter property"
What is the purpose of this property

[code]

**formatter** is declared but i guess not using anywhere. I just want to display Integer value in **valueLabel**.

- So i have tried following things to achieve
[code]
`defaultCellSetup` and `defaultCellUpdate` not working anymore.

[2016-09-09 10:22] sunbohong opened #646 "Can we `open` some class&funcation to make it possible for override and Inherit ?"
Thanks for your Eureka!

When I convert my code to Swift 3 version,I found that many class was `public` but not `open`.

I need a cell to show a big image.

If I create it from zero to one,it will cost me a lot of time.

So,I override and Inherit some class to complete it.

But,this code need `open` some class&funcation.

So,can I make a PR for this purpose?

[code]

[2016-09-09 12:58] mats-claassen commented on #165
A [TokenRow](https://github.com/EurekaCommunity/TokenRow) has been implemented in EurekaCommunity. Feel free to use, contribute and share.

[2016-09-09 12:58] #165 closed

[2016-09-09 13:03] mats-claassen commented on #643
Sure we will review all the access levels.

[2016-09-09 13:04] mats-claassen commented on #646
We will review the code and 'open' the correct functions and variables

[2016-09-09 14:54] mats-claassen commented on #644
I cannot reproduce this...
Are you sure this is not a Simulator issue?

[2016-09-09 20:19] marcsnts opened #648 "Custom Row Crashing"
So I have a custom row for phone numbers and the .xib contains a label for the title and a textfield for the phone number. My app crashes when a segue occurs when the TEXTFIELD of the custom row is the most recent thing that's been touched.  Not really sure how to go about debugging/fixing this.

Here is a report from crashlytics.

1	UIKit
-[UIResponder _clearOverrideNextResponder] + 156
2
UIKit
-

[2016-09-10 04:34] hardikdevios commented on #648
Don't think this issue is related to This lib please try debugging more using proper breakpoint and use deep step alternative you can try exceptionbreakpoint also.

[2016-09-10 11:10] ts95 opened #649 "Status bar in ImagePickerController is not positioned correctly"
![Image](https://i.imgur.com/i4qra4H.png)

The basic code looks like this (I stripped away unrelated code):
[code]

Interface Builder:
![IB](https://i.imgur.com/1HlTwP8.png)

Versions:
Eureka 1.7
Xcode 7.3.1
iOS 10

[2016-09-10 18:31] yurevich1 opened #650 "Top menu buttons"
Please, provide some information how to setup buttons in top navigation menu.

[2016-09-10 23:00] ts95 commented on #649
Apparently this is a bug in iOS that occurs whenever the status bar is set to have the light content style. When using the default style the status bar is automatically hidden, but for some reason it's not when using the light content style.

[2016-09-10 23:00] #649 closed

[2016-09-11 08:52] juliensch commented on #644
Indeed, it was a simulator issue. Thanks for pointing that out.

I still have a few questions. Would be great if you could help me out:

When using the count down picker is it possible to:
1. have the option to choose the number of seconds?
2. change how the time is displayed in the row? I'd like to display something like : 00:00:00

As you can see in the screenshot below, in the Exercice section,

[2016-09-12 12:27] mats-claassen commented on #644
`UIDatePicker` has a `datePickerMode` which allows certain modes (UIDatePickerMode). You have to choose from them or implement your custom picker.

To change how time is displayed you should change `displayValueFor`. Have a look at its current implementation to get some ideas. (https://github.com/xmartlabs/Eureka/blob/master/Source/Rows/DateInlineRow.swift#L74-L84)

[2016-09-12 12:28] mats-claassen commented on #650
You mean the `navigationBar`? That is not related to Eureka and you should ask that elsewhere.

[2016-09-12 12:37] mats-claassen commented on #621
@wstudios Could you implement this? I believe the best solution is to use an enum as @lognaturel suggested.

[2016-09-12 13:22] mats-claassen commented on #620
Apparently it happens that those rows that define their Autolayout constraints have a different height than those that use the default `textLabel` and `detailTextLabel`. At least when setting a bigger font it gets more apparent that the former grow/resize differently from the latter.

Setting `height` of each to to a value works and leaves all rows with the same height. This could be done in the `

[2016-09-12 13:31] mats-claassen commented on #645
You do not need to use the formatter for this.
You should first correctly set the steps for your interval. And then make sure the value is displayed as an Int and not a Float.

 In the examples there is a slider with the default values: `minimumValue = 0.0, maximumValue = 10.0,  steps = 20`

So, adding the following lines solves your problem:
[code]

[2016-09-12 13:32] #610 closed

[2016-09-12 13:38] mats-claassen commented on #608
This issue is related to when you are setting the frame of your subview. In iPhone 6, 6 Plus and 7 the screen width is 375. In smaller devices its 320.
This width is adjusted somewhere after the instantiation of your cell that is why it will not work in the `init` method.

Even in the setup method the cell might not have the correct layout so that you should probably add the subView in the `setup`

[2016-09-12 14:05] mats-claassen commented on #606
If you are having issues creating custom rows then you might find [this tutorial post](https://blog.xmartlabs.com/2016/09/06/Eureka-custom-row-tutorial/) useful. We will soon add a more advanced second part.

I have also created [this gist](https://gist.github.com/mats-claassen/fa8ec5834eeb34659db17a6af71bec57) implementing a basic row with this functionality. You might want to enhance it a bit be

[2016-09-12 14:08] mats-claassen commented on #644
Also maybe have a look at #606

[2016-09-12 14:11] mats-claassen commented on #626
@huangboju Could you solve this?

[2016-09-12 14:11] mats-claassen commented on #637
@ramonilho Could you fix this?

[2016-09-12 14:17] #559 closed

[2016-09-12 14:29] mats-claassen commented on #572
@christianhr Could you use the delegate methods on your FormViewController?

[2016-09-12 14:32] #550 closed

[2016-09-12 14:44] mats-claassen commented on #527
@AndrewSB Did you find a workaround for this?

[2016-09-12 15:07] hardikdevios commented on #645
Great

[2016-09-12 15:07] #645 closed

[2016-09-12 15:07] mats-claassen commented on #641
`onCellHighlight` seems to work in all cases except when the text of the textfield is tapped and then the cursor does just get positioned. A possible workaround might be to override `func textInputDidBeginEditing<T>(textInput: UITextInput, cell: Cell<T>)` in your FormViewController and check if it is dthe desired cell and then selectAll from there

[2016-09-12 17:57] moyoteg opened #651 "if PushRow selects the same option "row.value" == nil and selected option is "empty""
if PushRow selects the same option "row.value" == nil and selected option is "empty"

is this the desired functionality?

Wouldn't it make sense to leave the selected value? =)

<img width="1061" alt="screen shot 2016-09-12 at 11 55 20 am" src="https://cloud.githubusercontent.com/assets/574112/18446537/f7cbd904-78df-11e6-9813-b158936a59ec.png">

[2016-09-12 18:48] plastus commented on #651
The user needs the ability to cancel a selection and leave the row value empty. Otherwise, if a user even did one selection there would be no way for them to go back and deselect to leave the value equal to nil.

[2016-09-12 19:38] sebasdeweert opened #652 "rowByTag gives nil by retrieving string from PickerInlineRow!"
When I have the following code to show a PickerInlineRow:

[code]

Now I want to retrieve the `row.value` from above `PickerInlineRowDate` so I use this code:

[code]

But when I print the `row.value` I get a `unexpectedly found nil while unwrapping an Optional value`.

Also when I try: `print(self.form.rowByTag("PickerInlineRowDate"))` I get `nil`.

What am I doing wrong? This is such a simple qu

[2016-09-13 04:35] yurevich1 commented on #650
Yes. I think this is rather complicated to understand lifecycle of Eureka items and interaction. I think this is good idea to update the manual to describe this.

[2016-09-13 05:44] huangboju commented on #626
Yeah, solved

[2016-09-13 05:44] #626 closed

[2016-09-13 09:24] yurevich1 opened #653 "UISearchController inside .onPresent"
Is it possible to implement callbacks of UISerachController?

in your example
[code]

this callbacks are not fired:

[code]

and log says:
`2016-09-13 12:23:10.478 myapp[34429:3343148] Attempting to load the view of a view controller while it is deallocating is not allowed and may result in undefined behavior (<UISearchController: 0x7fcaec095970>)`

of course, I can implement my custom UIViewContr

[2016-09-13 14:58] mats-claassen commented on #650
A FormViewController is a subclass of UIViewController. So you can simply modify its `navigationBar` the same way as with every other controller (given that if it is embedded in a navigation controller). Is it that what you want? This has nothing to do with Eureka's lifecycle. Eureka does just use a UITableView, the rest is your responsibility.

[2016-09-13 15:02] mats-claassen commented on #651
In the `Swift3` branch which should be the next release there is a functionality to specify if an user should be able to deselect a value.

Duplicated by #261.

[2016-09-13 15:02] #651 closed

[2016-09-13 15:10] mats-claassen commented on #652
I believe this might happen because the initializer of the row (the block you put after `<<< PickerInlineRow<String>("PickerInlineRowTime")`) is executed immediately from the rows init method. This means that the row has not been added to the form yet. As I do not see your code I do not know if the other row may also not be in the form yet.

What is what you want to do?

[2016-09-13 23:06] robbiet480 opened #655 "iTunes Connect rejects builds because NSPhotoLibraryUsageDescription is required"
I just submitted a build to iTunes Connect that was rejected. The email I received stated:

`This app attempts to access privacy-sensitive data without a usage description. The app's Info.plist must contain an NSPhotoLibraryUsageDescription key with a string value explaining to the user how the app uses this data.`

I looked through all my source including Pods. The only project that has any menti

[2016-09-14 01:26] JorgeAGomez opened #656 "Does not work on Xcode 8 / Swift 3"
Xcode 8
Swift 3

I am trying to use this framework on a new project. I installed it with cocoapods but it does not work after I convert the syntax to Swift 3.

Any ideas on how can I deal with this? or are you guys updating the framework to support Swift 3?

Thanks.

[2016-09-14 03:15] cloke commented on #656
It looks like there is a swift 3 branch.

[2016-09-14 03:18] gothedistance opened #657 "How to disable bottom toolbar navigation?"
When focus in TextRow or TextAreaRow, toolbar appears at bottom with done button in right.

Is there any way to disable(or invisible) this action?

[2016-09-14 09:40] richardblakeneywilliams commented on #656
I've tried the Swift3 banch as well, can't get that to work either.

[2016-09-14 10:10] richardblakeneywilliams commented on #656
pod 'Eureka', :git => 'https://github.com/xmartlabs/Eureka.git', :branch => 'Swift3'

Tried this in my podfile and Xcode 8 still tries to convert syntax to 3

[2016-09-14 12:21] mats-claassen commented on #656
Swift 3 branch should be working on Xcode 8 GM. We have still not tried it on Xcode 8. Thanks for reporting.

[2016-09-14 12:32] mats-claassen commented on #657
Yes. Have a look at the `navigationOptions` variable of your FormViewController. You can set it to `.Disabled`

[2016-09-14 12:32] #657 closed

[2016-09-14 12:44] mats-claassen commented on #655
Could reproduce in the Examples project with iOS 10. Thanks for reporting.

I also realized that adding this key to Eureka's `Info.plist` does **not** fix the issue. Adding it to the proper app's Info.plist works.

For now one workaround is to remove ImageRow or to just add this key with a description string to your app's `Info.plist`. As this might be bothersome if the app is not really using the

[2016-09-14 13:40] mats-claassen commented on #656
It seems that there is no change needed from Xcode 8 GM to Xcode 8 so that Swift 3 branch should work. In my case if I add the Eureka pod and tap convert to Swift 3 then it works and does not update anything.

Obviously we do not want to "convert" each time we update our pod.
I am not sure where the issue lies as opening Eureka with Xcode 8 does not prompt to convert so it might also have to do wi

[2016-09-14 13:53] mats-claassen commented on #656
Installing Eureka with Carthage works seamlessly (if the correct Xcode version is selected in the terminal). So that I guess this has to do with Cocoapods.

For now Eureka works when tapping "convert" after updating the pod. It might also work with setting `Use Legacy Swift Language Version` build setting to `No`.

[2016-09-14 21:05] Kevin-De-Koninck opened #659 "Add image source to an ImageRow"
Hello,

First of all, I really love Eureka! The product suits its name.

But I have a question:
Is it possible to add a image source to an ImageRow? Now I can choose from '.Camera', '.PhotoLibrary' and '.SavedPhotosAlbum', but I would like to add another option 'App backgrounds' which should show an image picker for a couple of images that my app contains in the assets folder.

The goal is to add

[2016-09-14 22:10] allaire commented on #620
@mats-claassen Maybe we could add a bit more default padding top/bottom so it matches the default frame positioning cells?

[2016-09-14 22:39] marsepu opened #660 "*EXC_BREAKPOINT* in "FormViewController.beginEditing""
*Core.swift line 556*
`cell.row.highlightCell()`

Hi all, I have a crash to report but no sense of the input that caused it. Our app was compiled in Xcode 7.3 with the lates Eureka cocoapod release 1.7

I can also report that the device was an iPhone 6S running iOS 9.3.1

Has anyone else run into this ?

[code]

[2016-09-15 06:19] JorgeAGomez commented on #656
It doesn't work for me on any way :(. When click "convert", it tries to make a bunch of changes.

[2016-09-15 06:45] richardblakeneywilliams commented on #656
@JorgeAGomez Dude you need to point your Eureka pod to the Swift3 banch.

Do it like this:
pod 'Eureka', :git => 'https://github.com/xmartlabs/Eureka.git', :branch => 'Swift3'

[2016-09-15 12:06] jc-paris opened #661 "Update to swift 2.3"
Hi,

In order to build with Xcode 8 I converted my code to swift 2.3.

But when I'm building the project I got several errors. Because of force unwraps not done for UINib loading or used of AlignAllBaseline instead of AlignAllLastBaseline.

I'm using the last pre release of cocoapods (1.1.0) with the latest version of Eureka available.

How could I solve my issue without changing your code ?

Than

[2016-09-15 13:54] sebasdeweert commented on #652
True, I found out that the `self.form.rowByTag("PickerInlineRowDate")` can only be retrieved by the .onChange code. It's fixed now! 👍

[2016-09-15 13:54] #652 closed

[2016-09-15 14:34] mats-claassen commented on #661
Hi @jc-paris, there is a branch `swift2.3`. Did you try with that one? We have not released that branch for now so you should point to that branch directly.

[2016-09-15 14:42] mats-claassen commented on #660
I have not seen this issue before.

It is hard to fix something we cannot reproduce. So you do not know which row triggered this? Or if it was a custom row?

[2016-09-15 14:48] mats-claassen commented on #620
Hmm, but I think this padding would be different for each font size. With the default font size the height difference is less than 2 points but when the font size increases then it becomes much more.

[2016-09-15 15:49] marsepu commented on #660
I can't tell which row triggered it. But I can tell you that we use these text input types [TextAreaRow, LabelRow, NameRow, EmailRow, PasswordRow]

[2016-09-15 16:48] mats-claassen commented on #659
I think you should create a custom row for this that subclasses `_ImageRow`
You should then override `customDidSelect` and add your implementation there. You can reuse a lot of code from `_ImageRow's` customDidSelect. I agree that the ImageRow could be easier to extend but currently this would be the best way.

You will obviously have to provide a UIImagePicker that displays your assets images. I

[2016-09-15 18:13] sderuiter opened #662 "PushRow with duplicate values"
Hi,

trying out Eureka for my next app. I've setup my form, containing a PushRow that selects customer names. The customer record contains id and name, however the PushRow is filled with an Array of only the names.

Now, Eureka gives me the possibility to retrieve the selected value using form.values. However, what if two customers have the same name? Can we somehow get the selected index path.row

[2016-09-15 18:39] JorgeAGomez commented on #656
@richardblakeneywilliams Thanks man! its working now! 👍

[2016-09-15 19:21] mats-claassen commented on #662
PushRow is generic so that you can define it as `PushRow<Customer>` if Customer is Equatable. Then the values will be customers and you have the id and name and whatever else.

To make the PushRow show the names of the customers as the options you should set `displayValueFor` accordingly.

[2016-09-15 19:49] sderuiter commented on #662
Thanks. I've now my my Customer struct Equatable. Still need some help on getting this right, though.
I currently have:
`<<< PushRow<Contact>("payToContact") {
                $0.options = Contacts
                $0.displayValueFor = {
                    return $0!.name
                }
            }`

However, this does not work. Contacts is an array of Contact struct. What's the correct code

[2016-09-15 20:28] mtnbarreto commented on #661
We will update master branch to Swift3 shortly. From now we will only add new features to swift 3 version.

[2016-09-15 20:29] mtnbarreto commented on #662
👍

[2016-09-15 20:30] #662 closed

[2016-09-15 20:32] AndrewSB commented on #527
@mats-claassen yeah! I started using `onCellSelection` instead of `onChange` to listen for new values

[2016-09-15 20:45] mtnbarreto commented on #650
You can  set up it as you typically do it using any other view controller embedded in a navigation view controller. You are responsible for embedding the FormViewController in a UINavigationController. Then as @mats-claassen said, you can set up the navigationItems to the navigationBar.

[2016-09-15 20:45] #650 closed

[2016-09-15 20:49] AndrewSB commented on #533
@mats-claassen I can just copy paste it here. Here's how I define my form

[code]

The enums used here (`Command`, `Notifications`, `Presence`) are defined as so:

[code]

So you can see, that `Notifications.All.rawValue` is plainly equal to `Presence.All.rawValue`, both of them resolve to the string `"All"`

If you look at the tags of some of the rows in the definition of the form above, `Prefs.P

[2016-09-15 23:48] #661 closed

[2016-09-15 23:50] mtnbarreto commented on #656
Using Swift 3 branch is at your own risk. We are still making changes on it.
We will add a migration guide, document validations feature and make the final release soon.

[2016-09-16 06:03] zrll2 commented on #517
Hi guys, now that Swift 3.0 is out together with Xcode 8 and iOS 10, we're wondering when Eureka would be updated to support Swift 3? My current codebase cannot be compiled without you guys updating this fantastic forms library. Any hit of timeframe would greatly appreciated as our project is on tight schedule or we have to look for an alternative library elsewhere.

[2016-09-16 09:31] charlymr commented on #517
What you can do is simple, in your Podfile (Assuming you use cocoapods) just change your pod 'Eureka' to
[code]
Then run a pod install.

This will download the latest commit on the Swift 3 branch and let you build in Xcode 8.

**You may want to regular check the latest commits and issue on the Swift3 branch. and run again a pod install. But you will be grant this way.**

[2016-09-16 09:39] yurevich1 commented on #650
Thanks, @mats-claassen . I wound implement UISearchBar with callback. I have the other question about this task. Imo, this library is complicated for an external programmer (with comparison to the other cocoapod libraries). A lot of abstractions, generics and inheritant subclasses. Nevertheless, this is wonder lib which gives wonder results.
This issue should be closed.

[2016-09-16 11:07] jasonnam commented on #656
Will the Swift3 branch be merged into master?

[2016-09-16 12:07] yannickl commented on #655
@mats-claassen  or may be you should package it as a submodule (Cocoapods).

If people need it they just have to add the specific module, otherwise nothing will be added to the target project:

[code]

[2016-09-16 13:37] artuan commented on #517
I've started a blank project with xcode 8.

My pod file:
# Uncomment this line to define a global platform for your project
# platform :ios, '8.0'
# Uncomment this line if you're using Swift
use_frameworks!
pod 'Eureka', :git => 'https://github.com/xmartlabs/Eureka.git', :branch => 'Swift3'

The install went ok but after opening the project xcode runs the conversion to swift 3.

What I'm doing wro

[2016-09-16 16:52] mats-claassen commented on #656
Yes it will.

[2016-09-16 20:54] robbiet480 commented on #655
I'm good for either solution but my preference would be to remove the ImageRow and put it into EurekaCommunity.

[2016-09-16 20:56] mats-claassen commented on #655
Yes we will add it to EurekaCommunity.

Or, it would be welcome if somebody else wants to do this...

[2016-09-16 21:25] dylansdmg opened #667 "Update to Swift 2.3"
Easy to fix, but please update these values. Thank you

![screen shot 2016-09-16 at 3 22 57 pm](https://cloud.githubusercontent.com/assets/18687802/18601704/bc9f5c6c-7c21-11e6-94dc-dc7292615af0.png)

[2016-09-16 21:28] dylansdmg commented on #667
Duplicate.

[2016-09-16 21:28] #667 closed

[2016-09-17 14:05] aravindatcts commented on #517
I am using above mentioned branch and still getting more than 2000+ errors .  Can you please help on this ?

[2016-09-19 08:24] exalted opened #668 "Q: is there a way to "display" text with underlying values"
I wonder if is there a way to "display" a `PushRow<UInt>`(meaning user selected value would be an `Uint`, but user visible `options` would be `String`s.

For instance, picker-UI might "visualize": `["Foo", "Bar", "Baz"]` with underlying values `[1, 2, 3]`, and when the user picks `"Foo"`, we would have a way to know it's value is `1`.

[2016-09-19 09:19] richardblakeneywilliams opened #669 "Eureka Form inside a container view"
Has anyone done this? When I try put one into a container view it doesn't even show up.

[2016-09-19 13:08] #646 closed

[2016-09-19 13:08] #643 closed

[2016-09-19 13:23] #527 closed

[2016-09-19 13:28] mats-claassen commented on #533
That assert is in [BaseRow.swift](https://github.com/xmartlabs/Eureka/blob/bc14933a040ae2fcc53f059047a375b7d947df93/Source/Core/BaseRow.swift#L162-L172).

That function is called when a row is added to a Form.

[2016-09-19 15:47] svedm commented on #656
When I trying to migrate my project to swift3 with eureka pod(Swift3 branch) I get this error:

Any ideas how to solve it?

[2016-09-19 15:59] cloke commented on #656
I had the same issue using cocoa pods and the following seemed to fix it:

1. Upgraded to the latest version of cocoa pods and verified that I was actually using the latest version. I ended up having to remove all installed gems and adding them back.

2. Remove the POD entry, pod install, added back the entry, and pod install again.

Of course if you aren't using cocoa pods then this might be usel

[2016-09-19 16:38] svedm commented on #656
@cloke, thx for answer! I tried all, but it doesn't help.
Sure, I use latest pods(1.1.0.rc.2)

[2016-09-19 17:22] mtnbarreto commented on #668
have you seen this: #662, #645?

[2016-09-19 17:59] allaire commented on #620
@mats-claassen True. Is this the so-called "relative to margin" AutoLayout rule? I'm pretty sure there must be a way to create our own AL constraints that behave the same. Unfortunately, my google searched yielded no results ;(

[2016-09-19 18:23] exalted commented on #668
Yea, I figured about `displayValueFor` later on. Thanks!

[2016-09-19 18:23] #668 closed

[2016-09-19 19:34] mats-claassen commented on #656
@svedm Did you Clean and Build and/ or delete the `DerivedData` folder?

[2016-09-20 11:06] dneykov opened #672 "Repeating rows"
Hi,
I'm wondering if it's possible to make something like repeater. For example I have a form where I would like to give my users opportunity to attach as many photos as they want and submit the form. Can anyone give me an idea?
Thanks.

[2016-09-20 12:01] mspasov commented on #672
Make a section with a single image picker cell. Once you pick a value, add a new cell.
If you have maximum number of slots predefined (and are not many), you could create all the cells, but keep them hidden, until the previous cells value != nil.

[2016-09-20 12:12] dneykov commented on #672
Really simple and easy solution.
Thanks.

[2016-09-20 12:12] #672 closed

[2016-09-20 13:37] mats-claassen commented on #620
I don't think so. I believe the margins may change for the different devices but not for fonts.

[2016-09-20 13:52] chlebta opened #673 "Refresh Values"
I've a background service for fetching data once he done  I need to refresh my views so here's how I declare my form view:
[code]

Here my get data function :
[code]

Nothing happen values are not updated after : `self.tableView?.reloadData()`

[2016-09-20 15:50] plastus commented on #669
I use Eureka inside container views without issue. Make sure the constraints on your container view are set-up properly within the parent view controller.

[2016-09-20 17:00] tdestro opened #674 "EmailRule should validate true on empty (Optional email field)"
If RuleRequired() is not there, email rule should validate to true on empty string as not every email field is a required one. Right now it does not.

[2016-09-21 00:21] kocherovets commented on #656
convert all public members to open in swift 3 branch please, my old code works with it hardly

[2016-09-21 08:32] juliensch commented on #656
@mats-claassen, is there a moment when we can expect Eureka to be fully compatible with swift3/xcode 8?

thanks

[2016-09-21 08:58] alibasta commented on #656
Same here @JorgeAGomez @richardblakeneywilliams : After using `pod 'Eureka', :git => 'https://github.com/xmartlabs/Eureka.git', :branch => 'Swift3'
` I did a `pod deintegrate` than a `pod install` and after that Xcode asked for the Swift 3 convert. After doing the convert I see also a lot of changes (public classes to open classes for example). I'm using Xcode Version 8.0 (8A218a)

[2016-09-21 20:50] mbustamanteo commented on #669
I have done this. Make sure the constraints are setup and the embedded view controller is actually set to your own FormViewController

[2016-09-22 14:56] svedm commented on #656
@mats-claassen It's strange but creating new swift3 project with eureka helped me. Thx!
Also what about changing access level of some methods from `public` to `open`? E.g. I cannot override [`keyboardWillShow` method](https://github.com/xmartlabs/Eureka/blob/Swift3/Source/Core/Core.swift#L823) for now because it is public, but I think it should be open.

[2016-09-23 02:49] dromerobarria opened #677 "Any way to center the section footer?"
it is posible to center the text of footer or header of a section?

+++ Section(header:"", footer: "center text")

[2016-09-23 11:50] dneykov opened #678 "dependent PushRows"
Hi,

I'm trying to make 3 PushRows to depend each other. But can't find a way to reload items when one of them change. Can anyone help me with that? Thanks.

[2016-09-23 14:55] yurevich1 opened #679 "negative numbers for DecimalRow"
How can I setup DecimalRow in oreder to input negative values?

That is, I can type something like 10.44 but not -9.329

[2016-09-23 16:16] zinyakov commented on #641
Thank you for your advice. It worked nicely on simple rows like IntRow, however, rows with formatters just blink for a second and then the selection disappears. Also, there's a glitch with the right selection mark - it's thinner than the left one.
<img width="37" alt="screen shot 2016-09-23 at 19 16 01" src="https://cloud.githubusercontent.com/assets/15367331/18793174/3cb562b6-81c2-11e6-8c59-d706c

[2016-09-24 02:48] robbiet480 commented on #105
This would be a great feature to add to Eureka!!!

[2016-09-24 03:18] robbiet480 commented on #105
Also, it would be an awesome addition if we could implement swipe right actions, like MGSwipeTableCell does.

[2016-09-24 03:36] robbiet480 commented on #105
I took a first swing at adding actions support, but would really love to add swipe right actions too.

[2016-09-26 08:52] dneykov commented on #673
Try `self.form.rowByTag("yourRowTag")?.updateCell()` instead of `self.tableView?.reloadData()`
and implement cellUpdate callback on your TextRow
[code]

Hope it help. It is working for PushRow.

[2016-09-26 15:00] allanrvj opened #682 "Controlling hide animations"
Hi guys.

I'm trying to hide/show some sections via a SwitchRow, and the only animation available is the rows being swept from left to right.

I was wondering if it's possible to control the animation so that the hiding/showing of rows look like when you turn on/off Wi-Fi from Settings on the phone.

Thanks.

[2016-09-26 20:27] mgmart opened #683 "CountDownRow prints Date as Optional"
After moving my app to Swift3 I encountered the issue with CountDownRow. Other row types seem not to be affected.

<img width="188" alt="glass_und_iphone_7_ _ios_10_0__14a345_" src="https://cloud.githubusercontent.com/assets/3919652/18850406/acd6be7e-8437-11e6-842f-f03e3c614a61.png">

The corresponding code is here:

       +++ Section("Planning")
        <<< CountDownRow() {
          $0.disabled

[2016-09-26 21:23] engmsaleh commented on #517
@charlymr this didn't work for me

[2016-09-26 21:45] christianhr commented on #656
I add this line to my pod file `pod 'Eureka', :git => 'https://github.com/xmartlabs/Eureka.git', :branch => 'Swift3'` and the form loads good, but when I put the focus on a TextFloat field, the app crash, please see the last line on the log screen

<img width="998" alt="screen shot 2016-09-26 at 4 36 13 pm" src="https://cloud.githubusercontent.com/assets/20073816/18852981/9e6d85e0-8408-11e6-9ca0-3

[2016-09-26 21:48] mtnbarreto commented on #656
TextFloat field? IS this a custom row?

[2016-09-26 22:35] #674 closed

[2016-09-26 23:28] mtnbarreto commented on #517
I just upload a new beta release to cocoapods, it's also merged with master.
Could you please check if it works?

[2016-09-27 06:44] engmsaleh commented on #517
@mtnbarreto Thanks for your reply.
I have tried it and it gives the following error
[code]

Here is my Podfile
[code]

Also, I have another concern, I'm now forcing all my pods to remain with `['SWIFT_VERSION'] = '2.3'` .
If I install `Eureka` version `1.7` it will install correctly, but it will give a lot of errors when opened using Xcode8.

Could you advise me how to use `Eureka` with  `['SWIFT_

[2016-09-27 07:10] engmsaleh commented on #517
Update:
======
I have ended up using the following
`  pod 'Eureka', :git => 'https://github.com/xmartlabs/Eureka.git', :branch => 'swift2.3'`
I don't know what is the difference as it installs the same as before
`Installing Eureka (1.7.0)`

But it solve that for now.

[2016-09-27 07:11] charlymr commented on #517
@engmsaleh
First you may have an out of sync Cocoapod master repos, do this `pod repo update`

Then the  fix was for swift 3 not swift 2.3. Here you are explicitly forcing all your target to build for Swift 2.3 in your post_install:
```   config.build_settings['SWIFT_VERSION'] = '2.3' ```

If this is what you need you will need to select the right branch:
https://github.com/xmartlabs/Eureka/tree/s

[2016-09-27 07:13] charlymr commented on #517
@engmsaleh We crossed our response :)

Anyway bare in mind swift2.3 is an intermediate state with minor changes in the syntax to get your code working for Xcode 8 quickly.

This is due to the fact, swift 3 syntax is drastically changing, which you may have notice. So you can work with 2.3 for now, but bare in mind you will need to migrate your code to Swift 3 at some stage.

[2016-09-27 07:24] engmsaleh commented on #517
@charlymr Thanks a lot 👍 , I know the point about `swift 2.3` , but for now to get my project keep going and don't force changing all to `swift 3` I will go that track for now as it is more faster and get to `swift 3` hassle later on ;)

[2016-09-27 11:56] christianhr commented on #656
I mean "TextFloatLabelRow"

[2016-09-27 12:12] dneykov commented on #611
Did anyone find a solution for this?

[2016-09-27 12:44] christianhr commented on #656
Hi again, I found the problem, check the next image on line 434, the navigationAccessoryView variable was nil:

`open var navigationAccessoryView : NavigationAccessoryView!`

I had to instantiate it
`open var navigationAccessoryView : NavigationAccessoryView! = NavigationAccessoryView()`

the problem was in Core.swift class, from Eureka

<img width="763" alt="screen shot 2016-09-27 at 7 39 40 am"

[2016-09-27 15:09] akabab opened #684 "IntRow format"
Hi,

I'd like to format a IntRow so when user type in a value it is displayed with "/8" appended to it:
[code]
the value should still be 7, 0 & 12, only cell should be displayed with "/8" suffix.
Maybe it should be achieved when cell is deselected, so when it has focus it only display the integer value and when released it format it as wanted.

Hope I got understood,

thank you

[2016-09-27 16:27] akabab commented on #684
On your Example target, formatters are not working correctly:
- Spell Out style: if I type any new value (eg. 120) it will display an empty cell, but if I type in "one" it will display "one" then when I take focus again it will be filled with integer value "1"..
- other formatters (Energy & Mass): it is not possible to modify the value.... it will keep displaying the formatted version of the initi

[2016-09-27 18:43] liltimtim commented on #427
Hi @plastus,

I was wondering the same thing as you and stumbled upon this question via Google.  The way I've accomplished the task was to create an enum for each of my fields that I wanted to monitor (Apple also has an example of this [here](https://developer.apple.com/library/content/documentation/StringsTextFonts/Conceptual/TextAndWebiPhoneOS/ManageTextFieldTextViews/ManageTextFieldTextViews.ht

[2016-09-28 00:22] mohan-shyam opened #685 "Custom presented row not able to return values to the presenter row"
I'm using Eureka (Swift 2.3 branch) and have created a Custom row to present `mediaPicker`.

Additional information at [http://stackoverflow.com/questions/39448586/how-to-present-a-viewcontroller-using-a-row-in-eureka-forms](url)

This was based on modifying the `LocationRow` available to my requirements.

The problem is I'm not able to set the value using row.value nor return a string which can b

[2016-09-28 14:00] malakiya opened #686 "Pod error"
When I try to install the latest version:

`pod 'Eureka', '~> 2.0'`

I have this error:

[code]

[2016-09-28 15:03] gragera opened #687 "Swift 2.3 official release"
Hi,

Any chance to get an official release for Swift 2.3 rather than relaying in a branch in our Podfiles?

Thanks!

[2016-09-28 15:39] huangshuai-IOT opened #688 "Why do you want to delete imageRow ？"
Excuse me, I do not know why you want to delete the imageRow,Can you explain to us？
In addition，I am using Swift3，I want to back the commits where the imageRow is alive , can you tell me the commits num?
pod 'Eureka', :git => 'https://github.com/xmartlabs/Eureka.git', :commit => '????', :branch => 'Swift3'

[2016-09-28 15:50] akabab commented on #684
I did achieve something with
[code]

[2016-09-28 16:31] mtnbarreto commented on #687
Hey @gragera , we have no plans to add official support to swift 2.3, actually we will continue eureka support only for swift 3.

Is there any special reason you want a official release?

[2016-09-28 16:37] mtnbarreto commented on #688
ImageRow was included in example project, you can take the source files from there.
We deleted it because even when we don't use it apple force us to declare a plist property explained here: #655. If you forget to add this apple reject your app.

We will provide it as a custom row under [EurekaCommunity](https://github.com/EurekaCommunity) organization. I really appreciate If you can do it :).

[2016-09-28 16:38] mtnbarreto commented on #688
Quick solution is to add ImageRow, ImageCell and it's presenter view controller to your app project.

[2016-09-28 16:42] mtnbarreto commented on #686
try using  `pod 'Eureka', '~> 2.0.0-beta.1'`

[2016-09-28 16:42] mtnbarreto commented on #686
first time i release a beta version. :)

[2016-09-28 17:33] mtnbarreto commented on #685
use `row.value = musicTemp!` instead of `row.value? = musicTemp!`.

Could you please try scrolling out MusicRow and make it visible again after selection a music from the picker. Seems to me it is a issue related with the row refresh.

[2016-09-28 18:38] mtnbarreto commented on #684
@akabab have you made it work?

[2016-09-28 19:02] mtnbarreto commented on #684
`getNewPosition` method is only called when `useFormatterDuringInput ` is true as Readme points out.

[2016-09-28 19:53] #683 closed

[2016-09-28 19:59] mtnbarreto commented on #683
It's weird since example app works as expected. Anyway now I forced unwrapping

[2016-09-28 20:13] mtnbarreto commented on #682
You can override this `insertAnimation(forSections:) -> UITableViewRowAnimation ` as you need....
https://github.com/xmartlabs/Eureka/blob/3efe00e9a65a48c8823e7622dcd478efdc78b753/Source/Core/Core.swift#L600

[2016-09-28 20:14] #682 closed

[2016-09-28 21:01] akabab commented on #684
yes, now I'm trying to understand how to implement `getNewPosition` with `useFormatterDuringInput=true`, current implementation is making weird stuff, I'd like to be able to edit the value but not the "/8" suffix

[2016-09-28 21:21] mtnbarreto commented on #659
Now that we've removed ImageRow from Eureka rows provided by default I recommend you to create a custom row considering this feature.
Regards

[2016-09-28 21:21] #659 closed

[2016-09-28 21:22] mtnbarreto commented on #659
https://github.com/EurekaCommunity is a good place to share it with the community, I can add you to the organization if you are willing to create it.

[2016-09-28 21:25] mtnbarreto commented on #677
You need to set up a custom view as section footer as the readme points out here: https://github.com/xmartlabs/Eureka#section-header-and-footer

[2016-09-28 21:25] #677 closed

[2016-09-28 21:27] mtnbarreto commented on #678
Could yo please share the code you are currently using trying to accomplish that?

[2016-09-28 21:33] #686 closed

[2016-09-28 21:34] mtnbarreto commented on #655
ImageRow has been deleted from Eureka core.

[2016-09-28 21:34] #655 closed

[2016-09-28 22:08] shawnce commented on #687
We would like to have a Swift 2.3 official release. We have the need to move to Xcode 8 but stay on Swift 2.3 while we 1) wait for other external dependencies become ready for for Swift 3, and 2) likely waiting until Swift 3.0.x/3.x given some issues we are tripping across in Swift 3.

[2016-09-29 01:51] mohan-shyam commented on #685
Thanks very much @mtnbarreto . I knew it was a very trivial issue, and the solution was even trivial. Sorry for taking your time, which is due to my inexperience. Taking baby steps in iOS dev! +1

[2016-09-29 01:51] #685 closed

[2016-09-29 06:07] dneykov commented on #678
Actually I made it work.
Here is what I use to update PushRow onChange:
[code]

[2016-09-29 06:24] mgmart commented on #683
That's indeed weird. Can confirm that the fix works for me also. Thanks!

[2016-09-29 08:06] cooler333 commented on #656
*  **AlignAllBaseline**
[code]

    AlignAllBaseline is unavailable in Swift: Use 'allignAllFirstBaseline/allignAllLastBaseline' instead
*  **loadNibNamed**
[code]

    Value of optional type [AnyObject]? not unwrapped; did you mean to use '!' or '?'?

[code]

[2016-09-29 08:18] cooler333 commented on #656
'Use Legacy Swift Language Version' -> YES by default.

    Eureka.xcconfig: SWIFT_VERSION = 2.3;

But it must be 3.0

[2016-09-29 09:14] gragera commented on #687
My reasons are the same as @shawnce's :)

[2016-09-29 11:20] svedm opened #691 "Crash on FormViewController deinit"
On first VC I create simple form with IntRow
[code]
On second View Controller I set it as rootVC in navigationController
[code]
After I call this code. Eureka was crashed with error
[code]

Latest Eureka from master branch
Xcode Version 8.0 (8A218a)

[2016-09-29 17:38] mtnbarreto commented on #691
[code]

What does this code do?

Are you trying to remove all view controllers in the stack and keep only the form view controller?

[2016-09-29 17:50] mtnbarreto commented on #684
okay, so I will close the issue for now...

Open another one if you need help with `getNewPosition`, not sure if you can do it by using it.

[2016-09-29 17:50] #684 closed

[2016-09-29 17:55] mtnbarreto commented on #673
TextRow() {
        $0.tag = "yourRowTag"
        $0.disabled = true
        $0.value = newPaySlip.remainingTimeOff
    }

the previous closure is invoked on row initialisation time which means that even though you set up `newPaySlip` again the value will not be reflected int the form.

You will have to use `setValues` form method. Take a look at newPaySlip. Then reload the table view.

[2016-09-29 18:06] mtnbarreto commented on #660
@marsepu  Are you still experiencing this issue on new 2.0.0 beta release?

[2016-09-29 18:06] #660 closed

[2016-09-29 18:40] #613 closed

[2016-09-29 18:54] mtnbarreto commented on #653
yeah, Best solution to me is to implement your own `TypedRowControllerType` view controller so you can set up the UISearchCOntroller from within `viewDidLoad` and implement its delegates in the new class.

[2016-09-29 18:54] #653 closed

[2016-09-29 19:15] mtnbarreto commented on #669
Seems it works properly inside a containerView. Will close the issue for now.

[2016-09-29 19:15] #669 closed

[2016-09-29 19:27] mtnbarreto commented on #648
@marcsnts Could you please share more info about the issue, i would really appreciate if you can share your custom row code. Please make sure to follow our contribution guidelines too.

[2016-09-29 19:27] #648 closed

[2016-09-29 19:40] #644 closed

[2016-09-29 20:08] mtnbarreto commented on #601
Thanks for sharing it!!

[2016-09-29 20:08] #601 closed

[2016-09-29 20:16] mtnbarreto commented on #628
I added this row to our EurekaCommunity roadmap.

[2016-09-29 20:16] #628 closed

[2016-09-29 20:36] mtnbarreto commented on #632
@ins0u  Was you able to accomplish it?

[2016-09-29 20:36] #632 closed

[2016-09-29 20:38] #627 closed

[2016-09-29 20:39] mtnbarreto commented on #590
We've completely removed ImageRow from default EurekaRow rows.

[2016-09-29 20:39] #590 closed

[2016-09-29 20:40] #618 closed

[2016-09-29 20:41] #571 closed

[2016-09-29 20:50] mtnbarreto commented on #641
Have you tried using

[code]

instead of sync...

[code]

[2016-09-29 21:06] mtnbarreto commented on #641
I just tested it and it works even when the field row has a formatter.

[code]

The animation looks better if you delay the selection (`DispatchQueue.main.asyncAfter(deadline: .now() + 0.3)`) but it even work when you select the text as the example above shows.

I'm using Xcode 8, Swift 3, iphone 7 simulator, Eureka v2.0.0-beta.1

[2016-09-29 21:06] #641 closed

[2016-09-29 21:14] #621 closed

[2016-09-29 21:16] mtnbarreto commented on #594
@gorbat-o Have you solved it? If not, please share your form view controller code..

[2016-09-29 21:16] #594 closed

[2016-09-29 21:22] #557 closed

[2016-09-29 21:44] SASDOE commented on #590
Won't that bring breaking changes to anyone using it?

[2016-09-29 21:46] mtnbarreto commented on #590
it will, you can get the source code from Eureka example project. It will be provided as custom row under eurekacommunity organization shortly.

[2016-09-29 22:05] mtnbarreto commented on #554
Seems to me a very edge case scenario, i would recommend you to implement it as a custom row.
We can share the custom row implementation under https://github.com/eurekaCommunity github organization if you are willing to do so.

[2016-09-29 22:05] #554 closed

[2016-09-30 05:14] dneykov commented on #611
Which block should I wrap in dispatch_async(dispatch_get_main_queue(), ...)?
Thanks.

[2016-09-30 08:00] ins0u commented on #632
No, not yet, I have not found enough specific example: /
Can you help me ?

[2016-09-30 08:22] lognaturel commented on #679
I believe the only thing that keeps you from entering a negative number is that the keyboard that's used by the row doesn't include a minus sign. You can check out [this Stackoverflow thread](http://stackoverflow.com/questions/28101460/how-to-add-a-minus-sign-to-the-decimalpad-ios-keyboard) to see some suggestions on how to create a custom keyboard that includes one. Alternately, you could conside

[2016-09-30 11:35] dneykov opened #692 "Eureka validations with swift 2.3"
Is it possible to use Eureka built-in validations with swift 2.3?

[2016-09-30 14:08] mtnbarreto commented on #692
Not, it's only available on swift3. Regards

[2016-09-30 14:32] dneykov commented on #692
Okay thanks.
I have to consider migrate my app to swift 3.

[2016-09-30 14:32] #692 closed

[2016-09-30 15:08] mtnbarreto commented on #637
as @mats-claassen said, you should remove the text field before setting up textField property, then you should also add it to content view since cell's updateConstraints() method makes use of it.

[2016-09-30 15:08] #637 closed

[2016-09-30 15:09] #673 closed

[2016-09-30 15:23] #624 closed

[2016-09-30 15:26] txaiwieser opened #693 "Error when compiling CustomRow with Swift 3.0"
- Environment: Xcode 8, and have tried the "2.0.0 Beta 1" and the latest commit from "master".

I have couple custom Rows that inherit from _FieldRow. and I'm getting a compiler error:

[code]

Any Ideas on how I can fix this?

Thanks!

[2016-09-30 15:33] mtnbarreto commented on #573
We should consider all this when implementing ImageRow and share it from EurekaCommunity organization.

Anyone wants to implement it? We can get started from ImageRow implementation included in the Example project.

[2016-09-30 15:33] #573 closed

[2016-09-30 15:33] #639 closed

[2016-09-30 15:38] #572 closed

[2016-09-30 17:04] #678 closed

[2016-09-30 17:18] mtnbarreto commented on #608
you can either set up the width hardcoded depending on the screen size of device type, set up it after cell layout is done, set up `autoresizingMask` mask to stretch imageView whenever it superview increases its size.

[2016-09-30 17:18] #608 closed

[2016-09-30 17:41] txaiwieser commented on #693
Just made more tests and its happening when inheriting from any Cell, I tried with
class CustomCell: TextCell

[2016-09-30 17:49] #517 closed

[2016-09-30 17:50] #521 closed

[2016-09-30 17:54] mtnbarreto commented on #504
It would be great if we implement it.
Anyone want to implement and share this custom row through [EurekaCommunity](https://github.com/eurekaCommunity) organization?

[2016-09-30 17:54] #504 closed

[2016-09-30 18:05] mtnbarreto commented on #529
@biskit i recommend you to take a look how the selector controller is shown by PushRow. By changing PushRow's `presentationMode` property value you can show another controller having complete control over it. The code of this new selector controller implemenented by you will look like pretty similar to `SelectorViewController` which Eureka provides.

[2016-09-30 18:05] #529 closed

[2016-09-30 18:42] mtnbarreto commented on #533
@AndrewSB Somehow `func wasAddedTo(section: Section)` is not being called in your case. Could you debug step by step to see the reason so we can help.
I will close the issue for now.

[2016-09-30 18:42] #533 closed

[2016-09-30 20:11] mtnbarreto commented on #47
Finally we implemented build-in vaidations feature in Eureka `2.0.0-beta.1` version, Notice that this version only works on swift3.  Take a look at the readme and example project for more info about how to use it.
Any feedback is welcome.

Regards

[2016-09-30 20:11] #47 closed

[2016-09-30 20:13] ffittschen commented on #47
Awesome, thanks! I'm currently migrating to the `2.0.0-beta.1` and will let you know if I find anything worth to mention

[2016-09-30 20:15] mtnbarreto commented on #656
@cooler333 what do you mean with your comment?

[2016-09-30 20:30] mtnbarreto commented on #540
@creister thanks for reporting the issue!
We will not fix it since there are now just few users on ios 8 and even less using ios 8.1, 8.2.

[2016-09-30 20:30] #540 closed

[2016-09-30 20:37] mtnbarreto commented on #47
👍 this could be helpful ... https://github.com/xmartlabs/Eureka/blob/master/Documentation/Eureka%202.0%20Migration%20%20Guide.md

[2016-09-30 21:01] mtnbarreto commented on #530
we're not going to add the counter as a core feature. If you want to provide a better TextAreaRow row you can share it through [EurekaCommunity](https://github.com/EurekaCommunity) organization which lists Eureka plugins .

[2016-09-30 21:01] #530 closed

[2016-09-30 21:19] mtnbarreto commented on #480
@samrayner It's a good solution.
Alternatively you can extend SegmentedRow and its cell and update its constraints. Anyway your solution seems more elegant and easier.

[2016-09-30 21:19] #480 closed

[2016-09-30 21:35] mtnbarreto commented on #472
let's close this issue for now. Seems no one else reported the same issue.

[2016-09-30 21:35] #472 closed

[2016-10-03 01:18] adek05 opened #695 "2.0.0.3 beta fails to install on platform 9.0"
https://github.com/CocoaPods/Specs/blob/master/Specs/Eureka/2.0.0-beta.1/Eureka.podspec.json#L17

Documentation suggests using 9.0 when installing this pod, while the new release is not marked as compatible with this platform.

[2016-10-03 02:00] banjun commented on #687
from pod developer point of view...
`pod spec lint` can be passed with published version of dependencies (there is no support for branch dependency specifier for podspec).
so we want to use a published Eureka pod from swift-2.3 branch for updating our pods depending on Eureka for Swift 2.3.

[2016-10-03 09:01] dneykov commented on #611
I fixed my problem.
The reason was that I'm using Custom row which is quite long 1533. It has static height so will not change.
What fixed the problem was that I added exact same height 1533 in cellSetup callback.

[2016-10-03 11:14] kuquert commented on #693
Same here, any ideas?

[2016-10-03 12:25] Sweeper777 opened #697 "Are DecimalRows with a formatter supposed to lose its value after editing?"
Sorry for not being able to write a good title...

I have a decimal row in my form. I set its formatter to a `NumberFormatter` that only shows 2 decimal places:

            <<< DecimalRow(someTag) {
                row in
                // setting general stuff here...
                let formatter = NumberFormatter()
                formatter.maxiumFractionDigits = 2
                row.value =

[2016-10-03 14:33] almatri commented on #504
I want this feature too, I have an app where the user can select multiple images and upload them together

[2016-10-03 18:26] mtnbarreto commented on #695
@adek05  Could you please send the issue you are experiencing?

[2016-10-03 18:49] mtnbarreto commented on #697
I think that when you leave the input field Eureka takes the string and tries to convert it to a value using your formatter. This makes you lost precision since your formatter has maxiumFractionDigits = 2.
I'm not completely sure  but seems to me this is what is going on.

[2016-10-03 18:50] mtnbarreto commented on #697
also displayed value string has only 2 significant digits that makes impossible to get the original value.

[2016-10-03 18:56] mtnbarreto commented on #693
Custom row code is an external library or are just source file that belong to your iOS project?
Could you please share it code or upload a project so i can look into it.

[2016-10-03 19:02] mtnbarreto commented on #679
@lognaturel 👍

[2016-10-03 19:02] #679 closed

[2016-10-03 20:35] sagits opened #698 "TableView margin"
Hi, im adding a margin to my tableView (the default Eureka tableView) using this approach:

[code]

The left margin works, but the right not. No matter the number i use on the right margin (0, 20, 80) the tableView always show this way (it looks like the cell wont resize):

![image](https://cloud.githubusercontent.com/assets/6174566/19053069/ab3a9664-898f-11e6-93ad-1ba1e642a606.png)

Can you help

[2016-10-03 21:48] Amindv1 commented on #656
I'm using Xcode 8 and am having an issue where I'm getting around ~167 errors saying certain lines are incorrect ( I think the eureka file is written in Swift 2.3 and its syntax checking is correcting to Swift 3.0). This is what my podfile looks like:

[code]
I tried changing it from
pod 'Eureka', '~> 1.5'

to

pod 'Eureka', :git => 'https://github.com/xmartlabs/Eureka.git', :branch => 'Swift3'

t

[2016-10-03 21:51] mtnbarreto commented on #656
The only test I made was creating a new swift 3 project from scratch. Also travis are building and testing swift 3 code.

If you are using cocoapods as dependency manager make sure you are successfully fetching the right code.

`pod 'Eureka', '~> 2.0.0-beta.1'`

[2016-10-03 22:00] Amindv1 commented on #656
I believe I am, when I run pod install it tells me im using 'Using Eureka (2.0.0-beta.1)'. I also tried changing it from pointing to the branch to the line you provided but I still have the same errors. Any other suggestions?

[2016-10-03 22:02] mtnbarreto commented on #656
just in case, I deleted Swift3 branch to avoid any confusion.

Check if a new project works as expected if not upload a project having the issue so i can take a look.

[2016-10-03 22:06] mtnbarreto commented on #656
2.0.0-beta.1 is fully written in swift 3. Take a look at the source files that cocoapods fetches and compare with master branch.

[2016-10-03 22:36] txaiwieser commented on #693
I made a sample project reproducing the error, its very straight foward, just one class with direct or indirect inheritance from _FieldCell.
https://dl.dropboxusercontent.com/u/4986807/CustomRowTest.zip

[2016-10-04 13:30] meismyles opened #700 "Reload section of form not working"
What is the correct way to reload a section of a form, or even just the whole form itself.

I have one section of a form that has a text field I can use to create entries in an array, and then populate another section of the form with these entries.

No matter what I try though I can't seem to reload the list section. What is the correct way of doing this?

I have tried `form.sectionBy(tag: NAME).

[2016-10-04 15:35] Amindv1 commented on #656
Yea it seems that I just messed up, after pointing to the branch the issues came from the actual project files not eureka. Thanks!

[2016-10-04 15:37] #697 closed

[2016-10-05 09:18] chlebta opened #701 "Custom section header with hiding function"
Hello,
I'm trying to create custom header section with a button to hide this section, here's my code :

`HeaderView`
[code]

`formViewController`
[code]

When I click on the button my `trigerAction void` is called but the section is not hidden, so any help or idea ?

- Environment: Eureka (1.7) , Xcode(7.3.1) and iOS (9).

[2016-10-05 10:52] gorbat-o opened #702 "[rowByTag] using baseValue don't work"
Hello,

i've a problem with rowByTag,
I'm using this code:

[code]

but it's show nothin' :( i've tried with row.value too ..
But i've something in element (optional)

Can i've help please,

Thanks

[2016-10-05 10:58] AlexEdunov opened #703 "Scrolling issue after keyboard disappearing"
I have simple form. Scroll view is working wrong when I'm trying to disappear keyboard. I've captured video: https://vimeo.com/185622255

Eureka revision: https://github.com/xmartlabs/Eureka/commit/29e73c3a2196732de0acac136e911143290390cf
XCode Version 8.0 (8A218a)
Video captured from Simulator Version 10.0 (SimulatorApp-700.5.3 CoreSimulator-303.8)
Issue already reproduces on devices with iOS 10.

[2016-10-05 12:51] chrisortman opened #704 "defaultOnCellHighlightChanged event not being called"
Running Eureka 2.0.0.beta-1, iOS

I have some events bound to the `defaultOnCellHighlightChanged` callback that since upgrading are no longer being called.

[code]

I had previous rolled my own validation if that helps...I know there's built-in's now, but had hoped to defer adopting them as I'm close to releasing this app.

[2016-10-05 15:14] #704 closed

[2016-10-05 15:16] mtnbarreto commented on #704
it was an issue, thanks for reporting it!!

[2016-10-05 15:19] mtnbarreto commented on #702
`subscribe` reactive closure is being called?

[2016-10-05 15:21] mtnbarreto commented on #702
which is the type of `username ` and `username.element` ?? why are you using `.element`?

[2016-10-05 15:46] gorbat-o commented on #702
thanks for fast answer :)
because swiftreact was updated recently cause of swift 3 you know ;)
so, yes it's work, because SpeedLog.print(username) was working i've got the username in console,
but now, it's worse .. it's random, 1 on 10 times its print the username
i'm looking on react too .. i'm gonna try a cast in String for test,
I'll let you know

[2016-10-05 15:52] mtnbarreto commented on #702
okay.

Take into account that you can only set up String values to `baseValue` property (for this particular row), otherwise the value is discarded.

[2016-10-05 16:05] gorbat-o commented on #702
so,

i do that ->
[code]

and in console ->
[code]

so, it's not working .. :'(

[2016-10-05 17:38] mtnbarreto commented on #703
I did some testing using master branch (swift 3) and I couldn't reproduce it.

Make sure you properly invoke the super implementation if you have overridden `keyboardWillShow` , `keyboardWillHide`.

If you upload a project i can take a deeper look at it.

[2016-10-05 18:02] mtnbarreto commented on #702
i can't provide any additional help with the info you provided so far.
i'm sure it works since we have test that cover baseValue and value properties.

If you upload a project to easily reproduce it i will take a look.

[2016-10-05 18:03] mtnbarreto commented on #702
BTW
do `self.countryRow?.title = "Pays"` instead of  `self.countryRow?.baseCell.baseRow.title = "Pays"`

[2016-10-05 18:35] mtnbarreto commented on #698
there are many issues related with table view and table view cells margin. Please take a look at them.

[2016-10-05 18:39] mtnbarreto commented on #698
@sagits  Do you know how to accomplish that without using Eureka?

[2016-10-05 19:08] #695 closed

[2016-10-05 19:25] #693 closed

[2016-10-05 19:25] mtnbarreto commented on #693
Could you please check now using master branch?

[2016-10-05 19:25] mtnbarreto commented on #693
@txaiwieser @kuquert

[2016-10-05 20:40] mtnbarreto commented on #701
I think you should call section's `evaluateHidden()` method to make the section visible if it is hidden.

[code]

Moreover, after the form appeared, whenever you change section hidden property you should invoke `evaluateHidden()` .

@chlebta let me know if that does the trick.

[2016-10-05 20:47] mtnbarreto commented on #700
Could you please share your form code??

Have you read this: https://github.com/xmartlabs/Eureka#how-to-update-a-section-headerfooter ?

If you add a new section to a displayed form or add rows to a displayed section these changes should be reflected automatically which means you don't need to do anything else.

[2016-10-05 20:55] mtnbarreto commented on #688
We have shared ImageRow in EurekaCommunity github organization as a Eureka plugin... https://github.com/EurekaCommunity/ImageRow

[2016-10-05 20:55] #688 closed

[2016-10-05 21:54] mtnbarreto commented on #566
@sunbohong I think we can accomplish the same result by doing:

[code]

I will make a pull request when i have the chance.

[2016-10-05 22:39] gorbat-o commented on #702
hahaha, i've tried this

[code]
and it isn't working

[2016-10-05 23:05] #702 closed

[2016-10-05 23:11] meismyles commented on #700
@mtnbarreto Yep I have read that thanks. Here is the form code:

[code]

So in the first section I call `self.addProductCategory(...)`, this subsequently updates `self.productCategories`, I then was hoping calling `tableView.reloadData()` or getting the second section and calling `section.reload()` would force it to run through the loop again and create any added `LabelRow()`.

Am I missing someth

[2016-10-06 03:08] chrisortman commented on #704
Thanks! It looks like the function is getting called now. How can I tell if I am being called because of a highlight or unhighlight?

I expected to check row.isHighlighted but that doesn't seem to change before the callback is invoked?

[2016-10-06 09:13] chlebta commented on #701
@mtnbarreto
cool it work :)

[2016-10-06 09:15] chlebta commented on #701
Please, I've another question is it possible to create dynamically another section.
for example when user tap + button it create new section with some fields

[2016-10-06 12:12] Cokile opened #707 "How to use common UITableViewCell with Eureka cells"
I want to use a common `UITableViewCell`(named `myCell`) whose `accessoryType` is `.DisclosureIndicator` with several Eureka cells. When I tap `myCell`, it will push a `UIViewController`.

My first thought is use `PushRow`, but I don't know how to make `PushRow` to push a custom `UIViewController`.

[2016-10-06 13:03] Cokile opened #708 "How to change TextAreaRow placeholder's size?"
I want to change the font size of `TextAreaRow`, so I use the code below:

[code]

However, it only change the font size of the `textView` and leave the placeholder with the default size.

[2016-10-06 15:59] #566 closed

[2016-10-06 16:53] mtnbarreto commented on #602
As of Eureka 2.0.* `onCellHighlight` and `onCellUnhighlight` were renamed to `onCellHighlightChanged` callback.
In order to check if the closure was invoked due to a highlight we can check row's `isHighlighted` boolean property.

[2016-10-06 16:53] #602 closed

[2016-10-06 16:54] mtnbarreto commented on #707
Have you read https://github.com/xmartlabs/Eureka#custom-rows?

[2016-10-06 21:58] mtnbarreto commented on #708
I think that you can do it by setting up `placeholderLabel` cell's property from `cellSetup` or `cellUpdate` callback.

[2016-10-06 22:38] mtnbarreto commented on #700
I think this is well explained in the doc and example project.

Seems to me the code you posted was added to  form view controller's `viewDidLoad` method.

You should add a new row whenever `AddCategoryButton` button is tapped....

[code]

That code will add a new row to the last section, so you have only to update the dsl array, either by adding rows to a section or a section to the form. Once th

[2016-10-06 22:38] #700 closed

[2016-10-06 22:40] mtnbarreto commented on #703
I will close this issue for now. If you send a project to reproduce the issue i reopen it.

[2016-10-06 22:40] #703 closed

[2016-10-06 22:47] Cokile commented on #708
Thanks!

[2016-10-06 22:47] #708 closed

[2016-10-07 04:38] Cokile commented on #707
@mtnbarreto Thanks!

[2016-10-07 04:38] #707 closed

[2016-10-07 12:52] csimmonsbluebook opened #711 "PushRow selection not updating after return"
When presenting a FormViewController modally, that is embedded inside a Navigation Controller, I am having a problem with PushRow. I select the PushRow, then select an option, the view goes back to the original page, but the selection does not update the PushRow value and the PushRow remains grayed out like it is still selected. This is shown in the gif below. Any ideas how to fix this issue?

![p

[2016-10-07 14:00] kocherovets opened #712 "ImageRow crash"
Hi! After moved ImageRow from example project my project crashes on Take Photo button. Debugger does not show why. Example project works fine. I have used ImageRow previously in my project with Eureka and did not change my code.

[2016-10-07 16:08] mamcx opened #713 "Failed to install with instruction for version 2.0/Swift3 coccoapod"
I follow the instrucctions for install Eureka with swift 3:

[code]
I get this error:
[code]

If I use directly the master branch, it install but not compile in Swift 3. I get this:

This is in new, blank project without modifications

Xcode:Version 8.0 (8A218a)
Pod: 1.1.0.rc.2

[2016-10-07 16:27] csimmonsbluebook commented on #713
@mamcx I was getting the same error.

After running 'pod repo update' to make sure that wasn't the problem I used:

pod 'Eureka', '~> 2.0.0-beta.1'

[2016-10-07 16:31] mamcx commented on #713
That fix the first issue, but still get the binary is incompatible. I get this additional warning:

It compile for device.

[2016-10-07 18:06] mtnbarreto commented on #713
Seems that it has to do with the project configuration or the cache. We've been using it through cocoapods and it works perfectly.

[2016-10-07 18:10] mtnbarreto commented on #712
try using this: https://github.com/EurekaCommunity/ImageRow

[2016-10-07 18:27] mtnbarreto commented on #558
This feature has been implemented in Eureka 2.0 beta 1. Take a look at the repository readme for more information.

Any feedback is welcomed.

[2016-10-07 18:32] mtnbarreto commented on #692
@rafaelmaroxa has implemented it, here the pull request  #710. It's already merged on swift2.3 branch.

[2016-10-07 20:23] cmbasnett commented on #558
Thanks for this. When I eventually convert the project to Swift 3 I will definitely make use of this. Something that's not really made clear in the README is whether or not a row that doesn't pass validation has some sort of a "error" displayed on the default rows. Is this the case?

[2016-10-07 20:34] kocherovets commented on #712
It does not work too. I will debug and write result here

[2016-10-07 21:26] mamcx commented on #713
You are rigth. i recreate manually the project and do the conversion to swift 3 without the wizard. It work now.

[2016-10-07 21:26] #713 closed

[2016-10-08 15:52] txaiwieser commented on #693
Yes, its now working as expected! Its a very weird but..
I saw how you've fixes, any idea why it doesn't work when using lazy vars? The problem was related to properties storage right?

[2016-10-08 16:10] GerdC commented on #656
2.0.0-beta.1 is fully Swift 3 compliant.

*but* there must be some configuration information inside the pod that makes Xcode 8 using an earlier swift version. XCode 8 proposes converting to Swift 3. If I agree, Xcode detects that there is no sourcecode to change. After finishing this process, Xcode 8 uses Swift 3 for Eureka 2.0.0-beta.1.

I've done the three times now. Happens each times I 'pod up

[2016-10-08 18:26] engmsaleh commented on #429
I have doubled checked and I couldn't find it anywhere.

[2016-10-08 20:13] GerdC opened #714 "SWIFT 3 configuration"
Each time I 'pod update' to 2.0.0-beta.1, XCode 8 forces me to update my project to Swift 3.

To examine what happens, I did the following

1. pod update to 2.0.0-beta.1
2. Commit everything to git using SourceTree
3. Let XCode 8 do the update to Swift 3
4. Look in SourceTree what is changed by the update.

I find that the update inserts the line
				SWIFT_VERSION = 3.0;
several times into the fil

[2016-10-08 23:19] amosavian opened #715 "PushRow how to set footer of section"
I didn't figure out how to do that. onPresent method is called before viewDidLoad()

[2016-10-10 00:37] RefuX commented on #2
Shame there isn't a multiline TextRow. I don't want to have to use up the real-estate unless I have to.

[2016-10-10 23:00] Laptopmini opened #716 "Help creating simple Custom Presenter Row"
Eureka: 1.7 (Swift 2 Branch)
XCode: 7.3.1 (Swift 2.2)
iOS Target: 9.0

Hi, I was wondering if I could get some help writing a simple Custom Presenter Row. I am attempting to initialize and present a new controller through one of the rows in my form.

I do not need the custom view to report anything to the form, I just want it to give access to the view like so:
![row](https://cloud.githubuserconte

[2016-10-11 00:02] mohan-shyam commented on #716
Hi,

Although this is not what you exactly need, please have a look at, http://stackoverflow.com/questions/39448586/how-to-present-a-viewcontroller-using-a-row-in-eureka-forms

Let me know if it doesn't make sense

[2016-10-11 00:08] mohan-shyam commented on #711
Have you set row.value?

[code]

[2016-10-11 00:16] mohan-shyam opened #717 "Fetch CoreData and display results as options in a PushRow"
How to fetch from CoreData and display the results as options in a PushRow?

I have two entities defined with a relationship between them as well. The second entity has a one to many relationship with the first one. I intend to use the results from second entity, as the values for the first one.

Any suggestions are welcome.. Thanks in advance.

[2016-10-11 04:21] chrisortman commented on #611
I was running into this too. @colinmorelli research pointed me in the right direction. I had a LabelRow at the bottom of my form that I was calling `.reload()` on in `ButtonRow.disabled` condition function.

Changing `.reload()` to `.updateCell()` fixed things for me.

[2016-10-11 10:15] chlebta opened #718 "TextRow & TextFloatLabelRow issue"
Hello,
When I click on `TextRow or TextFloatLabelRow` field I get this error
[code]
Even if I use `$0.value = "a value"` the app still crash when I click en textField row

- Environment: Eureka 2.0.0 beta 1 ; Xcode 8 ;  and iOS 9 and 10
![screen shot 2016-10-11 at 12 12 16](https://cloud.githubusercontent.com/assets/1204608/19266926/257ee7c8-8fac-11e6-9030-4cc0f5a44edb.png)

[2016-10-12 10:03] mohan-shyam commented on #717
I would like to add more information to my question...

Cell Setup:

[code]

Where audioDeviceList is `[AudioDevice]`

And, I try to get the values from the form,

[code]

Below is the error!!!

`Could not cast value of type '__NSCFString' (0x3857b6a8) to 'TestApp.AudioDevice' (0x10cb68).`

[2016-10-12 12:47] mats-claassen commented on #717
I believe the error comes because you are setting the name of the `AudioDevice` as option and therefore as value and then you try to cast that String to AudioDevice which won't work.

[2016-10-12 12:54] mats-claassen commented on #716
Your `CustomPushRow` says it will use a `SelectorViewController` but in the presentationMode it returns a `DeviceDetailSettingsViewController`.
You need to change the definition of your row to something like this:
`public final class CustomPushRow : SelectorRow<CustomCell, DeviceDetailSettingsViewController>, RowType`

[2016-10-12 14:37] plastus commented on #516
Any updates on this?

[2016-10-12 14:54] elsurudo opened #720 "MultipleSelectorRow & "noValueDisplayText" for empty value"
Right now, this text is only shown if the `value` is nil. IMO, it should also show if the value is empty (`count == 0`). Thoughts?

Or in case this is the way it is for a reason I hadn't thought of, what is the easiest way to implement the functionality I am looking for? Essentially, displaying some "prompt" text when the selection is empty.

[2016-10-12 15:58] supdann commented on #656
I just wanted to say that the cocoapods installation as it is explained in the readme did not work for me.

Instead I used:

[code]

This worked.

[2016-10-12 16:19] Amindv1 commented on #656
@supdann

You can do:

pod 'Eureka', '~> 2.0.0-beta.1'

but you're right the readme isn't right for swift 3.0

[2016-10-12 23:18] mohan-shyam commented on #717
Thanks for looking into this @mats-claassen . Yes, that is the reason for the error. But, how would you suggest a similar implementation?

An array of custom type which is an NSManagedObject subclass, has to be the `options` for a `PushRow`?? I'm a big fan of Eureka, and have it in my app, quite extensively. But, there are situations like these, where I'm clueless!! :/

Additional Info about `Audi

[2016-10-13 02:54] ZuYuanZhou commented on #714
I can't compile for swift 3 either. Any other settings?

[2016-10-13 04:31] mohan-shyam commented on #717
Tried implementing a custom row, by tweaking an existing view controller. But, in `cellForRowAtIndexPath`, `cell` value is turning out to be `nil`.

[code]

Console :

[code]

And, this viewController is working perfectly when used in a separate scenario..

[2016-10-13 11:03] mohan-shyam commented on #717
All I need is for a way to implement an array of custom type (`AudioDevice`) as the options and, when the user selects an option, it should be picked up. But, only an attribute(`AudioDevice.name`) of this custom type should be visible for selection.

Tried implementing it through a custom presenter row in vain. Unable to do it via PushRow. :(

[2016-10-13 12:55] elsurudo commented on #720
I ended up solving this by placing the following in the `cellUpdate` callback:

[code]

[2016-10-13 12:55] #720 closed

[2016-10-13 14:31] Rosenkreuz opened #721 "ImageRow How to get image data?"
I wanna upload to Firebase Strage from photo library picture.

[code]

[2016-10-13 15:46] caieylau commented on #714
I can't do it either.

[2016-10-13 16:28] caieylau commented on #714
I deleted the derived data folder and it worked after that. Go to Xcode -> Preference -> Location -> Derived Data Folder and delete it. Remove the pod -> Pod install -> Add it back in -> Pod install again! This worked for me. Worth a try!

[2016-10-13 17:36] floscom commented on #712
Add this in your info.plist

**Key:** Privacy - Photo Library Usage Description
**Value:** Allow photos

This should fix the problem!

[2016-10-13 18:33] GerdC commented on #714
My workaround works too: updating to Swift 3 as XCode suggests.

The point of this issue: Workarounds shouldn't be necessary.

[2016-10-13 18:50] marcelogfsouza opened #722 "PushRow, title going over value text"
Hi, I am using Xcode 7.3.1 with a device with iOS 9.2.1 and Eureka 1.7.0.
The issue that I am having is that I am using a push row and the information of the title and the value are coming from the backend, but the text is too big for the field so the title is going over the detail text. Maybe there is an constraint issue between those two labels.

Thanks

![img_0046](https://cloud.githubuserconte

[2016-10-13 19:14] RaduGrama commented on #656
Can anyone actually get Eureka to compile with Swift 3? Using a Pod like the one recommended in the readme file in a brand new empty project:

[code]

First it asks to convert to Swift 2.3 or Swift 3 (should it ask for that?) and then after clicking Convert to Swift 3 it generates 1,978 compile errors:

![image](https://cloud.githubusercontent.com/assets/88959/19363212/9a04c656-9157-11e6-8226-6883

[2016-10-13 19:18] mtnbarreto commented on #656
Somehow Xcode asks to convert Eureka to swift3 when integrated via cocoapods. From my understanding either Eureka last beta release or master branch are already written in swift 3 so we should skip the Xcode migration.
I will take a look at xcode settings/podspec spec to see what's going on when i have time.

[2016-10-13 21:45] christianhr opened #723 "Form inside a View instead ViewController"
I wonder if I can add my form within a UIView instead of a ViewController, I need some graphics on the top, just before of the Form

[2016-10-13 23:40] pwicks86 commented on #723
Just make a UITableView where you want your form to be and then hook it up to the tableView IBOutlet in FormViewController.

[2016-10-14 04:03] Amefuri opened #724 "Disable cell highlight in Eureka 2.0 ?"
Previously I do it like this

[code]

but with a replacement of .onCellHighlightChanged . I have no idea to achieve that.
I did try

`.onCellHighlightChanged({ (_, _) in })`

but It seem to not work like I thought.

[2016-10-14 08:48] supdann commented on #656
@Amindv1 , @RaduGrama , @mtnbarreto

I still wonder how do you even get this to work:
[code]
Every time I call pod install I get the following error:
![bildschirmfoto 2016-10-14 um 10 32 26](https://cloud.githubusercontent.com/assets/9986994/19380944/d42f702c-91f9-11e6-9a2b-3f095310fe0b.png)

But if I edit the Podfile like this, it seems to work fine:
[code]
![bildschirmfoto 2016-10-14 um 10 38 51

[2016-10-14 12:53] mats-claassen commented on #717
You can use `row.displayValueFor` which is a block that takes the value and returns the String which will be displayed

[2016-10-14 12:54] mats-claassen commented on #723
Exactly, your tableView does not have to occupy the whole screen.

[2016-10-14 12:57] sunbohong commented on #656
@supdann 2.0.0-beta.1 version has been published in  https://github.com/CocoaPods/Specs/blob/704194e8634b27e69b5f585a8cc9e6c70e69c551/Specs/Eureka/2.0.0-beta.1/Eureka.podspec.json

[2016-10-14 12:58] mats-claassen commented on #724
`onCellHighlightChanged` is called where in earlier versions both the other two callbacks were called. To know if the row is highlighted or not you should use `row.isHighlighted`

[2016-10-14 13:00] mats-claassen commented on #721
You want to get the image the user chose? `row.value` should be your answer

[2016-10-14 14:12] Rosenkreuz commented on #721
Thx!
Then i got the error.

[code]

[2016-10-14 14:27] Rosenkreuz commented on #721
make sense?
[code]

[2016-10-14 14:41] csimmonsbluebook commented on #711
The row value is typically updated automatically when selecting a PushRow's value. I'm not quite sure how I solved the problem, but I removed a few segue connections and the navigation controller. Then re-embedded the view in a navigation controller and made the connections again and it seems to be working for now.

[2016-10-14 14:41] #711 closed

[2016-10-14 14:48] csimmonsbluebook opened #726 "Modifying PushRow options cell textLabel"
Is there a way to change the PushRow option rows to have word wrap instead of cutting off the text by applying ... to the end?

Is there some option where you can modify the numberOfLines for the cells after the PushRow is shown?

You can see an example of this in the 4th row here:
![img_0527](https://cloud.githubusercontent.com/assets/19786779/19391640/8c45e406-91fb-11e6-8988-ef8929245b5e.PNG)

E

[2016-10-14 18:05] sahithya-carecloud commented on #53
hi
in the floatTextCell how do I put two fields in the single cell?

[2016-10-14 18:58] mtnbarreto commented on #726
similar to #299

[2016-10-14 18:58] #726 closed

[2016-10-14 19:02] mtnbarreto commented on #726
Take a look at these issues https://github.com/xmartlabs/Eureka/issues?utf8=%E2%9C%93&q=is%3Aissue%20selectableRowCellUpdate%20

[2016-10-14 19:03] #724 closed

[2016-10-14 19:15] #723 closed

[2016-10-14 19:24] csimmonsbluebook commented on #726
@mtnbarreto Sorry for the duplicate. Didn't see those issues. Fixed my problem. Thanks!

[2016-10-14 19:43] mtnbarreto commented on #722
It might be a constraint issue but it should be reported to UIKit apple guys since we are using the default table view cell to display PushRow cell.

As a workaround i recommend you to set up a shorter title by cutting it off or try adding additional constraints to get what you want.

[2016-10-14 19:43] #722 closed

[2016-10-14 19:45] marcelogfsouza commented on #722
Thanks for the information. I didn't know it was the default table view cell from Apple.

[2016-10-14 19:46] mtnbarreto commented on #721
row.value type is `UIImage?` and not NSData

[2016-10-14 19:46] #721 closed

[2016-10-14 19:54] mtnbarreto commented on #720
good solution..

[2016-10-14 20:28] mtnbarreto commented on #712
@kocherovets Could you get around of it using @floscom suggestion?

[2016-10-14 20:28] #712 closed

[2016-10-14 20:57] mtnbarreto commented on #718
Stack trace please...
Which was the dependency manager used to integrate the library?

[2016-10-14 20:59] chlebta commented on #718
Cocoapods
  pod 'Eureka', '~> 2.0.0-beta.1'

[2016-10-14 21:12] sderuiter opened #727 "disabled/hidden"
Hi, using Eureka Branch 2.3 on Xcode 8.

I think I have a pretty common pattern, but unsure if I'm tackling in the right way.
I have a listview table view controller, showing items. The controller has an ADD button. Clicking the button segues to an Eureka FormViewController. Clicking on a row in the list view table view controller also segues to the same Eureka FormViewController. Based on whether

[2016-10-14 21:20] mtnbarreto commented on #727
You must get the row and set `disabled` property again, this time using `false`.

There is no any binding between the variable and the condition you should update `disabled` value, invoke `evaluateDisabled()` and then reload the row, section or the entire form.

[2016-10-14 21:26] mtnbarreto commented on #727
related issues: #48 , #177, #307. Take a look at the example project and read all related issues to get more info. https://github.com/xmartlabs/Eureka/issues?q=label%3A%22Hiding+%26+Disabling+Rows%22+is%3Aclosed

[2016-10-14 21:26] #727 closed

[2016-10-14 21:37] mtnbarreto commented on #718
it's weird since the example project also contains these rows i couldn't make it crash.

[2016-10-14 22:20] mtnbarreto commented on #717
For more complex Selector rows customization use `selectableRowCellUpdate` as discussed in #299 .

[2016-10-14 22:21] mtnbarreto commented on #717
@mohan-shyam Have you solved your issue?

[2016-10-14 22:33] AlexandreFQM opened #728 "Help creating toolbar"
Hi guys,

Could you help me how can I add a toolbar using eureka?

Thanks.

[2016-10-14 22:54] rdadkins opened #729 "Invalid TextRow rule behavior"
There is currently an issue with `validate()` on TextRows. Suppose that you have two Rules for a TextRow; one is `RuleRequired` and the other is `RuleMaxLength` on a `TextRow`. The problem arises when you decide to validate a row that has 0 characters in it. The errors returned include `RuleRequired` which would be expected with a TextRow of 0 length. However, `RuleMaxLength` is also returned as a

[2016-10-14 23:15] mtnbarreto commented on #718
I just created a cocoapods project from scrach and seems to work fine.

This is my podfile...

# Uncomment the next line to define a global platform for your project
platform :ios, '9.0'

[code]

[2016-10-14 23:16] mtnbarreto commented on #718
@chlebta  Could you please upload a project having the issue so i can take a look...?

[2016-10-14 23:37] mtnbarreto commented on #714
@GerdC Seems to me that configuration (SWIFT_VERSION = 3.0) is already there (in eureka framework).

Check your cocoapods version please. You should use the newest one.

I just checked cocoapods integration in a project created from scratch using Xcode 8 and it works perfectly.

[2016-10-14 23:37] #714 closed

[2016-10-14 23:46] mtnbarreto commented on #714
According cocoapods release notes to get this property set up  ("[Installer] Set the SWIFT_VERSION for CocoaPods generated targets") you should have used cocoapods 1.1.0.beta.1 and above.

you can install pre release versions by `gem install cocoapods --pre`

[2016-10-14 23:51] mtnbarreto commented on #656
Which cocoapods version are you using?
mine is `1.1.0.rc.3` and it works properly.

related with #714

[2016-10-15 02:01] vincentlkl opened #730 "Unable to open multiselector as actionsheet way"
I am trying style my multiselector, I am not able to find extra documentation on it.

currently my code is:
form.last! <<< MultipleSelectorRow<String>() {
            $0.title = "ActionSheetRow"
            $0.selectorTitle = "Pick a number"
            $0.options = ["One","Two","Three"]
}

and the result is

![actionsheet](https://cloud.githubusercontent.com/assets/2097251/19406714/d19c84a2-92bd-

[2016-10-15 02:21] rdadkins commented on #729
This appears to be `RuleMaxLength` guard check in `isValid`. If there is an empty String passed to isValid, it treats it as nil and thus returns the error. I have a temporary fix that looks like the following:

[code]

or with guard:

[code]

[2016-10-15 17:52] JorgeAGomez commented on #656
I have the same problem. I need to convert the code to Swift3 every time I `pod install` . Even though it does not make any changes it still asks me to convert it every time.

[2016-10-15 18:26] mtnbarreto commented on #656
Which is your cocoapods version ?
Seems to me you should use release candidate version

[2016-10-15 21:07] rigobertomolina opened #731 "TextField Custom TextField InputView"
How would I be able to access the row's textField? I want to use my own inputView, & I don't know how to accomplish this by creating a custom cell. Thanks.

[2016-10-15 21:59] JorgeAGomez commented on #656
I am running pod version 1.0.1

[2016-10-16 05:06] ldiqual opened #732 "`defaultCellSetup` not called when row has `disabled` property"
I'm encountering an issue where assigning to `disabled` prevents the `defaultCellSetup` of that cell type to be called:

![image](https://cloud.githubusercontent.com/assets/941453/19415349/e61ac442-9322-11e6-8b0d-b55c1a115346.png)

Notice how the `Middle Name` cell is not styled properly. Removing the assignment to `disabled` fixes the issue.

### Code

[code]

### Environment

 - Cocoapods 1.1.0-

[2016-10-16 06:07] GerdC commented on #714
Yes, `gem install cocoapods --pre` fixes the problem.

[2016-10-16 19:48] isabella-rhyu commented on #661
I had a very similar issue in Xcode 8. I am using the `swift2.3` branch but the Eureka framework in my project is still giving several errors, especially with optionals and saying that 'AlignAllBaseline' is not available in Swift. Like @jc-paris I don't want to change your code, any advice?
Thank you

[2016-10-17 02:47] mohan-shyam commented on #717
Not yet, @mtnbarreto .. Will close it myself once I'm able to sort this out. Please bear with me (very slow learner :-/ )

[2016-10-17 03:57] Amefuri commented on #724
Actually, I didn't want to know when the row is highlighted, instead I want to disable/remove the default blue highlighted.

.onCellHighlight { _, _  in }
.onCellUnHighlight { _, _ in }

does the job since it override the default behaviour I assumed.

[2016-10-17 04:16] Amefuri commented on #724
ok I end up with setup cell tintColor with the same color as titleTextColor. not sure if this is the right way to do it but it work for me.

[code]

[2016-10-17 06:27] mohan-shyam commented on #717
Okay, I've finally managed to have it display the way I want. But it crashes when I try to select an option..!!!

[code]

Console output:

[code]

A screenshot as well,

<img width="805" alt="screen shot 2016-10-17 at 11 54 49" src="https://cloud.githubusercontent.com/assets/14356135/19427285/a5939072-9460-11e6-9e4d-da35e5a7982b.png">

Not sure why it's ending up as `nil`!?

[2016-10-17 07:16] samritchie opened #734 ""Subclassing cells using the same row" documentation is vague"
It seems likely that a common scenario would be to customise the look of a row with a nib file, but retain all of the built-in functionality - this is called out in an explicit section [Subclassing cells using the same row](https://github.com/xmartlabs/Eureka#subclassing-cells-using-the-same-row).

However, I’ve had no luck following the instructions here. Some issues I’ve managed to resolve after

[2016-10-17 07:21] supdann commented on #656
@mtnbarreto

I updated cocoapods from 1.1.0.rc.2 to 1.1.0.rc.3, and can't install yet using pod **'Eureka', '~> 2.0.0-beta.1'**, I m still getting the same error as in my previous comment (The one with the red text):
[code]
I uninstalled the other cocoapods versions just to be sure. Any other idea about what I should check?

[2016-10-17 07:49] chlebta commented on #718
@mtnbarreto Even me, I can't repreduce the issue on sample project, also I can't push my project to public.

I've delete all pods and re-install but always same issue with textRows.
<img width="1280" alt="screen shot 2016-10-17 at 09 48 52" src="https://cloud.githubusercontent.com/assets/1204608/19429241/eb3337e8-944e-11e6-88a8-308d135747e9.png">

[2016-10-17 07:53] chlebta commented on #656
@christianhr I got the same issue as you did you find what's causing that ??

@mtnbarreto

[2016-10-17 08:12] chlebta commented on #718
I've reproduced the issue :
[sample.zip](https://github.com/xmartlabs/Eureka/files/532698/sample.zip)

[2016-10-17 09:48] mohan-shyam commented on #717
@mats-claassen , @mtnbarreto , I have managed to get this done. Thanks very much for your support. Kudos, to you both..

Refrained from using a custom row, as it was too complicated and resulted in the issues above. Settled on using `displayValueFor` as @mats-claassen suggested.

Looks like I spent a lot of time figuring out nothing!! :-/

[2016-10-17 09:48] #717 closed

[2016-10-17 15:36] mats-claassen commented on #661
Are you using Cocoapods? If so you should be using the latest pre-release.
If not then I don't know where the issue may be.

[2016-10-17 15:50] mats-claassen commented on #732
@ldiqual The issue must lay somewhere else as I copied your code and it is styled correctly. Also setting the disabled property does not affect if `defaultCellSetup` is called or not.

[2016-10-17 16:05] mats-claassen commented on #734
Thanks for sharing your comments. We will try to make this more clear.
A few comments on your points:
This was intended for those cells that already rely on a nib file as the others as you said have no outlets. Primarily, some of the cells in [EurekaCommunity](https://github.com/EurekaCommunity) like the PostalAddressRow are set up like this. So you cannot do this with a `FieldCell`. I agree that

[2016-10-17 17:12] #734 closed

[2016-10-17 18:02] ldiqual commented on #732
@mats-claassen Found the issue with my code, I was setting  `NameRow.defaultCellSetup` *after* creating the form, which works for all rows but the ones that have a `disabled` attribute. My guess is that as soon as `disabled` is assigned, the corresponding row is set up, instead of waiting for a layout cycle of some sort.

In short, to fix this: assign `defaultCellSetup` first, then create the sect

[2016-10-17 18:02] #732 closed

[2016-10-17 21:01] mtnbarreto commented on #656
@supdann @chlebta Somehow you don't have eureka spec repo,
try this: https://guides.cocoapods.org/terminal/commands.html#pod_repo_update

[2016-10-17 21:08] mtnbarreto commented on #730
There is no such multiple selector action sheet row. You should create a custom row. Follow the documentation and take a look at build in rows.

Please make this kind of question on stackoverflow as contribution guide points out, you will have a better luck since the community eventually will help.

[2016-10-17 21:08] #730 closed

[2016-10-17 21:11] mtnbarreto commented on #730
These blog posts may help:

https://blog.xmartlabs.com/2016/09/06/Eureka-custom-row-tutorial/
https://blog.xmartlabs.com/2016/09/23/Eureka-custom-row-tutorial-2/
https://github.com/xmartlabs/Eureka#custom-rows

[2016-10-17 21:29] Amindv1 commented on #656
Yea cocoapods no longer runs 'pod repo update' when you do 'pod install' so it would make sense that you don't have the right eureka spec repo. Try running 'pod repo update' and then 'pod install' and see if that fixes your problem.

[2016-10-17 21:40] mtnbarreto commented on #731
These blog posts may help:

https://blog.xmartlabs.com/2016/09/06/Eureka-custom-row-tutorial/
https://blog.xmartlabs.com/2016/09/23/Eureka-custom-row-tutorial-2/
https://github.com/xmartlabs/Eureka#custom-rows

If after reading these you still need helps please ask on stack overflow as contributing guidelines points out.

I recommend you to take a look at `TextFloatLabelRow` custom row implemented

[2016-10-17 21:40] #731 closed

[2016-10-17 21:41] mtnbarreto commented on #731
similar to #730

[2016-10-17 22:12] mtnbarreto commented on #729
Could you please make a pull request with the fix?

[2016-10-18 00:07] samritchie commented on #734
Great, thanks for the update!

[2016-10-18 00:31] Laptopmini opened #736 "How to get Section offset in form and scroll to it?"
Eureka: 1.7 (Swift 2 Branch)
XCode: 7.3.1 (Swift 2.2)
iOS Target: 9.0

**I would like to open one of my form and scroll down to a particular section automaticly.**

My idea was to set the title of the desired section in one of the class's variable before presenting it:
`var sendToSection: String?`

Then in my view controller:
[code]

However, I quickly realized that `Section` does not offer a `fra

[2016-10-18 04:15] isabella-rhyu commented on #661
I'm not using Cocoapods, the errors seem to be intermittent, which is strange. I cleaned my project and built it successfully last night but after re-opening it this afternoon they had come back and persisted after another clean.

[2016-10-18 07:44] ZuYuanZhou opened #737 "Can't get value from textCell when tap Done button"
I am using
[code]

**swift 3**

After input some text in the cell, tap 'Done' button, below func be called. But get the text is empty.
[code]

[2016-10-18 07:45] AyusSalleh opened #738 "Validation Message"
I got 2 question

1. How can i create error message for required field. Example : row.title = state. so the error message will be "State is required". The error message for required field is change respectively follow its field title.

2. How can i change error message for certain field after click some action. Example: click submit, there error is wrong password. So the error message below the fi

[2016-10-18 08:38] chlebta commented on #656
Always same issue I thinks it's related to subclassing can you check my sample project
https://github.com/xmartlabs/Eureka/issues/718

[2016-10-18 08:42] #737 closed

[2016-10-18 08:42] ZuYuanZhou commented on #737
My mistake.

[2016-10-18 08:43] chlebta commented on #718
After debugging I think it's subclassing issue, because if my class `ViewController` inherit directly from `formViewController` then it works fine but if inherit `MasterViewController` then it bugs

[2016-10-18 13:08] mats-claassen commented on #661
I did just create a project from scratch using Cocoapods and Eureka from `swift2.3` and it worked (I had to set `Use Legacy Swift Language Version ` to YES in the build settings of Eureka target).
So if you have correctly st that setting it should work. Did you try deleting the build folder in `DerivedData`? (or `Option` + `Product -> Clean Build Folder`)

[2016-10-18 15:12] mtnbarreto commented on #736
`FormViewController` has a `tableView` outlet that is the `UIScrollView` you are talking about.

You will have to get the section index and then scroll to its correspond table view section or section first row.

Something like this....

[code]

[2016-10-18 15:24] mtnbarreto commented on #736
Here is how we can scroll to a particular row, it may be helpful too:
 https://github.com/xmartlabs/Eureka/blob/master/Source/Core/Core.swift#L843

[2016-10-18 15:28] #736 closed

[2016-10-18 15:30] #701 closed

[2016-10-18 15:59] icobani opened #740 "Refresh form"
Hi folk,

i m new developer for Eureka. I m trying calculate to  totalDuration and set this value with valuesDictionary Item.

But i cannot refresh the form.
I think i need some modification in my code.  Can you suggest a method for this issue.

thanks

-ici-

`
//
//  EditWorkhourViewController.swift
//  Workhour
//
//  Created by Ibrahim COBANI on 17/10/2016.
//  Copyright © 2016 b1. All rights

[2016-10-18 18:40] isabella-rhyu commented on #661
That worked!
Thank you!

On Tue, Oct 18, 2016 at 6:08 AM, Mathias Claassen <notifications@github.com>
wrote:

[2016-10-18 19:21] Laptopmini commented on #738
Your question is too broad. What do you mean create an error message?

Print it out?
Present a UIAlert?
Present it in a custom view?

[2016-10-18 19:23] Laptopmini commented on #736
Thanks for help @mtnbarreto. Much appreciated.

[2016-10-18 19:28] JorgeAGomez commented on #656
It works now. I updated cocoapods version to 1.1.0.rc.3 and also runned `pod repo update` and `pod install` and now everything works as expected. Thanks!

[2016-10-18 19:30] #729 closed

[2016-10-18 19:35] mtnbarreto commented on #738
Are you asking for this: #733?

[2016-10-18 19:48] mtnbarreto commented on #740
According Eureka [documentation](https://github.com/xmartlabs/Eureka#how-to-set-the-form-values-using-a-dictionary) ..

Seems that in the code you posted you are not reloading the visible rows.

[2016-10-18 19:51] mtnbarreto commented on #740
similar to #673

[2016-10-18 20:01] mtnbarreto commented on #740
Alternatively, you can also get the "totalDuration" row, set its value and reload it.

[code]

[2016-10-18 20:03] #740 closed

[2016-10-18 21:30] mtnbarreto commented on #738
validationMessage has nothing to do with how we show the errors. The validation error display should be done by the developer based on Eureka notifications to onRowValidationChanged callback as Example project shows.

#733 was merged into master so now we can pass the validation message as last rule init parameter.

The only way to update a rule message is by assigning a id to the rule and then re

[2016-10-18 22:03] mtnbarreto commented on #718
When overriding `viewWillAppear` from `MasterViewController` you must call super implementation.
Seems you forgot to call it.

[code]

[2016-10-18 22:04] #718 closed

[2016-10-18 22:06] #738 closed

[2016-10-18 22:17] #488 closed

[2016-10-19 08:17] huangboju opened #742 "Use carthage installation error"
<img width="440" alt="2016-10-19 4 15 53" src="https://cloud.githubusercontent.com/assets/14818224/19510810/57944110-9617-11e6-9a5f-79739fbe9d82.png">

<img width="695" alt="2016-10-19 4 16 27" src="https://cloud.githubusercontent.com/assets/14818224/19510831/6aae9638-9617-11e6-828f-0c25175b8196.png">

[2016-10-19 09:42] supdann commented on #656
@mtnbarreto
You were right, it seems like the problem was that I had to update the spec repo.
Now it works properly. The steps I followed to make it work were:

Install Cocoapods 1.1.0.rc.3
[code]
Update the spec repo (This step took quite a while)
[code]
And finally install whatever is inside in your Podfile
[code]

[2016-10-19 13:01] mohan-shyam commented on #715
@amosavian , you don't setup header/footer for a row (PushRow,..,...,). It is only for a section, as far as I know. And if I understand your issue correctly, below is my solution.

`+++ Section(header: "header",footer: "footer")`

[2016-10-19 13:02] mohan-shyam commented on #715
@mtnbarreto , Actually I was wondering, if the footer can be changed dynamically based on the row value?

[2016-10-19 13:36] chlebta commented on #673
@mtnbarreto avec `setValues` il faut utilise `tableview.reloadData()`  refresher les valeurs ?

[2016-10-19 13:54] mats-claassen commented on #53
You cannot. You must create a custom row for that

[2016-10-19 13:57] mats-claassen commented on #742
Seems to work with `github "xmartlabs/Eureka" ~> 2.0.0`.
It is as if Carthage does not support hyphens in the version string

[2016-10-19 15:19] amosavian commented on #715
@mohan-shyam  PushRow has not section, but I resolved this issue with this code myself

        .onPresent { (form, selector) in
            selector.enableDeselection = false
            selector.selectableRowCellUpdate = { (cell, row) in
                guard selector.form.last?.footer == nil else {
                    return
                }
                let footer = "Footer text here"

[2016-10-20 02:37] roshanman opened #743 "combo `Validator` is very well."
[Validator]https://github.com/adamwaite/Validator
Validator is a user input validation library written in Swift.

[2016-10-20 06:27] Sweeper777 opened #744 "Section doesn't conform to 2 protocols"
I updated my code to Swift 3 and 2 errors appear:

How do I fix them? I tried cleaning and rebuilding but the errors stay there.

[2016-10-20 06:52] CrislerAnytimes opened #745 "Errors with customs rows after upgrading to Swift 3"
Hi, I did some custom rows in Eureka and it was working fine in xcode 7 and the old version of Eureka.  I Upgraded Eureka and xcode to the latest version and I got these error after upgrading and I don't know how to fix it or what I'm doing wrong since it was working before.

Type 'ProfileHeaderRow' does not conform to `Taggable`
Type `ProfileHeaderRow` does not conform to `BaseRowType`
Type 'Prof

[2016-10-20 12:13] sivakspt commented on #742
github "xmartlabs/Eureka" ~> 2.0.0.1

Use the above and it will work.

[2016-10-20 15:28] mtnbarreto commented on #745
@CrislerAnytimes you are right, we have done some changes on how to specify custom rows...

This migration guide should be helpful to performs necessary changes. https://github.com/xmartlabs/Eureka/blob/master/Documentation/Eureka%202.0%20Migration%20%20Guide.md

[2016-10-20 15:29] #745 closed

[2016-10-20 15:36] mtnbarreto commented on #743
@roshanman The issue propose is unclear for me.  Do you want to consider this library as validation library?

We have implemented a build-in [validations feature](https://github.com/xmartlabs/Eureka#validations). We can eventually add more validations similar to these that https://github.com/adamwaite/Validator has.

[2016-10-20 15:36] #743 closed

[2016-10-20 15:50] mtnbarreto commented on #744
Seems you are still using eureka 1.x version. Please make sure you integrated the right version.

If yo need additional help i would like to see Swift version, cocoapods/carthage version and how you integrated Eureka in your project.

[2016-10-20 15:52] Sweeper777 commented on #744
I am just doing

    pod 'Eureka'

In my pod file, is that wrong?

[2016-10-20 16:04] Sweeper777 commented on #744
Cocoapod version is 1.1.0.beta.1 and as I said I am using swift 3

[2016-10-20 16:26] mtnbarreto commented on #744
Eureka 2.0.0 is still in beta so to install it you should follow [readme instructions](https://github.com/xmartlabs/Eureka#installation).

[2016-10-20 16:27] #744 closed

[2016-10-20 16:33] #742 closed

[2016-10-20 16:48] mtnbarreto commented on #728
Is your form (`FormViewCotroller`) embedded into a UINavigationController?

[2016-10-20 16:53] mtnbarreto commented on #728
Eureka does not manage any toolbar. You can do it by following Apple [reference](https://developer.apple.com/library/content/documentation/UserExperience/Conceptual/UIKitUICatalog/UIToolbar.html).

You can also add a toolbar to your FormViewController through interface builder and show the table view below.

[2016-10-20 16:53] #728 closed

[2016-10-20 17:30] #691 closed

[2016-10-20 17:42] mtnbarreto commented on #656
Readme was updated with the specific version of cocoapods that should be used to install eureka.
I think we can close this issue for now.

[2016-10-20 17:42] #656 closed

[2016-10-20 17:44] #623 closed

[2016-10-20 17:45] mtnbarreto commented on #623
If you are still experiencing the issue, please send the stack trace and reopen the issue.

[2016-10-20 18:12] mtnbarreto commented on #558
In order to change how a row looks like depending on validation you should use `row.isValid` from `cellUpdate` callback.

By default Eureka validations doesn't alter the UI. Take a look at the example project to know how to do so.

[2016-10-20 18:12] #558 closed

[2016-10-20 20:38] mtnbarreto commented on #119
There is a new way to do so by setting up `selectableRowCellUpdate` selectable controller property from `onPresent` PushRow callback ....

Take a look at #299, #365, #408, #726, #717

[2016-10-20 20:38] #119 closed

[2016-10-20 20:50] mtnbarreto commented on #314
We have a lot of documentation about how to create custom rows such as blogposts (https://blog.xmartlabs.com/2016/09/06/Eureka-custom-row-tutorial/, https://blog.xmartlabs.com/2016/09/23/Eureka-custom-row-tutorial-2/) and repository [readme](https://github.com/xmartlabs/Eureka#custom-rows).
Every Eureka build-in row is like a custom row so you can take a look at the native rows as well as Example

[2016-10-20 20:50] #314 closed

[2016-10-20 21:22] skrosoft opened #746 "Validation customized message"
Hello,

I'm looking to use Spanish message in validation.

With some Rules I am able to customize the message:

But with RuleRequired() it is imposible

![image](https://cloud.githubusercontent.com/assets/4645565/19578449/1085e770-96f2-11e6-8c41-b302e51065a3.png)

Could someone help me?

[2016-10-20 21:31] mtnbarreto commented on #746
RuleRequired is a generic struct I think, so the right way to initialize it is...

[code]

Normally when you add the required rule to a row you use `add(rule:)` method and the generic type is automatically inferred so you don't need to specify it.

Take into account that the msg can be set up passing it as last init parameter (only available in master branch code).

[2016-10-20 21:32] #746 closed

[2016-10-20 21:43] mtnbarreto commented on #539
We've implemented validations feature in Eureka 2.0.0.

You should use some of these rules  `RuleGreaterThan, RuleGreaterOrEqualThan, RuleSmallerThan, RuleSmallerOrEqualThan` to provide validation feedback to the user. Check out Example project and Eureka validations' [documentation](https://github.com/xmartlabs/Eureka#validations).

[2016-10-20 21:43] #539 closed

[2016-10-20 21:45] skrosoft commented on #746
It works! thank you. In my version, the init() function didnt had a "msg" parameter.
I had to remove the pod from the Podfile, launch install and add it back;

Vincent

[2016-10-20 22:10] #534 closed

[2016-10-20 22:13] mtnbarreto commented on #298
We have added a lot of documentation about how to create custom rows such as blogposts (https://blog.xmartlabs.com/2016/09/06/Eureka-custom-row-tutorial/, https://blog.xmartlabs.com/2016/09/23/Eureka-custom-row-tutorial-2/) and repository [readme](https://github.com/xmartlabs/Eureka#custom-rows).
Every Eureka build-in row is like a custom row so you can take a look at native rows as well as Exampl

[2016-10-20 22:13] #298 closed

[2016-10-20 22:14] skrosoft opened #747 "A new rule - Row equals to Row"
Hello,

It could be usefull a validator that allow us to compare 2 row values, example with the field Password and PasswordConfirm, both field must have the same value to make data valid.

`$0.add(rule: RuleEqualsToRow(msg:"Password doesnt match.", tag:"password"))`

Vincent

[2016-10-21 13:15] chlebta commented on #105
@mtnbarreto -
I'm trying to create swipe to left but it doesn't work this is my code ( those function are never called ):
[code]

[2016-10-21 15:45] mtnbarreto commented on #747
@skrosoft  Makes total sense, Could you implement it and make a pull request?

[2016-10-21 15:55] mtnbarreto commented on #716
@Laptopmini there is a button row with present functionality: [ButtonRowWithPresent<VCType: TypedRowControllerType>](https://github.com/xmartlabs/Eureka/blob/master/Source/Rows/ButtonRowWithPresent.swift)

[code]

Let me know if that works for you...

[2016-10-21 17:30] ghost opened #748 "official release date of version 2.0.0"
Thanks for this great project!

I am wondering do you guys have an expected date for the official release of 2.0.0?

[2016-10-21 18:36] #748 closed, assigned to nobody

[2016-10-21 20:46] mtnbarreto commented on #524
After CLLocation async returns you should save the data somewhere and reload the row by calling `row.reload()`.
`row.reload()` must be invoked from main thread.

[2016-10-21 20:46] #524 closed

[2016-10-21 23:23] mirzadelic opened #749 "SelectableSection get value from selectedRows"
I have problem with `selectedRows()` in `SelectableSection`.
Using Xcode 8, Swift 3, Eureka 2.0.0-beta.1.

[code]
now i have problem with this line `invoiceParams["branches"] = branch_section!.selectedRows().map({$0.value!})`
[code]

What is problem here? This worked with previous versions on swift 2.3.

[2016-10-22 03:27] skrosoft commented on #747
#750 here it is the pull request. @mtnbarreto please let me know if it seems good for you.

[2016-10-22 04:40] mohan-shyam commented on #454
I have a similar problem, and I have no clue how to connect? I would be really glad, if either @mtnbarreto  or @mats-claassen , could take time to explain..

By the way, this is what I tried..

<img width="260" alt="screen shot 2016-10-22 at 09 57 15" src="https://cloud.githubusercontent.com/assets/14356135/19616911/42723390-983e-11e6-893c-c6a5a0bf0c9e.png">

Assuming that I made the correct conne

[2016-10-22 10:51] dhiraj-tagrem opened #751 "Rows Not scrolling above keyboard when becomes first responder."
Xcode 7.3.1
Deployment Target: iOS 8
Eureka Pod Version: 1.6.0
Swift Version 2.3

I am using Eureka in one of my app but the problem being is that when any text row becomes first responder, its not scrolling above keyboard and still lay below keyboard which makes that field and non visible and thats why difficult to make input. Also when tableview is scrolled up to pull that row in visible are, ke

[2016-10-22 22:08] peymankh commented on #693
@mtnbarreto The same thing seems to be happening for UITextView as well.

[2016-10-24 00:51] yesez5 opened #753 "Pod 1.7 / Swift 2.3"
Hi, I just updated Eureka through Pods to the version 1.7 for getting compatibility with Swift 2.3. But currently, Pods downloads the version 1.6 which is not compatible with Swift 2.3. So I had to specify my pod in this way:

`pod 'Eureka', :git => 'https://github.com/xmartlabs/Eureka.git', :branch => 'swift2.3'`

Is this a bug or I am doing something wrong?
Thanks guys for your amazing work.

[2016-10-24 14:58] mats-claassen commented on #753
There is no Swift 2.3 release. The only way of using it is as you mentioned with branch `swift2.3`.

[2016-10-24 15:11] #753 closed

[2016-10-24 16:27] mtnbarreto commented on #751
Probably you forget to call `viewWillAppear`, `viewDidLoad` super implementation when overriding it.
I really appreciate if you report these issues attaching the relevant code.

[2016-10-24 16:37] mtnbarreto commented on #749
try with
[code]

[2016-10-24 16:38] mtnbarreto commented on #749
I don't know what's going on...

[2016-10-24 16:51] Isuru-Nanayakkara opened #754 "Change the height between sections"
* Eureka version: 1.6
* Xcode 7.3
* iOS 9.3.5

I want to reduce the height between sections. I searched for existing issues here and found [this](https://github.com/xmartlabs/Eureka/issues/243#issuecomment-181948494) and [this](https://github.com/xmartlabs/Eureka/issues/368#issuecomment-209524909). But neither of them worked for me.

I was able to whip up a solution using those answers. But I was

[2016-10-24 17:17] mtnbarreto commented on #754
Hey @Isuru-Nanayakkara , this is the proper way to change the space between sections.

Aa a workaround you can implement a global function to do so for each row.

[code]

[2016-10-24 17:17] #754 closed

[2016-10-24 17:18] #751 closed

[2016-10-24 18:04] davros1970 opened #755 "FormViewController.keyboardWillShow() not scrolling to offscreen row"
In method, FormViewController.keyboardWillShow(), my TextRow is not being scrolled to when the TextRow becomes the first responder.

This block of code is not executed, indexPath() returns nil. cell is not nil. It has a reference to the proper responder TextCell.

`
            if let selectedRow = table.indexPath(for: cell) {
                table.scrollToRow(at: selectedRow, at: .none, animated:

[2016-10-24 18:09] mtnbarreto commented on #749
the following code works for me (eureka 2.0 beta 1, Swift 3)..

[code]

Seems swift get confused with all these types, please provide more info to swift by splitting up your code into multiple lines and providing type information.

[2016-10-24 18:09] #749 closed

[2016-10-24 18:13] mtnbarreto commented on #749
[T] is not an object and seems swift now cannot assign a swift array to AnyObject.
Why don't use `Any` instead of `AnyObject`?

[2016-10-24 18:28] davros1970 commented on #755
I tried to override FormViewController.keyboardWillShow() and use my suggested fix "table.indexPathForRow(at: cell.center)" but that did not fix my issue.

[2016-10-24 18:29] mtnbarreto commented on #755
For offscreen rows you should use UIKit methods like this...

[code]

[2016-10-24 18:30] #755 closed

[2016-10-24 18:47] davros1970 commented on #755
Sorry, but your answer did not work for me. Only in viewDidAppear will such a solution work.

[2016-10-24 18:48] mtnbarreto commented on #755
you are right,  I should have written `viewDidAppear`. :)

[2016-10-24 18:51] davros1970 commented on #755
OK. Is that an iOS API limitation or a Eureka limitation? I guess my simplistic question is 'How do I tell Eureka which row is the first responder when setting up my form?' Is what I'm doing the expected way of doing this? I need the keyboard open to a specific TextRow when the ViewController comes to life.

[2016-10-24 19:00] mtnbarreto commented on #755
I would not say that is a Eureka limitation...

The expected way to do so is by using UIKit helpers as you are doing now.

If you need the first responder on a specific field, first make the row visible (without animation) then assign the first responder.

Eureka does a lot of stuff and seems to me that exposing these kind of helpers makes the things harder to understand and also to maintain the p

[2016-10-24 19:19] davros1970 commented on #755
Ok. Thx for the quick feedback! Much appreciated!

[2016-10-24 20:15] mliudev opened #756 "Retrieving ValidationErrors when row is not valid."
Hi,

I'm currently using Eureka 2.0.0-beta.1 with Swift 3 and XCode 8. I'm researching using the new validations feature to replace what we have implemented with the Validator library. One of the required functionality to implement the switch is the ability to retrieve the error messages associated with invalid rows.

According to the Eureka docs I can check whether is a row is valid or invalid bu

[2016-10-24 22:23] #756 closed

[2016-10-24 22:24] mtnbarreto commented on #756
@mliudev  I've updated the readme with the information you are looking for.

[2016-10-25 01:27] benji4720148 opened #758 "I am trying to add an ImageRow using Eureka, why do I keep getting use of unresolved identifier ImageRow Error, what am I not doing correctly?"
![screen shot 2016-10-24 at 9 18 29 pm](https://cloud.githubusercontent.com/assets/10980373/19669867/b9f4eb62-9a30-11e6-85cd-67775fd46120.png)
Before submitting issues ...

- Make sure you are using Eureka [latest release](https://github.com/xmartlabs/Eureka/releases) or master branch version.
- Make sure your Xcode version is the latest stable one.
- Check if the issue was [already reported or fi

[2016-10-25 01:29] #758 closed

[2016-10-25 01:31] benji4720148 opened #759 "I am trying to add an ImageRow using Eureka, why do I keep getting use of unresolved identifier ImageRow Error, what am I not doing correctly?"
![screen shot 2016-10-24 at 9 30 30 pm](https://cloud.githubusercontent.com/assets/10980373/19669919/2ccc2c0e-9a31-11e6-8b32-28b5c7fa8abd.png)